SteppIR/N6U Original/SteppIR-39.json
[{"id":"41edb181.ac2eb8","type":"tab","label":"SteppIR","disabled":false,"info":""},{"id":"b95bcf70.cf9948","type":"serial in","z":"41edb181.ac2eb8","name":"SteppIR In","serial":"3404d23a.b86a3e","x":160,"y":100,"wires":[["e6a0e65f.f633f8","61f4f46d.e137e4","e4e6e125.41b82","d1127c99.3463c"]]},{"id":"9f01f87.61f6908","type":"serial out","z":"41edb181.ac2eb8","name":"SteppIR Out","serial":"3404d23a.b86a3e","x":950,"y":240,"wires":[]},{"id":"c3f55134.23d62","type":"inject","z":"41edb181.ac2eb8","name":"","topic":"","payload":"?A","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"","x":350,"y":180,"wires":[["2ff89ff8.2826b","1d7a0134.ebb937"]]},{"id":"2ff89ff8.2826b","type":"function","z":"41edb181.ac2eb8","name":"AddCR","func":"msg.payload=msg.payload+\"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["9f01f87.61f6908","34e6ed29.143fb2"]]},{"id":"e6a0e65f.f633f8","type":"function","z":"41edb181.ac2eb8","name":"ParseSteppirBuffer","func":"var Direction = 0;\n\nvar DirectionStrings = [\"Norm\",\"BiDir\",\"180\",\"3/4\",\"BiDir\",\"5\",\"6\",\"7\"];\n\nvar Frequency =0;\n\nvar MotorFlag =0;\n\nFrequencyBuffer= new Buffer(msg.payload); \n\nFrequency =  FrequencyBuffer[3] *256 *256 ;\nFrequency =  Frequency+ FrequencyBuffer[4] *256 ;\nFrequency =  Frequency+ FrequencyBuffer[5];\n\nflow.set(\"SteppIRfromFreq\",Frequency);\n\nDirection = FrequencyBuffer[7];\nDirection = (Direction & 0b11100000) >> 5;\n\nMotorFlag = FrequencyBuffer[6];\n\nflow.set(\"SteppIRMotorFlag\",MotorFlag);\nflow.set(\"SteppirDirectionFlag\",DirectionStrings[Direction] );\n\nmsg.payload = Frequency + \",\" + DirectionStrings[Direction] + \",\" + MotorFlag;//Frequency;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["a18b5921.4f2f18"]]},{"id":"61f4f46d.e137e4","type":"function","z":"41edb181.ac2eb8","name":"SendSteppirFrequencyOrCommand","func":"//var context = this.context().flow;\n\nvar Frequency =0;\nvar FromFrequency =0;\n\nFrequency= flow.get(\"FlexTXFreq\");\n\n\n\nFrequencyBuffer= new Buffer(msg.payload); \n\nFromFrequency =  FrequencyBuffer[3] *256 *256 ;\nFromFrequency =  Frequency+ FrequencyBuffer[4] *256 ;\nFromFrequency =  Frequency+ FrequencyBuffer[5];\n\n//flow.set(\"SteppIRfromFreq\",FromFrequency);\n\n//Frequency = 1420000;\n\nFrequencyBuffer[1] = 0x41 ;\n//FrequencyBuffer[3] = 0x15 ;\n//FrequencyBuffer[4] = 0xAA;\n//FrequencyBuffer[5] = 0xE0;\n\nFrequencyBuffer[3] = (Frequency&0xFF0000) >> 16 ;\nFrequencyBuffer[4] = (Frequency&0x00FF00) >>  8 ;\nFrequencyBuffer[5] = (Frequency&0x0000FF)  ;\n\n\n// SetDirection\n\nvar DirectionCMD = flow.get(\"SteppirDirectionCMD\");\n\nvar Direction = FrequencyBuffer[7];\n\nif (DirectionCMD == \"normal\")\n    {\n        Direction = (Direction & 0b00011111);\n        FrequencyBuffer[7]=Direction;\n        flow.set(\"SteppirDirectionCMD\",\"\");\n    }\n\nif (DirectionCMD == \"180\")\n    {\n        Direction = (Direction & 0b00011111) + 0b01000000;\n        FrequencyBuffer[7]=Direction;\n        flow.set(\"SteppirDirectionCMD\",\"\");\n    }\n\n//FrequencyBuffer[8]=0x56; // Calibrate\n//FrequencyBuffer[8]=0x53; // Home\n//FrequencyBuffer[8]=0x52; // Re-enable\n\nmsg.payload = FrequencyBuffer;//.toString('utf8'); //Frequency;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["5cb0cdc4.68f38c","9f01f87.61f6908","3ff797b9.f4dfa"]]},{"id":"3efdf123.f44706","type":"function","z":"41edb181.ac2eb8","name":"SendSteppirR","func":"var Frequency =0;\n\nFrequencyBuffer= new Buffer(msg.payload); \n\n//Frequency =  FrequencyBuffer[3] *256 *256 ;\n//Frequency =  Frequency+ FrequencyBuffer[4] *256 ;\n//Frequency =  Frequency+ FrequencyBuffer[5];\n\nFrequencyBuffer[1] = 0x52 ;\n//FrequencyBuffer[3] = 0x15 ;\n//FrequencyBuffer[4] = 0xAA;\n//FrequencyBuffer[5] = 0xE0;\n\n\n\nmsg.payload = FrequencyBuffer;//.toString('utf8'); //Frequency;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["9f01f87.61f6908"]]},{"id":"236ec40f.e59ef4","type":"mqtt out","z":"41edb181.ac2eb8","name":"SteppIRStatus","topic":"SteppIRStatus","qos":"","retain":"","broker":"3499f1a5.99d646","x":1140,"y":480,"wires":[]},{"id":"5cb0cdc4.68f38c","type":"function","z":"41edb181.ac2eb8","name":"","func":"msg.payload= parseFloat(flow.get(\"SteppIRfromFreq\")/100).toFixed(2);\n//msg.payload= flow.get(\"SteppIRfromFreq\");\n\n\n\n\nvar MotorFlag = flow.get(\"SteppIRMotorFlag\");\nvar MotorString;\n\n\n\n\nif ( MotorFlag  == \"0\" ) MotorString=\"Ready\";\n\nelse {\n\nif ( (MotorFlag & 0b00000100) == \"4\" ) MotorString=\"D \";\nelse MotorString = \"- \";\n\nif ( (MotorFlag & 0b00000001) == \"1\" ) MotorString +=\"D \";\nelse MotorString += \"- \";\n\nif ( (MotorFlag & 0b00000010) == \"2\" ) MotorString+=\"R \";\nelse MotorString += \"- \";\n\n}\n\n\nmsg.payload= msg.payload+ \",\"+ MotorString;\n\nmsg.payload= msg.payload+ \",\"+ flow.get(\"SteppirDirectionFlag\");\n\nmsg.payload= msg.payload+\",\"+MotorFlag;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":480,"wires":[["9df08af.b022478","47d2a12b.73d9"]]},{"id":"513774a.30dfa0c","type":"mqtt in","z":"41edb181.ac2eb8","name":"Steppir1cmd","topic":"Steppir1cmd","qos":"2","datatype":"auto","broker":"3499f1a5.99d646","x":150,"y":560,"wires":[["bbe84803.463fb"]]},{"id":"bbe84803.463fb","type":"function","z":"41edb181.ac2eb8","name":"SteppIRParseCMD","func":"\nvar Command = msg.payload;\n\nflow.set(\"SteppirDirectionCMD\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["5f5e1c1e.260e94"]]},{"id":"5f5e1c1e.260e94","type":"function","z":"41edb181.ac2eb8","name":"?A GetStatus","func":"msg.payload=\"?A\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":560,"wires":[[]]},{"id":"a18b5921.4f2f18","type":"debug","z":"41edb181.ac2eb8","name":"","active":true,"console":"false","complete":"false","x":970,"y":40,"wires":[]},{"id":"ca31e83a.f33c9","type":"mqtt in","z":"41edb181.ac2eb8","name":"","topic":"FlexStatus","qos":"2","datatype":"auto","broker":"3499f1a5.99d646","x":150.5,"y":680,"wires":[["39b4ed29.ef6ed2"]]},{"id":"39b4ed29.ef6ed2","type":"function","z":"41edb181.ac2eb8","name":"Update FlexStatus TX Freq","func":"msg.payload=msg.payload*100;\nflow.set(\"FlexTXFreq\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":423.5,"y":677,"wires":[[]]},{"id":"9df08af.b022478","type":"trigger","z":"41edb181.ac2eb8","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","name":"","x":846.5,"y":443,"wires":[["236ec40f.e59ef4"]]},{"id":"47d2a12b.73d9","type":"rbe","z":"41edb181.ac2eb8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":825.5,"y":480,"wires":[["236ec40f.e59ef4"]]},{"id":"1d7a0134.ebb937","type":"delay","z":"41edb181.ac2eb8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":120,"wires":[["2ff89ff8.2826b"]]},{"id":"34e6ed29.143fb2","type":"debug","z":"41edb181.ac2eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":939,"y":346,"wires":[]},{"id":"8dda74af.1b2b5","type":"tcp in","z":"41edb181.ac2eb8","d":true,"name":"","server":"server","host":"","port":"4002","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":190,"y":840,"wires":[["e4e6e125.41b82","c03466f3.e3c0a","9f01f87.61f6908"]]},{"id":"e4e6e125.41b82","type":"tcp out","z":"41edb181.ac2eb8","d":true,"host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":640,"y":840,"wires":[]},{"id":"c03466f3.e3c0a","type":"debug","z":"41edb181.ac2eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":920,"wires":[]},{"id":"d1127c99.3463c","type":"debug","z":"41edb181.ac2eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":608.5,"y":78,"wires":[]},{"id":"3ff797b9.f4dfa","type":"debug","z":"41edb181.ac2eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1164.5,"y":590,"wires":[]},{"id":"3404d23a.b86a3e","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\r","bin":"bin","out":"char","addchar":"false","responsetimeout":""},{"id":"3499f1a5.99d646","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]