SteppIR/N6U Original/SteppIR GUI.json
[{"id":"cfd7d552.5f35b8","type":"tab","label":"Steppir GUI","disabled":false,"info":""},{"id":"1f20e2a1.2c1ab5","type":"ui_text","z":"cfd7d552.5f35b8","group":"85e12eb7.12edb8","order":9,"width":"0","height":"0","name":"","label":"SteppIR","format":"{{msg.payload.SteppirFrom}}","layout":"row-spread","x":960,"y":180,"wires":[]},{"id":"94c4dc0f.28dd28","type":"mqtt in","z":"cfd7d552.5f35b8","name":"SteppIR Status","topic":"SteppIRStatus","qos":"2","datatype":"auto","broker":"3499f1a5.99d646","x":120,"y":120,"wires":[["a4e36d5a.fe9828"]]},{"id":"a4e36d5a.fe9828","type":"function","z":"cfd7d552.5f35b8","name":"blank","func":"\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["17482455.fdea24"]]},{"id":"17482455.fdea24","type":"csv","z":"cfd7d552.5f35b8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"SteppirFrom,MotorFlag,Direction,MotorBits","skip":0,"strings":true,"x":470,"y":120,"wires":[["1f20e2a1.2c1ab5","32a18092.65784","e0d70c8d.676d4","5ffbfe23.27499","783e5677.a97678","8dd18e0d.519a68","9ce29707.2b2a4","16d2abf9.bec9dc"]]},{"id":"32a18092.65784","type":"ui_text","z":"cfd7d552.5f35b8","group":"85e12eb7.12edb8","order":2,"width":"0","height":"0","name":"","label":"Motor","format":"{{msg.payload.MotorFlag}}","layout":"row-spread","x":950,"y":220,"wires":[]},{"id":"e0d70c8d.676d4","type":"ui_text","z":"cfd7d552.5f35b8","group":"85e12eb7.12edb8","order":3,"width":"0","height":"0","name":"","label":"Direction","format":"{{msg.payload.Direction}}","layout":"row-spread","x":960,"y":260,"wires":[]},{"id":"754f69b7.f7454","type":"ui_button","z":"cfd7d552.5f35b8","name":"","group":"85e12eb7.12edb8","order":4,"width":"2","height":"1","passthru":false,"label":"Normal","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"normal","payloadType":"str","topic":"Steppir1cmd","x":960,"y":420,"wires":[["ac9550c7.7175d8","28233a28.5352ee"]]},{"id":"39df835c.a9692c","type":"ui_button","z":"cfd7d552.5f35b8","name":"","group":"85e12eb7.12edb8","order":5,"width":"2","height":"1","passthru":false,"label":"180","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"180","payloadType":"str","topic":"Steppir1cmd","x":950,"y":460,"wires":[["ac9550c7.7175d8"]]},{"id":"ac9550c7.7175d8","type":"mqtt out","z":"cfd7d552.5f35b8","name":"Steppir1cmd","topic":"Steppir1cmd","qos":"2","retain":"","broker":"3499f1a5.99d646","x":1130,"y":440,"wires":[]},{"id":"88edd588.74e36","type":"ui_button","z":"cfd7d552.5f35b8","name":"","group":"85e12eb7.12edb8","order":6,"width":"1","height":"1","passthru":false,"label":"DIR","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":950,"y":300,"wires":[[]]},{"id":"8891a539.729618","type":"ui_button","z":"cfd7d552.5f35b8","name":"","group":"85e12eb7.12edb8","order":7,"width":"1","height":"1","passthru":false,"label":"DRV","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":947.5,"y":341,"wires":[[]]},{"id":"c36ce414.83e54","type":"ui_button","z":"cfd7d552.5f35b8","name":"","group":"85e12eb7.12edb8","order":8,"width":"1","height":"1","passthru":false,"label":"REF","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":947.5,"y":381,"wires":[[]]},{"id":"5ffbfe23.27499","type":"function","z":"cfd7d552.5f35b8","name":"","func":"var Bits = msg.payload.MotorBits;\n\n\nif ( (Bits & 0b00000100) == \"4\" ) msg.payload=\"red\";\nelse msg.payload=\"green\";\n\nreturn msg;","outputs":"1","noerr":0,"x":608,"y":298,"wires":[["f69ba34c.79c548"]]},{"id":"f69ba34c.79c548","type":"change","z":"cfd7d552.5f35b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":768,"y":298,"wires":[["88edd588.74e36"]]},{"id":"c202b45a.5cb4f8","type":"change","z":"cfd7d552.5f35b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":768,"y":338,"wires":[["8891a539.729618"]]},{"id":"f4f491f0.ff598","type":"change","z":"cfd7d552.5f35b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":768,"y":378,"wires":[["c36ce414.83e54"]]},{"id":"783e5677.a97678","type":"function","z":"cfd7d552.5f35b8","name":"","func":"var Bits = msg.payload.MotorBits;\n\n\nif ( (Bits & 0b00000001) == \"1\" ) msg.payload=\"red\";\nelse msg.payload=\"green\";\n\nreturn msg;","outputs":"1","noerr":0,"x":608,"y":338,"wires":[["c202b45a.5cb4f8"]]},{"id":"8dd18e0d.519a68","type":"function","z":"cfd7d552.5f35b8","name":"","func":"var Bits = msg.payload.MotorBits;\n\n\nif ( (Bits & 0b00000010) == \"2\" ) msg.payload=\"red\";\nelse msg.payload=\"green\";\n\nreturn msg;","outputs":"1","noerr":0,"x":608,"y":378,"wires":[["f4f491f0.ff598"]]},{"id":"9ce29707.2b2a4","type":"function","z":"cfd7d552.5f35b8","name":"","func":"var Direction = msg.payload.Direction;\n\nif (Direction == \"Norm\")\n    \n    msg.payload=\"orange\";\n\nelse\n    msg.payload=\"#3FADB5\";\n\n//msg.payload=Direction;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["39b8d966.9a0c16"]]},{"id":"39b8d966.9a0c16","type":"change","z":"cfd7d552.5f35b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[["754f69b7.f7454"]]},{"id":"16d2abf9.bec9dc","type":"function","z":"cfd7d552.5f35b8","name":"","func":"var Direction = msg.payload.Direction;\n\nif (Direction == \"180\")\n    \n    msg.payload=\"red\";\n\nelse\n    msg.payload=\"#3FADB5\";\n    // msg.payload=\"#C0DEED\";\n\n\n//msg.payload=Direction;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["91e06dc.8f1f31"]]},{"id":"91e06dc.8f1f31","type":"change","z":"cfd7d552.5f35b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":460,"wires":[["39df835c.a9692c"]]},{"id":"ed39b6c.4d5d8c8","type":"comment","z":"cfd7d552.5f35b8","name":"Authored by N6NU  ***Read Me**","info":"The Steppir Flow has 2 parts.  \n\nThere is the part that communicates with the antenna\ncontroller and the GUI part that is for the Display\n\nVA3MW added a gating function that communicates with \nThe Flex radio send RX/TX status so that tuning commandsare not sent to the antenna while the radio\nis in Transmit.  You may have to remove or bypass\nthis code although I think it should work if you \nignore it.\n\nTCP Port 4002 is from PSTRotator AZ so it can be\nused to for additional functions.\n\nMQTT is used to communicate for the TX/RX status\nand to communicate to the GUI part","x":824,"y":53,"wires":[]},{"id":"28233a28.5352ee","type":"debug","z":"cfd7d552.5f35b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1206.5,"y":317,"wires":[]},{"id":"85e12eb7.12edb8","type":"ui_group","z":"","name":"Steppir","tab":"ceb6088a.14b4","order":4,"disp":true,"width":"4","collapse":true},{"id":"3499f1a5.99d646","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ceb6088a.14b4","type":"ui_tab","z":"","name":"VA3MW Shack Control","icon":"dashboard","order":1,"disabled":false,"hidden":false}]