Sub Flows/Cabinent Two.json
[{"id":"e8e79e99.b0a43","type":"tab","label":"Cabient 2","disabled":false,"info":""},{"id":"e664b13b.a9021","type":"tab","label":"SteppIR Control","disabled":false,"info":""},{"id":"5517f0b.244561","type":"tab","label":"RPI Info","disabled":false,"info":""},{"id":"f9f32335.1170b8","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"MQTT_Message","birthQos":"0","birthRetain":"false","birthPayload":"Cabinent 2 Board MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"MQTT_Message","willQos":"0","willRetain":"false","willPayload":"Cabinent 2 Board MQTT Failed"},{"id":"cbb380c4.f13c4","type":"rpi-gpio out","z":"e8e79e99.b0a43","name":"Cabinet 2 -1","pin":"29","set":true,"level":"0","freq":"","out":"out","x":687,"y":141,"wires":[]},{"id":"f3aa3656.5c8b98","type":"rpi-gpio out","z":"e8e79e99.b0a43","name":"Cabinet 2 -2","pin":"31","set":true,"level":"0","freq":"","out":"out","x":682,"y":268,"wires":[]},{"id":"80541bfa.ba0848","type":"rpi-gpio out","z":"e8e79e99.b0a43","name":"Cabinet 2 -3","pin":"33","set":true,"level":"0","freq":"","out":"out","x":691,"y":407,"wires":[]},{"id":"62755487.8b43ac","type":"rpi-gpio out","z":"e8e79e99.b0a43","name":"Cabinet 2 -4","pin":"36","set":true,"level":"0","freq":"","out":"out","x":696,"y":557,"wires":[]},{"id":"20bac7e0.b27b1","type":"rpi-gpio out","z":"e8e79e99.b0a43","name":"Cabinet 2 -5","pin":"35","set":true,"level":"0","freq":"","out":"out","x":695,"y":693,"wires":[]},{"id":"7a52c937.79dc","type":"mqtt in","z":"e8e79e99.b0a43","name":"Stepp IR on/off","topic":"Cabinet_2-5","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":258,"y":710,"wires":[["20bac7e0.b27b1"]]},{"id":"49489e77.316678","type":"rpi-gpio out","z":"e8e79e99.b0a43","name":"Cabinet 2 -6","pin":"38","set":true,"level":"0","freq":"","out":"out","x":684,"y":827,"wires":[]},{"id":"4c6cfa01.916cbc","type":"rpi-gpio out","z":"e8e79e99.b0a43","name":"Cabinet 2 -7","pin":"40","set":true,"level":"0","freq":"","out":"out","x":653,"y":964,"wires":[]},{"id":"5866948e.83770c","type":"rpi-gpio out","z":"e8e79e99.b0a43","name":"Cabinet 2 -8","pin":"37","set":true,"level":"0","freq":"","out":"out","x":635,"y":1117,"wires":[]},{"id":"250fdd25.a82ea2","type":"mqtt in","z":"e8e79e99.b0a43","name":"","topic":"Cabinet_2-7","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":271,"y":977,"wires":[["4c6cfa01.916cbc"]]},{"id":"f454e5db.781f3","type":"mqtt in","z":"e8e79e99.b0a43","name":"Cabinet 2 Board Power","topic":"Cabinet_2-8","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":306,"y":1126,"wires":[["5866948e.83770c"]]},{"id":"721199a5.5f0ae8","type":"mqtt in","z":"e8e79e99.b0a43","name":"SMORF On/Off","topic":"Cabinet_2-1","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":255,"y":146,"wires":[["cbb380c4.f13c4"]]},{"id":"6a62894a.ee0f7","type":"mqtt in","z":"e8e79e99.b0a43","name":"W2 On/Off","topic":"Cabinet_2-2","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":226,"y":280,"wires":[["f3aa3656.5c8b98"]]},{"id":"b061c834.33c57","type":"mqtt in","z":"e8e79e99.b0a43","name":"DX Enginering on/off","topic":"Cabinet_2-3","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":258,"y":424,"wires":[["80541bfa.ba0848"]]},{"id":"a26840dc.6a04c8","type":"mqtt in","z":"e8e79e99.b0a43","name":"Spare 30 Amp Relay","topic":"Cabinet_2-4","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":263,"y":573,"wires":[["62755487.8b43ac"]]},{"id":"c9d68b0e.ce6d1","type":"mqtt in","z":"e8e79e99.b0a43","name":"GH Power On/Off","topic":"Cabinet_2-6","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":295,"y":846,"wires":[["49489e77.316678"]]},{"id":"5543752d.80da6c","type":"mqtt out","z":"5517f0b.244561","name":"","topic":"Cabinent2_Temp","qos":"","retain":"","broker":"f9f32335.1170b8","x":1086,"y":599.25,"wires":[]},{"id":"13e99a5b.f9b40e","type":"inject","z":"5517f0b.244561","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":156,"y":639.25,"wires":[["4deb1c83.021644","ed1567b.1d0b498"]]},{"id":"4deb1c83.021644","type":"exec","z":"5517f0b.244561","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":361.5,"y":631,"wires":[["1881746.b486f0c"],[],[]]},{"id":"ed1567b.1d0b498","type":"exec","z":"5517f0b.244561","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":361.5,"y":711,"wires":[["e41419a1.4a7e18","be5e0192.450aa8"],[],[]]},{"id":"1881746.b486f0c","type":"function","z":"5517f0b.244561","name":"calc cpu temp","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":559.5,"y":613,"wires":[["8797fc0f.4afd8","895057cc.a2e398"]]},{"id":"e41419a1.4a7e18","type":"debug","z":"5517f0b.244561","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":675,"y":744.25,"wires":[]},{"id":"895057cc.a2e398","type":"unit-converter","z":"5517f0b.244561","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":744.5,"y":662,"wires":[["5543752d.80da6c"]]},{"id":"8797fc0f.4afd8","type":"debug","z":"5517f0b.244561","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":814.5,"y":537,"wires":[]},{"id":"be5e0192.450aa8","type":"mqtt out","z":"5517f0b.244561","name":"","topic":"Cabinent2_CPU","qos":"","retain":"","broker":"f9f32335.1170b8","x":980,"y":974,"wires":[]},{"id":"2f72ee5c.700a4a","type":"exec","z":"5517f0b.244561","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":436,"y":1139,"wires":[["51722a8a.81601c"],[],[]]},{"id":"51722a8a.81601c","type":"function","z":"5517f0b.244561","name":"Clac disk space","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":646,"y":1139,"wires":[["6d25b840.73c178"]]},{"id":"7098c4e8.88f23c","type":"inject","z":"5517f0b.244561","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":236,"y":1139,"wires":[["2f72ee5c.700a4a"]]},{"id":"6d25b840.73c178","type":"mqtt out","z":"5517f0b.244561","name":"","topic":"Cabinent2_Disk","qos":"","retain":"","broker":"f9f32335.1170b8","x":982,"y":1141,"wires":[]},{"id":"69dba14b.17c1","type":"rpi-gpio in","z":"e664b13b.a9021","name":"SteppIR Moving Status","pin":"21","intype":"tri","debounce":"25","read":false,"x":260,"y":160,"wires":[["dbd8d6d1.1b16b8","15968571.f19ffb"]]},{"id":"dbd8d6d1.1b16b8","type":"debug","z":"e664b13b.a9021","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":781.5,"y":147,"wires":[]},{"id":"15968571.f19ffb","type":"mqtt out","z":"e664b13b.a9021","name":"","topic":"SteppIR_Moving","qos":"","retain":"","broker":"f9f32335.1170b8","x":690,"y":380,"wires":[]},{"id":"d239f09c.4fdd2","type":"inject","z":"e664b13b.a9021","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":276.5,"y":435,"wires":[["15968571.f19ffb"]]},{"id":"a59f2e6b.d74988","type":"inject","z":"e664b13b.a9021","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":278.5,"y":494,"wires":[["15968571.f19ffb"]]},{"id":"a4006607.a5829","type":"comment","z":"e8e79e99.b0a43","name":"Cabinent 2 Board, 30 Amp Relay #1, Pin #","info":"","x":976,"y":139,"wires":[]},{"id":"aa97cd38.d3315","type":"comment","z":"e8e79e99.b0a43","name":"Cabinent 2 Board, 30 Amp Relay #2, Pin #","info":"","x":975,"y":266,"wires":[]},{"id":"ef2ab8f8.6b707","type":"comment","z":"e8e79e99.b0a43","name":"Cabinent 2 Board, 30 Amp Relay #3, Pin #","info":"","x":975,"y":403,"wires":[]},{"id":"c9abafcb.07e27","type":"comment","z":"e8e79e99.b0a43","name":"Cabinent 2 Board, 30 Amp Relay #4, Pin #","info":"","x":977,"y":554,"wires":[]},{"id":"1889dfd0.690378","type":"exec","z":"5517f0b.244561","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Re-Boot","x":518,"y":168,"wires":[[],[],[]]},{"id":"15541f81.8370b8","type":"exec","z":"5517f0b.244561","command":"sudo shutdown -r -P now","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Shutdown","x":536,"y":316,"wires":[[],[],[]]},{"id":"664e82c.8f3b0fc","type":"mqtt in","z":"5517f0b.244561","name":"","topic":"Cabinent2_Reboot","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":277,"y":165,"wires":[["1889dfd0.690378"]]},{"id":"707d3441.5715cc","type":"mqtt in","z":"5517f0b.244561","name":"","topic":"Cabinent2_Shut_Down","qos":"2","datatype":"auto","broker":"f9f32335.1170b8","x":298,"y":313,"wires":[["15541f81.8370b8"]]},{"id":"40421976.b4c94","type":"comment","z":"e664b13b.a9021","name":"To Server Board - LED Status","info":"","x":932,"y":363,"wires":[]},{"id":"1ae77204.86358e","type":"comment","z":"e664b13b.a9021","name":"To Relay #5 on Cabinent 1 Board","info":"","x":945,"y":415,"wires":[]},{"id":"e6301c8b.261c3","type":"comment","z":"e664b13b.a9021","name":"SteppIR Moving Relay Logic","info":"the relay in the SDA100 is open circuit when tuning, closed circuit when not tuning.","x":760,"y":260,"wires":[]},{"id":"8e986185.8fbb38","type":"Invert","z":"e664b13b.a9021","name":"Invert","x":510,"y":60,"wires":[[]]}]