Sub Flows/Cainent One.json
[{"id":"49494fd5.db4e48","type":"tab","label":"Cabinet 1","disabled":false,"info":""},{"id":"e4cfbfc7.47d798","type":"tab","label":"Flex USB BIT Inputs","disabled":false,"info":""},{"id":"bf15d228.d5758","type":"tab","label":"Cabinent 1 RPI Info","disabled":false,"info":""},{"id":"c2c6c3b7.64fc7","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Cabinent One Board","birthQos":"0","birthRetain":"false","birthPayload":"Cabinent One MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Cabinent One Board","willQos":"0","willRetain":"false","willPayload":"Cabinen One MQTT Failed"},{"id":"3dae35c7.e0d482","type":"mqtt out","z":"bf15d228.d5758","name":"","topic":"Cabinent1_Temp","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":1099,"y":530.25,"wires":[]},{"id":"bff07ab1.b0bde","type":"inject","z":"bf15d228.d5758","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":169,"y":570.25,"wires":[["e3ccf228.4639b","facb02cf.d39718"]]},{"id":"e3ccf228.4639b","type":"exec","z":"bf15d228.d5758","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":374.5,"y":562,"wires":[["760dd409.e82aa4"],[],[]]},{"id":"facb02cf.d39718","type":"exec","z":"bf15d228.d5758","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":374.5,"y":642,"wires":[["89951916.80c05","7c6fed7.e7cd314"],[],[]]},{"id":"760dd409.e82aa4","type":"function","z":"bf15d228.d5758","name":"calc cpu temp","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":572.5,"y":544,"wires":[["83cfabeb.ee18e8","80df0eb5.088a78"]]},{"id":"89951916.80c05","type":"debug","z":"bf15d228.d5758","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":688,"y":675.25,"wires":[]},{"id":"83cfabeb.ee18e8","type":"debug","z":"bf15d228.d5758","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830.5,"y":456,"wires":[]},{"id":"7c6fed7.e7cd314","type":"mqtt out","z":"bf15d228.d5758","name":"","topic":"Cabinent1_CPU","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":993,"y":905,"wires":[]},{"id":"e014bf68.3f75f8","type":"exec","z":"bf15d228.d5758","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":449,"y":1070,"wires":[["2db854f9.c95a64"],[],[]]},{"id":"2db854f9.c95a64","type":"function","z":"bf15d228.d5758","name":"Clac disk space","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":659,"y":1070,"wires":[["1b37a8fd.1ff797"]]},{"id":"c295ceea.b7c26","type":"inject","z":"bf15d228.d5758","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":249,"y":1070,"wires":[["e014bf68.3f75f8"]]},{"id":"1b37a8fd.1ff797","type":"mqtt out","z":"bf15d228.d5758","name":"","topic":"Cabinent1_Disk","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":995,"y":1072,"wires":[]},{"id":"c59d01bc.dec1f8","type":"mqtt in","z":"49494fd5.db4e48","name":"HF Amp Bypass","topic":"Cabinet_1-1","qos":"2","datatype":"auto","broker":"c2c6c3b7.64fc7","x":262,"y":141,"wires":[["b949c9e.866ab38"]]},{"id":"b949c9e.866ab38","type":"rpi-gpio out","z":"49494fd5.db4e48","name":"Cabinet 1 -1","pin":"29","set":true,"level":"0","freq":"","out":"out","x":676,"y":151,"wires":[]},{"id":"455a42f5.1cf49c","type":"mqtt in","z":"49494fd5.db4e48","name":"HF Amp On/Off","topic":"Cabinet_1-2","qos":"2","datatype":"auto","broker":"c2c6c3b7.64fc7","x":260,"y":279,"wires":[["7f3ff298.99e7a4"]]},{"id":"7f3ff298.99e7a4","type":"rpi-gpio out","z":"49494fd5.db4e48","name":"Cabinet 1 - 2","pin":"31","set":true,"level":"0","freq":"","out":"out","x":671,"y":278,"wires":[]},{"id":"bfe1f895.db0c8","type":"mqtt in","z":"49494fd5.db4e48","name":"HF Tuner On/Off","topic":"Cabinet_1-3","qos":"2","datatype":"auto","broker":"c2c6c3b7.64fc7","x":276,"y":423,"wires":[["57048e80.5684a8"]]},{"id":"57048e80.5684a8","type":"rpi-gpio out","z":"49494fd5.db4e48","name":"Cabinet 1 -3","pin":"33","set":true,"level":"0","freq":"","out":"out","x":680,"y":417,"wires":[]},{"id":"65593ec3.982f9","type":"mqtt in","z":"49494fd5.db4e48","name":"Flex Remote - on/off","topic":"Cabinet_1-4","qos":"2","datatype":"auto","broker":"c2c6c3b7.64fc7","x":279,"y":573,"wires":[["cddecceb.66e29"]]},{"id":"cddecceb.66e29","type":"rpi-gpio out","z":"49494fd5.db4e48","name":"Cabinet 1 -4","pin":"36","set":true,"level":"0","freq":"","out":"out","x":685,"y":567,"wires":[]},{"id":"4672af39.69dfd8","type":"rpi-gpio out","z":"49494fd5.db4e48","name":"Cabinet 1 -5","pin":"35","set":true,"level":"0","freq":"","out":"out","x":684,"y":703,"wires":[]},{"id":"790e672d.cf507","type":"rpi-gpio out","z":"49494fd5.db4e48","name":"Cabinet 1 -6: 70 CM TX On","pin":"38","set":true,"level":"0","freq":"","out":"out","x":723,"y":837,"wires":[]},{"id":"8d8e94fc.852e2","type":"rpi-gpio out","z":"49494fd5.db4e48","name":"Cabinet 1 -7; 1296 MHZ TX On","pin":"40","set":true,"level":"0","freq":"","out":"out","x":702,"y":974,"wires":[]},{"id":"46db216b.00d07","type":"rpi-gpio out","z":"49494fd5.db4e48","name":"Cabinet 1 -8","pin":"37","set":true,"level":"0","freq":"","out":"out","x":624,"y":1127,"wires":[]},{"id":"563eda3b.0e246c","type":"mqtt in","z":"49494fd5.db4e48","name":"Flex TX REQ Interlock from Stepp IR","topic":"SteppIR_Moving","qos":"2","datatype":"auto","broker":"c2c6c3b7.64fc7","x":317,"y":710,"wires":[["4672af39.69dfd8"]]},{"id":"ed585d24.346718","type":"mqtt in","z":"49494fd5.db4e48","name":"Cabinet 1 Board Power","topic":"Cabinet_1-8","qos":"2","datatype":"auto","broker":"c2c6c3b7.64fc7","x":306,"y":1150,"wires":[["46db216b.00d07"]]},{"id":"412b7392.4c534c","type":"rpi-gpio in","z":"e4cfbfc7.47d798","name":"","pin":"22","intype":"tri","debounce":"25","read":true,"x":209.5,"y":124,"wires":[["c329738d.376b6","a5a40ca5.fb70d8","ebba4da0.84f51"]]},{"id":"c329738d.376b6","type":"mqtt out","z":"e4cfbfc7.47d798","name":"","topic":"2M_TX_On","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":645,"y":159,"wires":[]},{"id":"8430f056.a1b2e8","type":"rpi-gpio in","z":"e4cfbfc7.47d798","name":"","pin":"18","intype":"tri","debounce":"25","read":true,"x":199,"y":352,"wires":[["ca795e74.cca268","41fec6bd.cac178"]]},{"id":"ca795e74.cca268","type":"mqtt out","z":"e4cfbfc7.47d798","name":"","topic":"70CM_TX_On","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":617.5,"y":365,"wires":[]},{"id":"72d7a648.2f0ba","type":"rpi-gpio in","z":"e4cfbfc7.47d798","name":"","pin":"16","intype":"tri","debounce":"25","read":true,"x":192,"y":563,"wires":[["4868165e.eac2c","fa4923e8.3d1598"]]},{"id":"4868165e.eac2c","type":"mqtt out","z":"e4cfbfc7.47d798","name":"","topic":"1260_TX_On","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":630.5,"y":530,"wires":[]},{"id":"fa4923e8.3d1598","type":"link out","z":"e4cfbfc7.47d798","name":"1260 TX On","links":["bc60befa.db5748","7364f81b.b28ee8"],"x":626,"y":638,"wires":[]},{"id":"8140e578.92c288","type":"rpi-gpio in","z":"e4cfbfc7.47d798","name":"","pin":"12","intype":"tri","debounce":"25","read":true,"x":211,"y":782,"wires":[["7a9c7e64.7c1bc"]]},{"id":"7a9c7e64.7c1bc","type":"mqtt out","z":"e4cfbfc7.47d798","name":"","topic":"2M_PTT","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":617.5,"y":787,"wires":[]},{"id":"34009262.27f076","type":"rpi-gpio in","z":"e4cfbfc7.47d798","name":"","pin":"15","intype":"tri","debounce":"25","read":true,"x":216,"y":936,"wires":[["876c7c5.cbbe9"]]},{"id":"876c7c5.cbbe9","type":"mqtt out","z":"e4cfbfc7.47d798","name":"","topic":"70CM_PTT","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":632.5,"y":941,"wires":[]},{"id":"954b61fa.0ff758","type":"rpi-gpio in","z":"e4cfbfc7.47d798","name":"","pin":"13","intype":"tri","debounce":"25","read":false,"x":226,"y":1069,"wires":[["6e84604f.482a98"]]},{"id":"6e84604f.482a98","type":"mqtt out","z":"e4cfbfc7.47d798","name":"","topic":"1296_PTT","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":632.5,"y":1074,"wires":[]},{"id":"705e0fbc.c1335","type":"rpi-gpio in","z":"e4cfbfc7.47d798","name":"","pin":"11","intype":"tri","debounce":"25","read":true,"x":225,"y":1194,"wires":[["29afc5ed.13074a"]]},{"id":"29afc5ed.13074a","type":"mqtt out","z":"e4cfbfc7.47d798","name":"Flex USB #7","topic":"","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":641.5,"y":1199,"wires":[]},{"id":"e3a6e87e.0f01c","type":"rpi-gpio in","z":"e4cfbfc7.47d798","name":"","pin":"32","intype":"tri","debounce":"25","read":true,"x":224,"y":1313,"wires":[["45e4a9ba.0cf95"]]},{"id":"45e4a9ba.0cf95","type":"mqtt out","z":"e4cfbfc7.47d798","name":"Flex USB #8","topic":"","qos":"","retain":"","broker":"c2c6c3b7.64fc7","x":640.5,"y":1318,"wires":[]},{"id":"a5a40ca5.fb70d8","type":"debug","z":"e4cfbfc7.47d798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":596,"y":73,"wires":[]},{"id":"41fec6bd.cac178","type":"link out","z":"e4cfbfc7.47d798","name":"70CM TX On","links":["6c9a3fec.b5b328"],"x":606,"y":436,"wires":[]},{"id":"ebba4da0.84f51","type":"link out","z":"e4cfbfc7.47d798","name":"2M TX On","links":[],"x":629,"y":247,"wires":[]},{"id":"eb5ce5f3.faa95","type":"comment","z":"49494fd5.db4e48","name":"Satellite Board, 30 Amp Relay #2, Pin #","info":"","x":941,"y":276,"wires":[]},{"id":"eec94b13.2c1318","type":"comment","z":"49494fd5.db4e48","name":"Cabinent 1 Board, 30 Amp Relay, Pin #","info":"","x":943,"y":415,"wires":[]},{"id":"57a1c3f.705c3bc","type":"comment","z":"49494fd5.db4e48","name":"Cabinent 1 Board, 10 Amp Relay #1, Pin #","info":"","x":974,"y":565,"wires":[]},{"id":"a98eacac.17a0e8","type":"comment","z":"49494fd5.db4e48","name":"Cabinent 1, 12VDC on/off, Pin #","info":"","x":919,"y":152,"wires":[]},{"id":"4529b617.29fe28","type":"comment","z":"49494fd5.db4e48","name":"Cabinent 1 Board, 10 Amp Relay #2, Pin #","info":"","x":965,"y":704,"wires":[]},{"id":"4c8b3369.4e47ac","type":"comment","z":"e4cfbfc7.47d798","name":"To Satellite Board","info":"","x":899.5,"y":526,"wires":[]},{"id":"6c9a3fec.b5b328","type":"link in","z":"49494fd5.db4e48","name":"Cabinent 1-6 Relay","links":["41fec6bd.cac178"],"x":255.5,"y":845,"wires":[["790e672d.cf507"]]},{"id":"7364f81b.b28ee8","type":"link in","z":"49494fd5.db4e48","name":"Cabinent 1-7 Relay","links":["fa4923e8.3d1598"],"x":265,"y":962,"wires":[["8d8e94fc.852e2"]]},{"id":"f3a5216.35bdfe","type":"exec","z":"bf15d228.d5758","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Re-Boot","x":558,"y":126,"wires":[[],[],[]]},{"id":"434a1b85.d6fbbc","type":"exec","z":"bf15d228.d5758","command":"sudo shutdown -r -P now","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Shutdown","x":576,"y":274,"wires":[[],[],[]]},{"id":"2f58d9aa.254df6","type":"mqtt in","z":"bf15d228.d5758","name":"","topic":"Cabinent1_Reboot","qos":"2","datatype":"auto","broker":"c2c6c3b7.64fc7","x":317,"y":123,"wires":[["f3a5216.35bdfe"]]},{"id":"ae0e281a.d102c8","type":"mqtt in","z":"bf15d228.d5758","name":"","topic":"Satellite_Shut_Down","qos":"2","datatype":"auto","broker":"c2c6c3b7.64fc7","x":328,"y":271,"wires":[["434a1b85.d6fbbc"]]},{"id":"80df0eb5.088a78","type":"unit-converter","z":"bf15d228.d5758","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":757.5,"y":593,"wires":[["3dae35c7.e0d482"]]}]