Sub Flows/Fans.json
[{"id":"8ac213b6.6f9fe8","type":"tab","label":"Fan Relays","disabled":false,"info":""},{"id":"c248deff.fffab8","type":"tab","label":"Fan RPI Info","disabled":false,"info":""},{"id":"fbf31b3b.af1b78","type":"tab","label":"Server Ping","disabled":false,"info":""},{"id":"ba518c44.778a18","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"MQTT_Message","birthQos":"0","birthRetain":"false","birthPayload":"Fan Board MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"MQTT_Message","willQos":"0","willRetain":"false","willPayload":"Fan Board MQTT Failed"},{"id":"30fb915a.10586e","type":"mqtt in","z":"8ac213b6.6f9fe8","name":"Fan #1","topic":"Fan_Relay_1","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":262,"y":130,"wires":[["71e6c536.506754"]]},{"id":"71e6c536.506754","type":"rpi-gpio out","z":"8ac213b6.6f9fe8","name":"Fan Relay 1","pin":"29","set":true,"level":"0","freq":"","out":"out","x":706,"y":140,"wires":[]},{"id":"eebf6232.f17828","type":"mqtt in","z":"8ac213b6.6f9fe8","name":"Fan #2","topic":"Fan_Relay_2","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":260,"y":268,"wires":[["2023aca2.4441bc"]]},{"id":"2023aca2.4441bc","type":"rpi-gpio out","z":"8ac213b6.6f9fe8","name":"Fan Relay 2","pin":"31","set":true,"level":"0","freq":"","out":"out","x":701,"y":267,"wires":[]},{"id":"6cd41744.21125","type":"mqtt in","z":"8ac213b6.6f9fe8","name":"Fan #3","topic":"Fan_Relay_3","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":276,"y":412,"wires":[["568a399a.3a6628"]]},{"id":"568a399a.3a6628","type":"rpi-gpio out","z":"8ac213b6.6f9fe8","name":"Fan Relay 3","pin":"33","set":true,"level":"0","freq":"","out":"out","x":710,"y":406,"wires":[]},{"id":"12f4757e.077fbb","type":"mqtt in","z":"8ac213b6.6f9fe8","name":"Fan #4","topic":"Fan_Relay_4","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":269,"y":562,"wires":[["ff93c2e7.972bc8"]]},{"id":"ff93c2e7.972bc8","type":"rpi-gpio out","z":"8ac213b6.6f9fe8","name":"Fan Relay 4","pin":"36","set":true,"level":"0","freq":"","out":"out","x":715,"y":556,"wires":[]},{"id":"aa719e7d.bd9848","type":"mqtt in","z":"8ac213b6.6f9fe8","name":"Fan #5","topic":"Fan_Relay_5","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":277,"y":698,"wires":[["27f5076b.b65488"]]},{"id":"27f5076b.b65488","type":"rpi-gpio out","z":"8ac213b6.6f9fe8","name":"Fan Relay 5","pin":"35","set":true,"level":"0","freq":"","out":"out","x":714,"y":692,"wires":[]},{"id":"b29ad390.f2bab8","type":"mqtt in","z":"8ac213b6.6f9fe8","name":"Fan #6","topic":"Fan_Relay_6","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":268,"y":832,"wires":[["c549449f.4c482"]]},{"id":"c549449f.4c482","type":"rpi-gpio out","z":"8ac213b6.6f9fe8","name":"Fan Relay 6","pin":"38","set":true,"level":"0","freq":"","out":"out","x":703,"y":826,"wires":[]},{"id":"4c309b7d.8e91ec","type":"rpi-gpio out","z":"8ac213b6.6f9fe8","name":"Fan Relay 7","pin":"40","set":true,"level":"0","freq":"","out":"out","x":672,"y":963,"wires":[]},{"id":"3704edbe.4bb80a","type":"rpi-gpio out","z":"8ac213b6.6f9fe8","name":"Fan Relay 8","pin":"37","set":true,"level":"0","freq":"","out":"out","x":654,"y":1116,"wires":[]},{"id":"41594a3c.c3d1c4","type":"mqtt in","z":"8ac213b6.6f9fe8","name":"Fan #7","topic":"Fan_Relay_7","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":270,"y":976,"wires":[["4c309b7d.8e91ec"]]},{"id":"ab1db360.e263c","type":"mqtt in","z":"8ac213b6.6f9fe8","name":"Fan #8","topic":"Fan_Relay_8","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":275,"y":1125,"wires":[["3704edbe.4bb80a"]]},{"id":"b722635e.e6379","type":"mqtt out","z":"c248deff.fffab8","name":"","topic":"Fan_Temp","qos":"","retain":"","broker":"ba518c44.778a18","x":1077,"y":524.25,"wires":[]},{"id":"d208aa8e.f13a28","type":"inject","z":"c248deff.fffab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":167,"y":564.25,"wires":[["e8335021.d45b","ce7d7ecc.abd858"]]},{"id":"e8335021.d45b","type":"exec","z":"c248deff.fffab8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":372.5,"y":556,"wires":[["d6eece5f.c22028"],[],[]]},{"id":"ce7d7ecc.abd858","type":"exec","z":"c248deff.fffab8","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":372.5,"y":636,"wires":[["ecbac32a.62f29","9769347d.297148"],[],[]]},{"id":"d6eece5f.c22028","type":"function","z":"c248deff.fffab8","name":"calc cpu temp","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":570.5,"y":538,"wires":[["b43b7004.7e41b","282a103f.8ab2c8"]]},{"id":"ecbac32a.62f29","type":"debug","z":"c248deff.fffab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":686,"y":669.25,"wires":[]},{"id":"282a103f.8ab2c8","type":"unit-converter","z":"c248deff.fffab8","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":755.5,"y":587,"wires":[["b722635e.e6379"]]},{"id":"b43b7004.7e41b","type":"debug","z":"c248deff.fffab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":828.5,"y":450,"wires":[]},{"id":"9769347d.297148","type":"mqtt out","z":"c248deff.fffab8","name":"","topic":"Fan_CPU","qos":"","retain":"","broker":"ba518c44.778a18","x":971,"y":899,"wires":[]},{"id":"d40e19cc.c84da","type":"exec","z":"c248deff.fffab8","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":447,"y":1064,"wires":[["7ca12020.e93c5"],[],[]]},{"id":"7ca12020.e93c5","type":"function","z":"c248deff.fffab8","name":"Clac disk space","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":657,"y":1064,"wires":[["1aeddac.bf4e425"]]},{"id":"9075d421.628c","type":"inject","z":"c248deff.fffab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":247,"y":1064,"wires":[["d40e19cc.c84da"]]},{"id":"1aeddac.bf4e425","type":"mqtt out","z":"c248deff.fffab8","name":"","topic":"Fan_Disk","qos":"","retain":"","broker":"ba518c44.778a18","x":973,"y":1066,"wires":[]},{"id":"81803257.d72b","type":"ping","z":"fbf31b3b.af1b78","mode":"timed","name":"Server RPi","host":"192.168.50.134","timer":"5","inputs":0,"x":123,"y":541,"wires":[["cc8362cb.584d58"]]},{"id":"cc8362cb.584d58","type":"switch","z":"fbf31b3b.af1b78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":421,"y":555,"wires":[["ed5e2118.da78d8"],["a8ab91e9.584be8"]]},{"id":"ed5e2118.da78d8","type":"change","z":"fbf31b3b.af1b78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":519,"wires":[["ffef911.a3c4a7"]]},{"id":"a8ab91e9.584be8","type":"change","z":"fbf31b3b.af1b78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":634,"y":609,"wires":[["5cd28c11.5ecdfc","ffef911.a3c4a7"]]},{"id":"aabb1cc3.248c2","type":"change","z":"fbf31b3b.af1b78","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"RPi Failure","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"New Server RPi Failure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1034,"y":606,"wires":[["7c2f0d15.c41784"]]},{"id":"5cd28c11.5ecdfc","type":"rbe","z":"fbf31b3b.af1b78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":852,"y":611,"wires":[["aabb1cc3.248c2"]]},{"id":"ffef911.a3c4a7","type":"mqtt out","z":"fbf31b3b.af1b78","name":"","topic":"Server_Ping_LED","qos":"","retain":"","broker":"ba518c44.778a18","x":1125,"y":475,"wires":[]},{"id":"271d743e.7a6c24","type":"comment","z":"8ac213b6.6f9fe8","name":"Fan Board, 12VDC on/off, Pin #1","info":"","x":977,"y":136,"wires":[]},{"id":"ee45a7b6.377df8","type":"comment","z":"8ac213b6.6f9fe8","name":"Fan Board, 12VDC on/off, Pin #2","info":"","x":976,"y":260,"wires":[]},{"id":"7abe3a70.6e40bc","type":"comment","z":"8ac213b6.6f9fe8","name":"Fan Board, 12VDC on/off, Pin #3","info":"","x":964,"y":402,"wires":[]},{"id":"783f45a7.23a87c","type":"comment","z":"8ac213b6.6f9fe8","name":"Fan Board, 12VDC on/off, Pin #4","info":"","x":970,"y":554,"wires":[]},{"id":"14863e92.2d3ce1","type":"comment","z":"8ac213b6.6f9fe8","name":"Fan Board, 12VDC on/off, Pin #5","info":"","x":981,"y":684,"wires":[]},{"id":"4b74bcd2.1dbc1c","type":"comment","z":"8ac213b6.6f9fe8","name":"Fan Board, 12VDC on/off, Pin #6","info":"","x":981,"y":818,"wires":[]},{"id":"efc43f02.d2c61","type":"comment","z":"8ac213b6.6f9fe8","name":"Fan Board, 12VDC on/off, Pin #7","info":"","x":960,"y":962,"wires":[]},{"id":"ecfe83ed.59ab58","type":"comment","z":"8ac213b6.6f9fe8","name":"Fan Board, 12VDC on/off, Pin #8","info":"","x":956,"y":1105,"wires":[]},{"id":"b8965364.a269e","type":"inject","z":"fbf31b3b.af1b78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":791,"y":749,"wires":[["aabb1cc3.248c2"]]},{"id":"797c92f2.18f574","type":"exec","z":"c248deff.fffab8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Re-Boot","x":566,"y":167,"wires":[[],[],[]]},{"id":"92830c97.a026c","type":"exec","z":"c248deff.fffab8","command":"sudo shutdown -r -P now","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Shutdown","x":584,"y":315,"wires":[[],[],[]]},{"id":"b0a8b1cc.b4c418","type":"mqtt in","z":"c248deff.fffab8","name":"","topic":"Fan_Reboot","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":305,"y":164,"wires":[["797c92f2.18f574"]]},{"id":"a84b3dfc.90c128","type":"mqtt in","z":"c248deff.fffab8","name":"","topic":"Fan_Shut_Down","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":326,"y":312,"wires":[["92830c97.a026c"]]},{"id":"2137348.32da3cc","type":"exec","z":"fbf31b3b.af1b78","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Re-Boot","x":562,"y":109,"wires":[[],[],[]]},{"id":"57e0fe60.4498c","type":"exec","z":"fbf31b3b.af1b78","command":"sudo shutdown -r -P now","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Shutdown","x":580,"y":257,"wires":[[],[],[]]},{"id":"7ad739c.b1e35c8","type":"mqtt in","z":"fbf31b3b.af1b78","name":"","topic":"Fan_Reboot","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":301,"y":106,"wires":[["2137348.32da3cc"]]},{"id":"862c65be.c0ccb","type":"mqtt in","z":"fbf31b3b.af1b78","name":"","topic":"Fan_Shut_Down","qos":"2","datatype":"auto","broker":"ba518c44.778a18","x":322,"y":254,"wires":[["57e0fe60.4498c"]]},{"id":"7c2f0d15.c41784","type":"e-mail","z":"fbf31b3b.af1b78","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"wa9wud@gmail.com","dname":"","x":1080,"y":742,"wires":[]}]