Sub Flows/Satellites.json
[{"id":"ff06f38.5364f9","type":"tab","label":"Sattelite Board","disabled":false,"info":""},{"id":"77d5cc22.5cb7bc","type":"tab","label":"Flex USB BCD Inputs","disabled":false,"info":""},{"id":"fd642cb7.464918","type":"tab","label":"Satellite 1 RPI Info","disabled":false,"info":""},{"id":"c70b67ad.695328","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Satellite Board","birthQos":"0","birthRetain":"false","birthPayload":"Satellite Board MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Satellite Board","willQos":"0","willRetain":"false","willPayload":"Saellite Board Failed"},{"id":"2b71b6f.0511b4a","type":"mqtt in","z":"ff06f38.5364f9","name":"Satellites - on/off","topic":"SAT_Relay_1","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":412,"y":135,"wires":[["19589be1.addd74"]]},{"id":"19589be1.addd74","type":"rpi-gpio out","z":"ff06f38.5364f9","name":"Sat Relay 1","pin":"29","set":true,"level":"0","freq":"","out":"out","x":823,"y":129,"wires":[]},{"id":"519300ef.2c813","type":"mqtt in","z":"ff06f38.5364f9","name":"Polorization 2M and 70CM","topic":"SAT_Relay_2","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":446,"y":244,"wires":[["e912325b.1173"]]},{"id":"e912325b.1173","type":"rpi-gpio out","z":"ff06f38.5364f9","name":"Sat Relay 2","pin":"31","set":true,"level":"0","freq":"","out":"out","x":812,"y":231,"wires":[]},{"id":"1593d3e9.286f04","type":"rpi-gpio out","z":"ff06f38.5364f9","name":"Sat Relay 3","pin":"33","set":true,"level":"0","freq":"","out":"out","x":811,"y":354,"wires":[]},{"id":"64994afe.0610ac","type":"mqtt in","z":"ff06f38.5364f9","name":"2M Antenna Select","topic":"SAT_Relay_3","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":451,"y":354,"wires":[["1593d3e9.286f04"]]},{"id":"10ffe96.1726517","type":"rpi-gpio out","z":"ff06f38.5364f9","name":"Sat Relay 4","pin":"36","set":true,"level":"0","freq":"","out":"out","x":803,"y":457,"wires":[]},{"id":"1ddea831.d3aee","type":"mqtt in","z":"ff06f38.5364f9","name":"2M Pre-Amp","topic":"SAT_Relay_4","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":436,"y":466,"wires":[["10ffe96.1726517"]]},{"id":"2be18ebd.287a3a","type":"rpi-gpio out","z":"ff06f38.5364f9","name":"Sat Relay 5","pin":"35","set":true,"level":"0","freq":"","out":"out","x":804,"y":570,"wires":[]},{"id":"14b29fc4.57ccb8","type":"mqtt in","z":"ff06f38.5364f9","name":"70CM Pre-Amp","topic":"SAT_Relay_5","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":431,"y":578,"wires":[["2be18ebd.287a3a"]]},{"id":"c0a8a76e.545bd","type":"rpi-gpio out","z":"ff06f38.5364f9","name":"Sat Relay 6","pin":"38","set":true,"level":"0","freq":"","out":"out","x":788,"y":688,"wires":[]},{"id":"66c5c01a.9b40d","type":"rpi-gpio out","z":"ff06f38.5364f9","name":"Sat Relay 7","pin":"40","set":true,"level":"0","freq":"","out":"out","x":799,"y":796,"wires":[]},{"id":"5d8c6182.ea18","type":"mqtt in","z":"ff06f38.5364f9","name":"Satellite Board Power","topic":"SAT_Relay_8","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":444,"y":939,"wires":[["63a1b019.d954f8"]]},{"id":"ea30f8b2.3ff748","type":"mqtt in","z":"ff06f38.5364f9","name":"Master Switched 12 VDC Bus on/off","topic":"SAT_Relay_6","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":496,"y":702,"wires":[["c0a8a76e.545bd"]]},{"id":"63a1b019.d954f8","type":"rpi-gpio out","z":"ff06f38.5364f9","name":"Sat Relay 8","pin":"37","set":true,"level":"0","freq":"","out":"out","x":795,"y":943,"wires":[]},{"id":"d9dcb440.f7b0a8","type":"mqtt in","z":"ff06f38.5364f9","name":"","topic":"1260_TX_On","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":433,"y":815,"wires":[["66c5c01a.9b40d"]]},{"id":"289ef11e.090526","type":"rpi-gpio in","z":"77d5cc22.5cb7bc","name":"USB-0","pin":"22","intype":"tri","debounce":"25","read":true,"x":102.83333248562286,"y":89.55553817749023,"wires":[["536a5b3f.ff32a4","a5b9306d.60b618"]]},{"id":"409af21e.d086b4","type":"rpi-gpio in","z":"77d5cc22.5cb7bc","name":"USB-1","pin":"18","intype":"tri","debounce":"25","read":true,"x":99.88890075683594,"y":303.6665325164795,"wires":[["853441ed.ae7f78","c527e221.d9c098"]]},{"id":"2b47686a.bbf288","type":"rpi-gpio in","z":"77d5cc22.5cb7bc","name":"USB-2","pin":"16","intype":"tri","debounce":"25","read":true,"x":102.88885731167267,"y":540.7776856422424,"wires":[["39fa5061.c35238","6a8926d3.9865e"]]},{"id":"fd69b8e5.c16a68","type":"rpi-gpio in","z":"77d5cc22.5cb7bc","name":"USB-3","pin":"12","intype":"tri","debounce":"25","read":true,"x":92.88883442348907,"y":740.1111316680908,"wires":[["d7504afe.2f4e08","d88fed0b.9c539"]]},{"id":"962bd7fd.c13678","type":"rpi-gpio in","z":"77d5cc22.5cb7bc","name":"USB-4","pin":"15","intype":"tri","debounce":"25","read":true,"x":107.11109203762481,"y":958.0000772476196,"wires":[["1feab0c4.7d2f87","36b79b5c.01f38c"]]},{"id":"a7c3991.fd2b5e8","type":"rpi-gpio in","z":"77d5cc22.5cb7bc","name":"USB-5","pin":"13","intype":"tri","debounce":"25","read":true,"x":123.99995422363281,"y":1153.8889427185059,"wires":[["6e278d76.9d9934","2bb6e6ad.fd90d2"]]},{"id":"89ac3245.b6436","type":"rpi-gpio in","z":"77d5cc22.5cb7bc","name":"USB-6","pin":"11","intype":"tri","debounce":"25","read":true,"x":110.55555958218048,"y":1409.4443454742432,"wires":[["4ce3f33e.01724c","b8cc63d9.f799f8"]]},{"id":"c841083f.5233e","type":"rpi-gpio in","z":"77d5cc22.5cb7bc","name":"USB-7","pin":"32","intype":"tri","debounce":"25","read":true,"x":130.88883209228516,"y":1643.0000944137573,"wires":[["c7218b51.4b6318","e60aeb94.5c70c8"]]},{"id":"ac6a983e.04a92","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 11 High","links":["d418cbe2.2738a8"],"x":435,"y":1380,"wires":[]},{"id":"f6efab6b.584298","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 22 High","links":["dec670ff.498fc8","22d2386e.efe57","23f99c2d.02555c","a0c2ea68.17c288","82acc883.0deef8"],"x":501.1110863155789,"y":78.88887023925781,"wires":[]},{"id":"2a51b9f1.af768e","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 18 High","links":["7104134.e7c806c","dec670ff.498fc8","2cb05359.d58bc4","23f99c2d.02555c","89b29433.ddd218","5583c11e.da5168"],"x":507.77779388427734,"y":278.8888330459595,"wires":[]},{"id":"d614c007.19a8e8","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 16 High","links":["3815f912.6171ae","d418cbe2.2738a8","22d2386e.efe57","2cb05359.d58bc4","23f99c2d.02555c","4fc3b.13760bc6","5583c11e.da5168"],"x":506.66664695739746,"y":532.2221956253052,"wires":[]},{"id":"c417c534.781ab8","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 13 High","links":[],"x":468.8888759613037,"y":1140.0001678466797,"wires":[]},{"id":"ec0dad9c.a589f","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 32 High","links":[],"x":466.6666507720947,"y":1646.6667861938477,"wires":[]},{"id":"d9317d18.6ff75","type":"link in","z":"77d5cc22.5cb7bc","name":"160M","links":["bc3e57c8.f89e18","31ddaa02.b74d46","d0b469df.a0b6f8","e2cc1ed8.d1aac8","e62b4f8.80cebb","da18f900.9acb08","39397bb5.abd504","48c7b3f2.a03444","f404c9b.ca34f38","3ec67bdd.a826dc","88cdd8d0.54d8d8","e9615d0a.8740b8","f154e32f.93b008"],"x":656.6666889190674,"y":107.77777004241943,"wires":[["bc63f25d.cd6388"]]},{"id":"cd3d8171.1f3698","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 12 High","links":["a0c2ea68.17c288","e6b71bb.dbc87e8"],"x":484.5555419921875,"y":731.555419921875,"wires":[]},{"id":"e85a0ae0.8ce42","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 15 High","links":["89b29433.ddd218","4fc3b.13760bc6","5583c11e.da5168","82acc883.0deef8"],"x":511.1110691494412,"y":952.2221384048462,"wires":[]},{"id":"da18f900.9acb08","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 22 Low","links":["d9317d18.6ff75","7104134.e7c806c","3815f912.6171ae","d418cbe2.2738a8","2cb05359.d58bc4","89b29433.ddd218","4fc3b.13760bc6","5583c11e.da5168","e6b71bb.dbc87e8"],"x":497.77778381771515,"y":162.22214317321777,"wires":[]},{"id":"a5b9306d.60b618","type":"change","z":"77d5cc22.5cb7bc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":346.6666793823242,"y":81.1110725402832,"wires":[["f6efab6b.584298"]]},{"id":"f154e32f.93b008","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 11 Low","links":["22d2386e.efe57","23f99c2d.02555c","2cb05359.d58bc4","3815f912.6171ae","4fc3b.13760bc6","5583c11e.da5168","7104134.e7c806c","82acc883.0deef8","89b29433.ddd218","a0c2ea68.17c288","d9317d18.6ff75","dec670ff.498fc8","e6b71bb.dbc87e8"],"x":424.5555114746094,"y":1504.555419921875,"wires":[]},{"id":"b8cc63d9.f799f8","type":"change","z":"77d5cc22.5cb7bc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1400,"wires":[["ac6a983e.04a92"]]},{"id":"39397bb5.abd504","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 18 Low","links":["d9317d18.6ff75","3815f912.6171ae","d418cbe2.2738a8","22d2386e.efe57","4fc3b.13760bc6","a0c2ea68.17c288","82acc883.0deef8","e6b71bb.dbc87e8"],"x":494.4444326824612,"y":392.2220344543457,"wires":[]},{"id":"853441ed.ae7f78","type":"change","z":"77d5cc22.5cb7bc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":343.3333282470703,"y":311.11096382141113,"wires":[["2a51b9f1.af768e"]]},{"id":"48c7b3f2.a03444","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 16 Low","links":["d9317d18.6ff75","7104134.e7c806c","dec670ff.498fc8","89b29433.ddd218","a0c2ea68.17c288","82acc883.0deef8","e6b71bb.dbc87e8"],"x":476.6666616863675,"y":616.6665229797363,"wires":[]},{"id":"39fa5061.c35238","type":"change","z":"77d5cc22.5cb7bc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":325.55555725097656,"y":535.5554523468018,"wires":[["d614c007.19a8e8"]]},{"id":"f404c9b.ca34f38","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 12 Low","links":["d9317d18.6ff75","7104134.e7c806c","dec670ff.498fc8","3815f912.6171ae","d418cbe2.2738a8","22d2386e.efe57","2cb05359.d58bc4","23f99c2d.02555c","89b29433.ddd218","4fc3b.13760bc6","5583c11e.da5168","82acc883.0deef8"],"x":442.2221884197659,"y":818.8888206481934,"wires":[]},{"id":"d7504afe.2f4e08","type":"change","z":"77d5cc22.5cb7bc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":291.111083984375,"y":737.7777500152588,"wires":[["cd3d8171.1f3698"]]},{"id":"3ec67bdd.a826dc","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 15 Low","links":["d9317d18.6ff75","7104134.e7c806c","dec670ff.498fc8","3815f912.6171ae","d418cbe2.2738a8","22d2386e.efe57","2cb05359.d58bc4","23f99c2d.02555c","a0c2ea68.17c288","e6b71bb.dbc87e8"],"x":463.33332580990265,"y":1045.5554647445679,"wires":[]},{"id":"36b79b5c.01f38c","type":"change","z":"77d5cc22.5cb7bc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":312.2222213745117,"y":964.4443941116333,"wires":[["e85a0ae0.8ce42"]]},{"id":"7104134.e7c806c","type":"link in","z":"77d5cc22.5cb7bc","name":"","links":["da18f900.9acb08","2a51b9f1.af768e","48c7b3f2.a03444","f404c9b.ca34f38","3ec67bdd.a826dc","e9615d0a.8740b8","88cdd8d0.54d8d8","f154e32f.93b008"],"x":667.77783203125,"y":231.11112022399902,"wires":[["8a952156.2afbe"]]},{"id":"dec670ff.498fc8","type":"link in","z":"77d5cc22.5cb7bc","name":"40M","links":["f6efab6b.584298","2a51b9f1.af768e","48c7b3f2.a03444","f404c9b.ca34f38","3ec67bdd.a826dc","88cdd8d0.54d8d8","e9615d0a.8740b8","f154e32f.93b008"],"x":679.9999942779541,"y":357.77778816223145,"wires":[["20c189db.cea0f6"]]},{"id":"3815f912.6171ae","type":"link in","z":"77d5cc22.5cb7bc","name":"30M","links":["da18f900.9acb08","39397bb5.abd504","d614c007.19a8e8","f404c9b.ca34f38","3ec67bdd.a826dc","88cdd8d0.54d8d8","e9615d0a.8740b8","f154e32f.93b008"],"x":787.7777328491211,"y":512.2222328186035,"wires":[["9944f9ab.dbe8f8"]]},{"id":"22d2386e.efe57","type":"link in","z":"77d5cc22.5cb7bc","name":"20M","links":["f6efab6b.584298","39397bb5.abd504","d614c007.19a8e8","f404c9b.ca34f38","3ec67bdd.a826dc","88cdd8d0.54d8d8","e9615d0a.8740b8","f154e32f.93b008"],"x":780.0000019073486,"y":643.3333587646484,"wires":[["f303a92f.8fbe5"]]},{"id":"2cb05359.d58bc4","type":"link in","z":"77d5cc22.5cb7bc","name":"17M","links":["da18f900.9acb08","2a51b9f1.af768e","d614c007.19a8e8","f404c9b.ca34f38","3ec67bdd.a826dc","88cdd8d0.54d8d8","e9615d0a.8740b8","f154e32f.93b008"],"x":801.1111011505127,"y":807.7777614593506,"wires":[["87bee1de.53c0d"]]},{"id":"23f99c2d.02555c","type":"link in","z":"77d5cc22.5cb7bc","name":"15M","links":["f6efab6b.584298","2a51b9f1.af768e","d614c007.19a8e8","f404c9b.ca34f38","3ec67bdd.a826dc","e9615d0a.8740b8","88cdd8d0.54d8d8","f154e32f.93b008"],"x":797.777753829956,"y":943.333309173584,"wires":[["decf5c09.44cd9"]]},{"id":"89b29433.ddd218","type":"link in","z":"77d5cc22.5cb7bc","name":"2M","links":["da18f900.9acb08","2a51b9f1.af768e","48c7b3f2.a03444","f404c9b.ca34f38","e85a0ae0.8ce42","e9615d0a.8740b8","88cdd8d0.54d8d8","f154e32f.93b008"],"x":801.1111183166504,"y":1381.1110649108887,"wires":[["9b3843b9.7ac1c8"]]},{"id":"4fc3b.13760bc6","type":"link in","z":"77d5cc22.5cb7bc","name":"432 MHZ","links":["da18f900.9acb08","39397bb5.abd504","d614c007.19a8e8","f404c9b.ca34f38","e85a0ae0.8ce42","e9615d0a.8740b8","88cdd8d0.54d8d8","f154e32f.93b008"],"x":796.6666946411133,"y":1497.7778453826904,"wires":[["28fadbc2.bc5ac4"]]},{"id":"5583c11e.da5168","type":"link in","z":"77d5cc22.5cb7bc","name":"1296 MHZ","links":["da18f900.9acb08","2a51b9f1.af768e","d614c007.19a8e8","f404c9b.ca34f38","e85a0ae0.8ce42","88cdd8d0.54d8d8","e9615d0a.8740b8","f154e32f.93b008"],"x":782.2222290039062,"y":1606.6666297912598,"wires":[["b8a987cc.c2af5"]]},{"id":"a0c2ea68.17c288","type":"link in","z":"77d5cc22.5cb7bc","name":"10M","links":["f6efab6b.584298","39397bb5.abd504","48c7b3f2.a03444","cd3d8171.1f3698","3ec67bdd.a826dc","e9615d0a.8740b8","88cdd8d0.54d8d8","f154e32f.93b008"],"x":826.6666555404663,"y":1060.0000019073486,"wires":[["e92ee6d3.1a4f2"]]},{"id":"82acc883.0deef8","type":"link in","z":"77d5cc22.5cb7bc","name":"6M","links":["f6efab6b.584298","39397bb5.abd504","48c7b3f2.a03444","f404c9b.ca34f38","e85a0ae0.8ce42","e9615d0a.8740b8","88cdd8d0.54d8d8","f154e32f.93b008"],"x":837.777759552002,"y":1261.1110763549805,"wires":[["6f496aa9.00914c"]]},{"id":"6e278d76.9d9934","type":"change","z":"77d5cc22.5cb7bc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":312.2221984863281,"y":1143.333251953125,"wires":[["c417c534.781ab8"]]},{"id":"e9615d0a.8740b8","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 13 Low","links":["d9317d18.6ff75","7104134.e7c806c","dec670ff.498fc8","3815f912.6171ae","22d2386e.efe57","2cb05359.d58bc4","23f99c2d.02555c","a0c2ea68.17c288","82acc883.0deef8","89b29433.ddd218","4fc3b.13760bc6","5583c11e.da5168","e6b71bb.dbc87e8"],"x":453.33331298828125,"y":1218.8887939453125,"wires":[]},{"id":"c7218b51.4b6318","type":"change","z":"77d5cc22.5cb7bc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":328.8888854980469,"y":1651.111083984375,"wires":[["ec0dad9c.a589f"]]},{"id":"88cdd8d0.54d8d8","type":"link out","z":"77d5cc22.5cb7bc","name":"Pin 32 Low","links":["d9317d18.6ff75","7104134.e7c806c","dec670ff.498fc8","3815f912.6171ae","22d2386e.efe57","2cb05359.d58bc4","23f99c2d.02555c","a0c2ea68.17c288","82acc883.0deef8","89b29433.ddd218","4fc3b.13760bc6","5583c11e.da5168","e6b71bb.dbc87e8"],"x":461.11110973358154,"y":1745.555461883545,"wires":[]},{"id":"e6b71bb.dbc87e8","type":"link in","z":"77d5cc22.5cb7bc","name":"","links":["cd3d8171.1f3698","da18f900.9acb08","39397bb5.abd504","48c7b3f2.a03444","3ec67bdd.a826dc","e9615d0a.8740b8","f154e32f.93b008","88cdd8d0.54d8d8"],"x":798.8888759613037,"y":1167.7777423858643,"wires":[["786ac9e6.fc799"]]},{"id":"762cf785.d4dca8","type":"mqtt out","z":"fd642cb7.464918","name":"","topic":"Satellite_Temp","qos":"","retain":"","broker":"c70b67ad.695328","x":1097,"y":702.25,"wires":[]},{"id":"fa6cb49.48552c8","type":"inject","z":"fd642cb7.464918","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":177,"y":742.25,"wires":[["f4bf03bc.41b2e","81af379a.e5a8d"]]},{"id":"f4bf03bc.41b2e","type":"exec","z":"fd642cb7.464918","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":382.5,"y":734,"wires":[["78eccbf5.31c7c4"],[],[]]},{"id":"81af379a.e5a8d","type":"exec","z":"fd642cb7.464918","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":382.5,"y":814,"wires":[["e16ec4e2.53e688","8223d066.1f9388"],[],[]]},{"id":"78eccbf5.31c7c4","type":"function","z":"fd642cb7.464918","name":"calc cpu temp","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":580.5,"y":716,"wires":[["109a577e.e37119","54ad658b.f1133c"]]},{"id":"e16ec4e2.53e688","type":"debug","z":"fd642cb7.464918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":696,"y":847.25,"wires":[]},{"id":"54ad658b.f1133c","type":"unit-converter","z":"fd642cb7.464918","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":765.5,"y":765,"wires":[["762cf785.d4dca8"]]},{"id":"109a577e.e37119","type":"debug","z":"fd642cb7.464918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":838.5,"y":628,"wires":[]},{"id":"8223d066.1f9388","type":"mqtt out","z":"fd642cb7.464918","name":"","topic":"Satellite_CPU","qos":"","retain":"","broker":"c70b67ad.695328","x":1001,"y":1077,"wires":[]},{"id":"2a4686b1.22b532","type":"exec","z":"fd642cb7.464918","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":457,"y":1242,"wires":[["7a647c11.d4f6ec"],[],[]]},{"id":"7a647c11.d4f6ec","type":"function","z":"fd642cb7.464918","name":"Clac disk space","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":1242,"wires":[["b7dcf634.f37908"]]},{"id":"a834c2e5.3698a8","type":"inject","z":"fd642cb7.464918","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":257,"y":1242,"wires":[["2a4686b1.22b532"]]},{"id":"b7dcf634.f37908","type":"mqtt out","z":"fd642cb7.464918","name":"","topic":"Satellite_Disk","qos":"","retain":"","broker":"c70b67ad.695328","x":1003,"y":1244,"wires":[]},{"id":"797391b6.28e448","type":"comment","z":"ff06f38.5364f9","name":"Satellite Board, 30 Amp Relay #1, Pin #3","info":"","x":1071,"y":694,"wires":[]},{"id":"549eccea.dadffc","type":"comment","z":"ff06f38.5364f9","name":"Satellite Board, 12VDC on/off, Pin #2","info":"","x":1100,"y":233,"wires":[]},{"id":"b5482f6c.dc2dd","type":"comment","z":"ff06f38.5364f9","name":"Satellite Board, 12VDC on/off, Pin #4","info":"","x":1089,"y":349,"wires":[]},{"id":"b214a3ba.56be5","type":"comment","z":"ff06f38.5364f9","name":"Satellite Board, 12VDC on/off, Pin #5","info":"","x":1085,"y":459,"wires":[]},{"id":"3598eb9b.128e5c","type":"comment","z":"ff06f38.5364f9","name":"Satellite Board, 12VDC on/off, Pin #6","info":"","x":1081,"y":569,"wires":[]},{"id":"270d5ac2.59220e","type":"comment","z":"ff06f38.5364f9","name":"Satellite Board, 12VDC on/off, Pin #7","info":"","x":1065,"y":796,"wires":[]},{"id":"4544ea7.f6fc494","type":"comment","z":"ff06f38.5364f9","name":"From Server RPi DC Bus Control","info":"","x":196.5,"y":708,"wires":[]},{"id":"ab26094.b88f578","type":"comment","z":"ff06f38.5364f9","name":"From Server RPi Sat Antenna","info":"","x":179,"y":139,"wires":[]},{"id":"3398385b.54f6b","type":"comment","z":"ff06f38.5364f9","name":"From Server RPi Sat Antenna","info":"","x":168,"y":249,"wires":[]},{"id":"d459df36.7529b","type":"comment","z":"ff06f38.5364f9","name":"From Server RPi Sat Antenna","info":"","x":173,"y":362,"wires":[]},{"id":"f7395249.1b099","type":"comment","z":"ff06f38.5364f9","name":"From Server RPi Sat Antenna","info":"","x":183,"y":471,"wires":[]},{"id":"c5bf945f.688a68","type":"comment","z":"ff06f38.5364f9","name":"From Server RPi Sat Antenna","info":"","x":179,"y":585,"wires":[]},{"id":"78686b58.5da9ec","type":"comment","z":"ff06f38.5364f9","name":"From Server RPi Sat Antenna","info":"","x":186,"y":947,"wires":[]},{"id":"6148e81b.f567c","type":"comment","z":"ff06f38.5364f9","name":"From Cabinent 1 RPi, Flex USB Inputs","info":"","x":184,"y":816,"wires":[]},{"id":"bb86ec67.2ea25","type":"exec","z":"fd642cb7.464918","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Re-Boot","x":609,"y":283,"wires":[[],[],[]]},{"id":"6b5a5d92.ce43ec","type":"exec","z":"fd642cb7.464918","command":"sudo shutdown -r -P now","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Shutdown","x":627,"y":431,"wires":[[],[],[]]},{"id":"48f9269.9584fd8","type":"mqtt in","z":"fd642cb7.464918","name":"","topic":"Satellite_Reboot","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":358,"y":280,"wires":[["bb86ec67.2ea25"]]},{"id":"ce210373.40d2e","type":"mqtt in","z":"fd642cb7.464918","name":"","topic":"Satellite_Shut_Down","qos":"2","datatype":"auto","broker":"c70b67ad.695328","x":379,"y":428,"wires":[["6b5a5d92.ce43ec"]]},{"id":"795c9436.f95714","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"160M","qos":"","retain":"","broker":"c70b67ad.695328","x":1150,"y":76,"wires":[]},{"id":"36717fd7.496808","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"80M","qos":"","retain":"","broker":"c70b67ad.695328","x":1149,"y":190,"wires":[]},{"id":"58c8788d.5b7658","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"40M","qos":"","retain":"","broker":"c70b67ad.695328","x":1151,"y":325,"wires":[]},{"id":"f8bd7baf.9b3708","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"30M","qos":"","retain":"","broker":"c70b67ad.695328","x":1206,"y":489,"wires":[]},{"id":"4aef3a14.8fef7c","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"20M","qos":"","retain":"","broker":"c70b67ad.695328","x":1211,"y":627,"wires":[]},{"id":"ea2e94ff.65909","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"17M","qos":"","retain":"","broker":"c70b67ad.695328","x":1226,"y":768,"wires":[]},{"id":"804eab1b.34e7e8","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"15M","qos":"","retain":"","broker":"c70b67ad.695328","x":1226,"y":919,"wires":[]},{"id":"c19fc73c.46c54","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"10M","qos":"","retain":"","broker":"c70b67ad.695328","x":1238,"y":1032,"wires":[]},{"id":"f8753bfa.56dc38","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"12M","qos":"","retain":"","broker":"c70b67ad.695328","x":1232,"y":1146,"wires":[]},{"id":"6fa3fae2.c6175c","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"6M","qos":"","retain":"","broker":"c70b67ad.695328","x":1238,"y":1239,"wires":[]},{"id":"206dc197.179f26","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"2M","qos":"","retain":"","broker":"c70b67ad.695328","x":1245,"y":1364,"wires":[]},{"id":"83604627.8eae88","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"432MHZ","qos":"","retain":"","broker":"c70b67ad.695328","x":1256,"y":1480,"wires":[]},{"id":"ae66c8cb.27dd68","type":"mqtt out","z":"77d5cc22.5cb7bc","name":"","topic":"1296MHZ","qos":"","retain":"","broker":"c70b67ad.695328","x":1263,"y":1577,"wires":[]},{"id":"bc63f25d.cd6388","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"160M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"160M","x":853.3333358764648,"y":106.11110496520996,"wires":[["ce6bb982.02d1b8","795c9436.f95714"],[],[]]},{"id":"8a952156.2afbe","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"80M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"80M","x":851.111083984375,"y":225.55553197860718,"wires":[["b54bc38.43423c","36717fd7.496808"],[],[]]},{"id":"20c189db.cea0f6","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"40M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"40M","x":853.3332824707031,"y":351.11109733581543,"wires":[["fd17853a.3e3578","58c8788d.5b7658"],[],[]]},{"id":"9944f9ab.dbe8f8","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"30M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"30M","x":965.5555419921875,"y":508.88885498046875,"wires":[["ccb70a57.fdf878","f8bd7baf.9b3708"],[],[]]},{"id":"f303a92f.8fbe5","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"20M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"20M","x":963.3333129882812,"y":644.4443969726562,"wires":[["2a80b829.6fc488","4aef3a14.8fef7c"],[],[]]},{"id":"87bee1de.53c0d","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"17M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"17M","x":987.7777099609375,"y":804.4443969726562,"wires":[["8b4dda39.c4fb9","ea2e94ff.65909"],[],[]]},{"id":"decf5c09.44cd9","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"15M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"15M","x":984.4443969726562,"y":941.111083984375,"wires":[["7457b81f.98f8a","804eab1b.34e7e8"],[],[]]},{"id":"9b3843b9.7ac1c8","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"2M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"2M","x":995.5555267333984,"y":1379.999870300293,"wires":[["a3712dc8.4dff88","206dc197.179f26"],[],[]]},{"id":"28fadbc2.bc5ac4","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"432 MHz","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"432MHZ","x":987.7777557373047,"y":1497.777702331543,"wires":[["1f907370.07e215","83604627.8eae88"],[],[]]},{"id":"b8a987cc.c2af5","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"1296 MHZ","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"1296MHZ","x":996.6666717529297,"y":1602.2221603393555,"wires":[["b40306f8.daf558","ae66c8cb.27dd68"],[],[]]},{"id":"e92ee6d3.1a4f2","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"10M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"10M","x":981.111083984375,"y":1061.111083984375,"wires":[["8811952.7d4c668","c19fc73c.46c54"],[],[]]},{"id":"6f496aa9.00914c","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"6M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"6M","x":992.2221603393555,"y":1259.9998779296875,"wires":[["45366fe3.cca878","6fa3fae2.c6175c"],[],[]]},{"id":"786ac9e6.fc799","type":"BooleanLogicUltimate","z":"77d5cc22.5cb7bc","name":"12M","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"8","topic":"12M","x":981.111083984375,"y":1162.22216796875,"wires":[["780d532c.b0d674","f8753bfa.56dc38"],[],[]]},{"id":"536a5b3f.ff32a4","type":"InvertUltimate","z":"77d5cc22.5cb7bc","name":"Invert","x":271.11113972134063,"y":162.22218894958496,"wires":[["da18f900.9acb08"]]},{"id":"4ce3f33e.01724c","type":"InvertUltimate","z":"77d5cc22.5cb7bc","name":"Invert","x":228.88888019985626,"y":1485.5554752349854,"wires":[["f154e32f.93b008"]]},{"id":"c527e221.d9c098","type":"InvertUltimate","z":"77d5cc22.5cb7bc","name":"Invert","x":267.77778858608673,"y":392.2220802307129,"wires":[["39397bb5.abd504"]]},{"id":"6a8926d3.9865e","type":"InvertUltimate","z":"77d5cc22.5cb7bc","name":"Invert","x":250.00001758999298,"y":616.6665687561035,"wires":[["48c7b3f2.a03444"]]},{"id":"d88fed0b.9c539","type":"InvertUltimate","z":"77d5cc22.5cb7bc","name":"Invert","x":215.55554432339142,"y":818.8888664245605,"wires":[["f404c9b.ca34f38"]]},{"id":"1feab0c4.7d2f87","type":"InvertUltimate","z":"77d5cc22.5cb7bc","name":"Invert","x":236.66668171352813,"y":1045.555510520935,"wires":[["3ec67bdd.a826dc"]]},{"id":"2bb6e6ad.fd90d2","type":"InvertUltimate","z":"77d5cc22.5cb7bc","name":"Invert","x":305.55554962158203,"y":1232.2222175598145,"wires":[["e9615d0a.8740b8"]]},{"id":"e60aeb94.5c70c8","type":"InvertUltimate","z":"77d5cc22.5cb7bc","name":"Invert","x":338.8888854980469,"y":1755.5555419921875,"wires":[["88cdd8d0.54d8d8"]]},{"id":"ce6bb982.02d1b8","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":2,"width":0,"height":0,"label":"160M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"160M","x":1160.22216796875,"y":116.22222137451172,"wires":[]},{"id":"b54bc38.43423c","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":3,"width":0,"height":0,"label":"80M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"80M","x":1158.6666259765625,"y":256.99998474121094,"wires":[]},{"id":"fd17853a.3e3578","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":4,"width":0,"height":0,"label":"40M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"40M","x":1163.111083984375,"y":389.77777099609375,"wires":[]},{"id":"ccb70a57.fdf878","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":5,"width":0,"height":0,"label":"30M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"30M","x":1215.5555419921875,"y":553.4444580078125,"wires":[]},{"id":"2a80b829.6fc488","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":6,"width":0,"height":0,"label":"20M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"20M","x":1226.111083984375,"y":698.3333129882812,"wires":[]},{"id":"8b4dda39.c4fb9","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":7,"width":0,"height":0,"label":"17M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"17M","x":1224.7777099609375,"y":833.8888549804688,"wires":[]},{"id":"7457b81f.98f8a","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":8,"width":0,"height":0,"label":"15M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"15M","x":1234.111083984375,"y":979.7777709960938,"wires":[]},{"id":"8811952.7d4c668","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":9,"width":0,"height":0,"label":"10M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"10M","x":1242.333251953125,"y":1094.333251953125,"wires":[]},{"id":"a3712dc8.4dff88","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":10,"width":0,"height":0,"label":"2M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"2M","x":1250.111083984375,"y":1422.4443359375,"wires":[]},{"id":"1f907370.07e215","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":11,"width":0,"height":0,"label":"432 MHZ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"432 MHZ","x":1258.111083984375,"y":1538.555419921875,"wires":[]},{"id":"b40306f8.daf558","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":12,"width":0,"height":0,"label":"1296 MHZ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"1296 MHZ","x":1264.7777099609375,"y":1635.2220458984375,"wires":[]},{"id":"45366fe3.cca878","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":9,"width":0,"height":0,"label":"6M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"6M","x":1241.4443359375,"y":1301.2220458984375,"wires":[]},{"id":"780d532c.b0d674","type":"ui_led","z":"77d5cc22.5cb7bc","group":"58f544a7.b3cf84","order":9,"width":0,"height":0,"label":"12M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"12M","x":1236.333251953125,"y":1194.4443359375,"wires":[]}]