Sub Flows/Sensors.json
[{"id":"f9c4ce48.077f88","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"3a96d9e5.b4b23e","type":"tab","label":"Voltage","disabled":false,"info":""},{"id":"4d6840f.6817fc","type":"tab","label":"RPi Info","disabled":false,"info":""},{"id":"c5ce7f8f.ae79d","type":"tab","label":"Unit Conversion Flow","disabled":true,"info":""},{"id":"8adf391b.074238","type":"ina-sensor-manager","z":"","address":"0x40","delay":"500","ohms":"0.01","customResistor":false},{"id":"25bdffdf.72272","type":"ina-sensor-manager","z":"","address":"0x41","delay":"500","ohms":"0.01","customResistor":false},{"id":"45a2f024.6c2348","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ba3e0124.d07ba8","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Sensor Board MQTT","birthQos":"0","birthRetain":"false","birthPayload":"Sensor Board MQTT Aive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Sensor Board MQTT","willQos":"0","willRetain":"false","willPayload":"Sensor Board MQTT Failure"},{"id":"5ae19b0.d205d64","type":"ina-sensor-manager","z":"","address":"0x44","delay":"500","ohms":"0.01","customResistor":false},{"id":"bec6c39f.a29268","type":"ina-sensor-manager","z":"","address":"0x45","delay":"500","ohms":"0.01","customResistor":false},{"id":"f92b6fc2.0fbb98","type":"influxdb","z":"","hostname":"192.168.50.143","port":"8086","protocol":"http","database":"alan","name":"","usetls":false,"tls":"60c1c6a1.49ae5"},{"id":"60c1c6a1.49ae5","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"44949f72.17271","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"92d5981d.74f74","type":"influxdb","z":"","hostname":"192.168.50.143","port":"8086","protocol":"http","database":"alan","name":"","usetls":false,"tls":""},{"id":"d6d12b9c.6b6918","type":"influxdb","z":"","hostname":"192.168.50.143","port":"8086","protocol":"http","database":"alan","name":"","usetls":false,"tls":""},{"id":"892bc02b.d4ab8","type":"function","z":"c5ce7f8f.ae79d","name":"function","func":"\n\n    //Take msg.payload of the temp celcus and save it to a var\n    var tempc = msg.payload;\n\n    //Convert temp celcus to Fahrenheit\n    var tempf = tempc * 9/5 + 32;\n\n    //round the number to get rid of all them decimals\n    tempf = Math.round(tempf * 10000) / 10000;\n\n    //set msg.payload to Fahrenheit\n    msg.payload = tempf;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":495,"y":267,"wires":[["8137fc5e.06e0e"]]},{"id":"a32abe3b.39e53","type":"change","z":"c5ce7f8f.ae79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":267,"wires":[["892bc02b.d4ab8"]]},{"id":"4170ccbb.12ade4","type":"inject","z":"c5ce7f8f.ae79d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":267,"wires":[["a32abe3b.39e53"]]},{"id":"8137fc5e.06e0e","type":"debug","z":"c5ce7f8f.ae79d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":685,"y":267,"wires":[]},{"id":"c9212aa7.ed3478","type":"debug","z":"f9c4ce48.077f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":592,"y":154,"wires":[]},{"id":"561db783.10093","type":"sensor-ds18b20","z":"f9c4ce48.077f88","name":"","topic":"","sensorid":"28-0301a2799e63","timer":"30","repeat":true,"x":345,"y":223,"wires":[["c9212aa7.ed3478","ed112b7d.ed6c08"]]},{"id":"68f508d9.04ca08","type":"debug","z":"f9c4ce48.077f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":598,"y":556,"wires":[]},{"id":"b94612af.5f911","type":"sensor-ds18b20","z":"f9c4ce48.077f88","name":"","topic":"","sensorid":"28-0301a2799e63","timer":"30","repeat":true,"x":351,"y":542,"wires":[["68f508d9.04ca08","7179844b.2be9e4"]]},{"id":"bb112057.72ec58","type":"debug","z":"f9c4ce48.077f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":584,"y":762,"wires":[]},{"id":"59796ebb.28525","type":"sensor-ds18b20","z":"f9c4ce48.077f88","name":"","topic":"","sensorid":"28-0114531a40aa","timer":"30","repeat":true,"x":341,"y":819,"wires":[["bb112057.72ec58","9a08feb.cf2258"]]},{"id":"a0fd5c49.44f92","type":"debug","z":"f9c4ce48.077f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":574,"y":1046,"wires":[]},{"id":"a84ca48a.bef808","type":"sensor-ds18b20","z":"f9c4ce48.077f88","name":"","topic":"","sensorid":"28-0000093e4b93","timer":"30","repeat":true,"x":334,"y":1101,"wires":[["a0fd5c49.44f92","f9f2c5b9.3fa228"]]},{"id":"8e64439f.349b","type":"mqtt out","z":"f9c4ce48.077f88","name":"","topic":"Top_Cabinent_Temp","qos":"1","retain":"","broker":"ba3e0124.d07ba8","x":888.5,"y":190,"wires":[]},{"id":"3f141b61.008afc","type":"mqtt out","z":"f9c4ce48.077f88","name":"","topic":"Middle_Cabinent_Temp","qos":"1","retain":"","broker":"ba3e0124.d07ba8","x":909.5,"y":498,"wires":[]},{"id":"5f31778d.377b88","type":"mqtt out","z":"f9c4ce48.077f88","name":"","topic":"Bottom_Cabinent_Temp","qos":"","retain":"","broker":"ba3e0124.d07ba8","x":888.5,"y":788,"wires":[]},{"id":"6eb6510b.9f3338","type":"mqtt out","z":"f9c4ce48.077f88","name":"","topic":"Garage_Temp","qos":"","retain":"","broker":"ba3e0124.d07ba8","x":844.5,"y":1059,"wires":[]},{"id":"49f43834.625918","type":"mqtt out","z":"4d6840f.6817fc","name":"","topic":"Sensor_Temp","qos":"","retain":"","broker":"ba3e0124.d07ba8","x":1087,"y":494.25,"wires":[]},{"id":"60732289.50dd1c","type":"inject","z":"4d6840f.6817fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":167,"y":534.25,"wires":[["22099689.3ed48a","df6f7359.fd332"]]},{"id":"22099689.3ed48a","type":"exec","z":"4d6840f.6817fc","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":372.5,"y":526,"wires":[["f900e487.45f25"],[],[]]},{"id":"df6f7359.fd332","type":"exec","z":"4d6840f.6817fc","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":372.5,"y":606,"wires":[["91998c77.f2fba8","bb3f2c90.b5994"],[],[]]},{"id":"f900e487.45f25","type":"function","z":"4d6840f.6817fc","name":"calc cpu temp","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":570.5,"y":508,"wires":[["581fa450.005f14","a652e400.6bf4f8"]]},{"id":"91998c77.f2fba8","type":"debug","z":"4d6840f.6817fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":686,"y":639.25,"wires":[]},{"id":"a652e400.6bf4f8","type":"unit-converter","z":"4d6840f.6817fc","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":755.5,"y":557,"wires":[["49f43834.625918"]]},{"id":"581fa450.005f14","type":"debug","z":"4d6840f.6817fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":828.5,"y":420,"wires":[]},{"id":"bb3f2c90.b5994","type":"mqtt out","z":"4d6840f.6817fc","name":"","topic":"Sensor_CPU","qos":"","retain":"","broker":"ba3e0124.d07ba8","x":981,"y":869,"wires":[]},{"id":"7a4175de.f9c72c","type":"exec","z":"4d6840f.6817fc","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":447,"y":1034,"wires":[["f6542cee.5649c"],[],[]]},{"id":"f6542cee.5649c","type":"function","z":"4d6840f.6817fc","name":"Clac disk space","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":657,"y":1034,"wires":[["1864b8a8.950e37"]]},{"id":"95e96b98.154f78","type":"inject","z":"4d6840f.6817fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":247,"y":1034,"wires":[["7a4175de.f9c72c"]]},{"id":"1864b8a8.950e37","type":"mqtt out","z":"4d6840f.6817fc","name":"","topic":"Sensor_Disk","qos":"","retain":"","broker":"ba3e0124.d07ba8","x":983,"y":1036,"wires":[]},{"id":"269cecb4.e8fa3c","type":"exec","z":"4d6840f.6817fc","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Re-Boot","x":592,"y":99,"wires":[[],[],[]]},{"id":"e4fc41d2.2c7d9","type":"exec","z":"4d6840f.6817fc","command":"sudo shutdown -r -P now","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Shutdown","x":610,"y":247,"wires":[[],[],[]]},{"id":"e7869a5c.bc6fd8","type":"mqtt in","z":"4d6840f.6817fc","name":"","topic":"Sensor_Board_Reboot","qos":"2","datatype":"auto","broker":"ba3e0124.d07ba8","x":361,"y":96,"wires":[["269cecb4.e8fa3c"]]},{"id":"da9c2ce6.9e9bc","type":"mqtt in","z":"4d6840f.6817fc","name":"","topic":"Sensor_Board_Shut_Down","qos":"2","datatype":"auto","broker":"ba3e0124.d07ba8","x":382,"y":244,"wires":[["e4fc41d2.2c7d9"]]},{"id":"a0743bdf.1a0ff8","type":"debug","z":"f9c4ce48.077f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":651,"y":1367,"wires":[]},{"id":"96c96858.e8f49","type":"sensor-ds18b20","z":"f9c4ce48.077f88","name":"","topic":"","sensorid":"28-0114531a40aa","timer":"30","repeat":true,"x":336,"y":1359,"wires":[["a0743bdf.1a0ff8"]]},{"id":"f9f2c5b9.3fa228","type":"function","z":"f9c4ce48.077f88","name":"function","func":"\n\n    //Take msg.payload of the temp celcus and save it to a var\n    var tempc = msg.payload;\n\n    //Convert temp celcus to Fahrenheit\n    var tempf = tempc * 9/5 + 32;\n\n    //round the number to get rid of all them decimals\n    tempf = Math.round(tempf * 10000) / 10000;\n\n    //set msg.payload to Fahrenheit\n    msg.payload = tempf;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":592,"y":1108,"wires":[["6eb6510b.9f3338","667045d8.1b96b4"]]},{"id":"579dc68.d029a38","type":"debug","z":"3a96d9e5.b4b23e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":94,"wires":[]},{"id":"b7c99136.f90778","type":"debug","z":"3a96d9e5.b4b23e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":594,"y":330,"wires":[]},{"id":"67116cd5.05b3bc","type":"ina-sensor","z":"3a96d9e5.b4b23e","name":"","handle":"25bdffdf.72272","x":339,"y":449,"wires":[["b7c99136.f90778","d572102f.bbab88"],[]]},{"id":"631cea4f.208c1c","type":"mqtt out","z":"3a96d9e5.b4b23e","name":"","topic":"Bus_Volts","qos":"1","retain":"","broker":"ba3e0124.d07ba8","x":878.5,"y":145,"wires":[]},{"id":"ff75424.a26634","type":"mqtt out","z":"3a96d9e5.b4b23e","name":"","topic":"Flex_Amps","qos":"","retain":"","broker":"ba3e0124.d07ba8","x":960.5,"y":402,"wires":[]},{"id":"d572102f.bbab88","type":"function","z":"3a96d9e5.b4b23e","name":"Bus Current function","func":"\n\n    //Take msg.payload of the amps\n    var volts = msg.payload;\n\n    //Convert  volts to amps\n    var amps = (volts-2.29) / .040;\n\n \n\n    //set msg.payload to amps\n    msg.payload = amps;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":626,"y":440,"wires":[["ff75424.a26634","1aa4ef9a.137f"]]},{"id":"ebc4eb41.4f22e8","type":"debug","z":"3a96d9e5.b4b23e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":591,"y":629,"wires":[]},{"id":"c02c8ff4.72858","type":"ina-sensor","z":"3a96d9e5.b4b23e","name":"","handle":"5ae19b0.d205d64","x":329,"y":721,"wires":[["ebc4eb41.4f22e8","e265a057.e79498"],[]]},{"id":"265f7e84.1cdaa2","type":"mqtt out","z":"3a96d9e5.b4b23e","name":"","topic":"XVTA_Amps","qos":"","retain":"","broker":"ba3e0124.d07ba8","x":953.5,"y":677,"wires":[]},{"id":"e265a057.e79498","type":"function","z":"3a96d9e5.b4b23e","name":"Bus Current function","func":"\n\n    //Take msg.payload of the amps\n    var volts = msg.payload;\n\n    //Convert  volts to amps\n    var amps = (volts-2.36) / .040;\n\n \n\n    //set msg.payload to amps\n    msg.payload = amps;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":615,"y":717,"wires":[["265f7e84.1cdaa2","908e0606.1d07f8"]]},{"id":"9a08feb.cf2258","type":"function","z":"f9c4ce48.077f88","name":"function","func":"\n\n    //Take msg.payload of the temp celcus and save it to a var\n    var tempc = msg.payload;\n\n    //Convert temp celcus to Fahrenheit\n    var tempf = tempc * 9/5 + 32;\n\n    //round the number to get rid of all them decimals\n    tempf = Math.round(tempf * 10000) / 10000;\n\n    //set msg.payload to Fahrenheit\n    msg.payload = tempf;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":609,"y":829,"wires":[["5f31778d.377b88","69ce0826.ca0d08"]]},{"id":"7179844b.2be9e4","type":"function","z":"f9c4ce48.077f88","name":"function","func":"\n\n    //Take msg.payload of the temp celcus and save it to a var\n    var tempc = msg.payload;\n\n    //Convert temp celcus to Fahrenheit\n    var tempf = tempc * 9/5 + 32;\n\n    //round the number to get rid of all them decimals\n    tempf = Math.round(tempf * 10000) / 10000;\n\n    //set msg.payload to Fahrenheit\n    msg.payload = tempf;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":599,"y":381,"wires":[["3f141b61.008afc","887079fb.bee9d"]]},{"id":"ed112b7d.ed6c08","type":"function","z":"f9c4ce48.077f88","name":"function","func":"\n\n    //Take msg.payload of the temp celcus and save it to a var\n    var tempc = msg.payload;\n\n    //Convert temp celcus to Fahrenheit\n    var tempf = tempc * 9/5 + 32;\n\n    //round the number to get rid of all them decimals\n    tempf = Math.round(tempf * 10000) / 10000;\n\n    //set msg.payload to Fahrenheit\n    msg.payload = tempf;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":612,"y":233,"wires":[["8e64439f.349b","35ab4a1f.dbbcb6","e40e706f.510408"]]},{"id":"2e068ace.5cc7ce","type":"debug","z":"3a96d9e5.b4b23e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":599,"y":953,"wires":[]},{"id":"7f81eb7.298c594","type":"ina-sensor","z":"3a96d9e5.b4b23e","name":"","handle":"bec6c39f.a29268","x":337,"y":1045,"wires":[["2e068ace.5cc7ce","6e72b929.5474f8"],[]]},{"id":"6e72b929.5474f8","type":"mqtt out","z":"3a96d9e5.b4b23e","name":"","topic":"1296_Power","qos":"","retain":"","broker":"ba3e0124.d07ba8","x":959.5,"y":1040,"wires":[]},{"id":"667045d8.1b96b4","type":"influxdb out","z":"f9c4ce48.077f88","influxdb":"f92b6fc2.0fbb98","name":"","measurement":"Garage_Temp","precision":"s","retentionPolicy":"","x":918,"y":1153,"wires":[]},{"id":"35ab4a1f.dbbcb6","type":"influxdb out","z":"f9c4ce48.077f88","influxdb":"f92b6fc2.0fbb98","name":"","measurement":"Cabinet_Top","precision":"","retentionPolicy":"","x":979,"y":285,"wires":[]},{"id":"887079fb.bee9d","type":"influxdb out","z":"f9c4ce48.077f88","influxdb":"f92b6fc2.0fbb98","name":"","measurement":"Cabinet_MIddle","precision":"","retentionPolicy":"","x":1004,"y":589,"wires":[]},{"id":"69ce0826.ca0d08","type":"influxdb out","z":"f9c4ce48.077f88","influxdb":"f92b6fc2.0fbb98","name":"","measurement":"Cabinet_Bottom","precision":"","retentionPolicy":"","x":973,"y":881,"wires":[]},{"id":"e40e706f.510408","type":"debug","z":"f9c4ce48.077f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":118,"wires":[]},{"id":"1aa4ef9a.137f","type":"influxdb out","z":"3a96d9e5.b4b23e","influxdb":"92d5981d.74f74","name":"","measurement":"Flex_Amps","precision":"s","retentionPolicy":"","x":991,"y":489,"wires":[]},{"id":"908e0606.1d07f8","type":"influxdb out","z":"3a96d9e5.b4b23e","influxdb":"92d5981d.74f74","name":"","measurement":"XVTA_Amps","precision":"s","retentionPolicy":"","x":1015,"y":753,"wires":[]},{"id":"b103be66.35d7e","type":"influxdb out","z":"3a96d9e5.b4b23e","influxdb":"d6d12b9c.6b6918","name":"","measurement":"Bus_Volts","precision":"s","retentionPolicy":"","x":966,"y":228,"wires":[]},{"id":"862148ca.d128c","type":"ina-sensor","z":"3a96d9e5.b4b23e","name":"","handle":"8adf391b.074238","x":349,"y":196,"wires":[["579dc68.d029a38","631cea4f.208c1c","b103be66.35d7e"],[]]}]