SteppIR/SteppIR/N6U SteppIR-TCP.json
[{"id":"30b41144.fa0ec6","type":"tab","label":"N6U SteppIR-TCP","disabled":false,"info":""},{"id":"79116082.d81be","type":"serial in","z":"30b41144.fa0ec6","d":true,"name":"SteppIR In","serial":"7d3f9491.44172c","x":110,"y":390,"wires":[["77ccca92.54a894","95b400dc.96b3d","8e2ec888.f06498","12068067.20ff8"]]},{"id":"181060cc.542f37","type":"serial out","z":"30b41144.fa0ec6","d":true,"name":"SteppIR Out","serial":"7d3f9491.44172c","x":976,"y":533,"wires":[]},{"id":"285452ed.4efaa6","type":"inject","z":"30b41144.fa0ec6","name":"","topic":"","payload":"?A","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"","x":300,"y":470,"wires":[["8bff97c9.fb6668","7076d919.54f0f"]]},{"id":"8bff97c9.fb6668","type":"function","z":"30b41144.fa0ec6","name":"AddCR","func":"msg.payload=msg.payload+\"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":470,"wires":[["181060cc.542f37","c9c5f0d7.bda6f8","4c572366.8256fc"]]},{"id":"77ccca92.54a894","type":"function","z":"30b41144.fa0ec6","name":"ParseSteppirBuffer","func":"var Direction = 0;\n\nvar DirectionStrings = [\"Norm\",\"BiDir\",\"180\",\"3/4\",\"BiDir\",\"5\",\"6\",\"7\"];\n\nvar Frequency =0;\n\nvar MotorFlag =0;\n\nFrequencyBuffer= new Buffer(msg.payload); \n\nFrequency =  FrequencyBuffer[3] *256 *256 ;\nFrequency =  Frequency+ FrequencyBuffer[4] *256 ;\nFrequency =  Frequency+ FrequencyBuffer[5];\n\nflow.set(\"SteppIRfromFreq\",Frequency);\n\nDirection = FrequencyBuffer[7];\nDirection = (Direction & 0b11100000) >> 5;\n\nMotorFlag = FrequencyBuffer[6];\n\nflow.set(\"SteppIRMotorFlag\",MotorFlag);\nflow.set(\"SteppirDirectionFlag\",DirectionStrings[Direction] );\n\nmsg.payload = Frequency + \",\" + DirectionStrings[Direction] + \",\" + MotorFlag;//Frequency;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":330,"wires":[["ba4997c.170bd68"]]},{"id":"95b400dc.96b3d","type":"function","z":"30b41144.fa0ec6","name":"SendSteppirFrequencyOrCommand","func":"//var context = this.context().flow;\n\nvar Frequency =0;\nvar FromFrequency =0;\n\nFrequency= flow.get(\"FlexTXFreq\");\n\n\n\nFrequencyBuffer= new Buffer(msg.payload); \n\nFromFrequency =  FrequencyBuffer[3] *256 *256 ;\nFromFrequency =  Frequency+ FrequencyBuffer[4] *256 ;\nFromFrequency =  Frequency+ FrequencyBuffer[5];\n\n//flow.set(\"SteppIRfromFreq\",FromFrequency);\n\n//Frequency = 1420000;\n\nFrequencyBuffer[1] = 0x41 ;\n//FrequencyBuffer[3] = 0x15 ;\n//FrequencyBuffer[4] = 0xAA;\n//FrequencyBuffer[5] = 0xE0;\n\nFrequencyBuffer[3] = (Frequency&0xFF0000) >> 16 ;\nFrequencyBuffer[4] = (Frequency&0x00FF00) >>  8 ;\nFrequencyBuffer[5] = (Frequency&0x0000FF)  ;\n\n\n// SetDirection\n\nvar DirectionCMD = flow.get(\"SteppirDirectionCMD\");\n\nvar Direction = FrequencyBuffer[7];\n\nif (DirectionCMD == \"normal\")\n    {\n        Direction = (Direction & 0b00011111);\n        FrequencyBuffer[7]=Direction;\n        flow.set(\"SteppirDirectionCMD\",\"\");\n    }\n\nif (DirectionCMD == \"180\")\n    {\n        Direction = (Direction & 0b00011111) + 0b01000000;\n        FrequencyBuffer[7]=Direction;\n        flow.set(\"SteppirDirectionCMD\",\"\");\n    }\n\n\n\n// SetCommand\n\nif (DirectionCMD == \"HOME\")\n    {\n        Direction = (Direction & 0b00011111);\n        FrequencyBuffer[7]=Direction;\n        FrequencyBuffer[8]=0x53; // Home\n        flow.set(\"SteppirDirectionCMD\",\"\");\n    }\n\nif (DirectionCMD == \"CALIBRATE\")\n    {\n        Direction = (Direction & 0b00011111);\n        FrequencyBuffer[7]=Direction;\n        FrequencyBuffer[8]=0x56; // CAL\n        flow.set(\"SteppirDirectionCMD\",\"\");\n    }\n\n\nif (DirectionCMD == \"TRACK\")\n    {\n        Direction = (Direction & 0b00011111);\n        FrequencyBuffer[7]=Direction;\n        FrequencyBuffer[8]=0x52; // Track\n        flow.set(\"SteppirDirectionCMD\",\"\");\n    }\n\nif (DirectionCMD == \"NOTRACK\")\n    {\n        Direction = (Direction & 0b00011111);\n        FrequencyBuffer[7]=Direction;\n        FrequencyBuffer[8]=0x55//0x52; // Track OFF\n        flow.set(\"SteppirDirectionCMD\",\"\");\n    }\n\n\n//FrequencyBuffer[8]=0x56; // Calibrate\n//FrequencyBuffer[8]=0x53; // Home\n//FrequencyBuffer[8]=0x52; // Re-enable\n\nmsg.payload = FrequencyBuffer; //.toString('utf8') //Frequency;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":670,"wires":[["1e280725.d0d539","181060cc.542f37","17dd8316.8de355","4c572366.8256fc"]]},{"id":"a71a8096.c17b38","type":"function","z":"30b41144.fa0ec6","name":"SendSteppirR","func":"var Frequency =0;\n\nFrequencyBuffer= new Buffer(msg.payload); \n\n//Frequency =  FrequencyBuffer[3] *256 *256 ;\n//Frequency =  Frequency+ FrequencyBuffer[4] *256 ;\n//Frequency =  Frequency+ FrequencyBuffer[5];\n\nFrequencyBuffer[1] = 0x52 ;\n//FrequencyBuffer[3] = 0x15 ;\n//FrequencyBuffer[4] = 0xAA;\n//FrequencyBuffer[5] = 0xE0;\n\n\n\nmsg.payload = FrequencyBuffer;//.toString('utf8'); //Frequency;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410,"y":530,"wires":[["181060cc.542f37","17dd8316.8de355","4c572366.8256fc"]]},{"id":"84385821.fb0fd8","type":"mqtt out","z":"30b41144.fa0ec6","name":"SteppIRStatus","topic":"SteppIRStatus","qos":"","retain":"","broker":"f85fe5e4.a5b63","x":1090,"y":770,"wires":[]},{"id":"1e280725.d0d539","type":"function","z":"30b41144.fa0ec6","name":"","func":"msg.payload= parseFloat(flow.get(\"SteppIRfromFreq\")/100).toFixed(2);\n//msg.payload= flow.get(\"SteppIRfromFreq\");\n\n\n\n\nvar MotorFlag = flow.get(\"SteppIRMotorFlag\");\nvar MotorString;\n\n\n\n\nif ( MotorFlag  == \"0\" ) MotorString=\"Ready\";\n\nelse {\n\nif ( (MotorFlag & 0b00000100) == \"4\" ) MotorString=\"D \";\nelse MotorString = \"- \";\n\nif ( (MotorFlag & 0b00000001) == \"1\" ) MotorString +=\"D \";\nelse MotorString += \"- \";\n\nif ( (MotorFlag & 0b00000010) == \"2\" ) MotorString+=\"R \";\nelse MotorString += \"- \";\n\n}\n\n\nmsg.payload= msg.payload+ \",\"+ MotorString;\n\nmsg.payload= msg.payload+ \",\"+ flow.get(\"SteppirDirectionFlag\");\n\nmsg.payload= msg.payload+\",\"+MotorFlag;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":770,"wires":[["20baedf5.7047fa","963dd5e5.a70008"]]},{"id":"e862bfcf.7b7108","type":"mqtt in","z":"30b41144.fa0ec6","name":"Steppir1cmd","topic":"Steppir1cmd","qos":"2","datatype":"auto","broker":"f85fe5e4.a5b63","x":100,"y":850,"wires":[["1cc11609.b7a07a"]]},{"id":"1cc11609.b7a07a","type":"function","z":"30b41144.fa0ec6","name":"SteppIRParseCMD","func":"\nvar Command = msg.payload;\n\nflow.set(\"SteppirDirectionCMD\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":850,"wires":[["527f83b1.78aa94"]]},{"id":"527f83b1.78aa94","type":"function","z":"30b41144.fa0ec6","name":"?A GetStatus","func":"msg.payload=\"?A\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":849,"wires":[[]]},{"id":"ba4997c.170bd68","type":"debug","z":"30b41144.fa0ec6","name":"","active":false,"console":"false","complete":"false","x":920,"y":330,"wires":[]},{"id":"21a05277.12ce56","type":"function","z":"30b41144.fa0ec6","name":"Update FlexStatus TX Freq","func":"msg.payload=msg.payload*100;\nflow.set(\"FlexTXFreq\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":373.5,"y":967,"wires":[[]]},{"id":"20baedf5.7047fa","type":"trigger","z":"30b41144.fa0ec6","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":796.5,"y":733,"wires":[["84385821.fb0fd8"]]},{"id":"963dd5e5.a70008","type":"rbe","z":"30b41144.fa0ec6","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":775.5,"y":770,"wires":[["84385821.fb0fd8"]]},{"id":"7076d919.54f0f","type":"delay","z":"30b41144.fa0ec6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":410,"wires":[["8bff97c9.fb6668"]]},{"id":"c9c5f0d7.bda6f8","type":"debug","z":"30b41144.fa0ec6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":889,"y":636,"wires":[]},{"id":"ec11e045.89c5e8","type":"tcp in","z":"30b41144.fa0ec6","name":"","server":"server","host":"","port":"4002","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":140,"y":1130,"wires":[["8e2ec888.f06498","139e9b79.5efd95","181060cc.542f37","4c572366.8256fc"]]},{"id":"8e2ec888.f06498","type":"tcp out","z":"30b41144.fa0ec6","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":590,"y":1130,"wires":[]},{"id":"139e9b79.5efd95","type":"debug","z":"30b41144.fa0ec6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":1210,"wires":[]},{"id":"12068067.20ff8","type":"debug","z":"30b41144.fa0ec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":458.5,"y":241,"wires":[]},{"id":"17dd8316.8de355","type":"debug","z":"30b41144.fa0ec6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920.5,"y":907,"wires":[]},{"id":"48b6366c.c21fe","type":"link in","z":"30b41144.fa0ec6","name":"N6U Flex Freq Input","links":["f8797a8c.3503c8"],"x":129,"y":969,"wires":[["21a05277.12ce56","f753e844.ccacb"]]},{"id":"f753e844.ccacb","type":"debug","z":"30b41144.fa0ec6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":368,"y":1029,"wires":[]},{"id":"68d80637.950768","type":"link in","z":"30b41144.fa0ec6","name":"TCP 0ut","links":["4c572366.8256fc"],"x":275,"y":45,"wires":[["11d19571.931473","850bdceb.9971e8"]]},{"id":"c8740f3.df3eb7","type":"link out","z":"30b41144.fa0ec6","name":"TCP in","links":["d073f6cd.7706f"],"x":805,"y":44,"wires":[]},{"id":"d073f6cd.7706f","type":"link in","z":"30b41144.fa0ec6","name":"SteppIR TCP  In","links":["c8740f3.df3eb7","c2a44348.1e047"],"x":85,"y":322,"wires":[["77ccca92.54a894","12068067.20ff8","95b400dc.96b3d","8e2ec888.f06498"]]},{"id":"4c572366.8256fc","type":"link out","z":"30b41144.fa0ec6","name":"SteppIR TCP Out","links":["68d80637.950768","8e6a68fd.8b9ce8"],"x":959,"y":466,"wires":[]},{"id":"7f9bf0e7.efe078","type":"debug","z":"30b41144.fa0ec6","name":"From Stepp IR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":134,"wires":[]},{"id":"850bdceb.9971e8","type":"debug","z":"30b41144.fa0ec6","name":"To Stepp IR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":785,"y":219,"wires":[]},{"id":"11d19571.931473","type":"tcp request","z":"30b41144.fa0ec6","server":"192.168.50.167","port":"5678","out":"sit","splitc":" ","name":"","x":561,"y":45,"wires":[["c8740f3.df3eb7","7f9bf0e7.efe078"]]},{"id":"7d3f9491.44172c","type":"serial-port","z":"","serialport":"platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.3:1.0-port0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\r","bin":"bin","out":"char","addchar":"","responsetimeout":"1000"},{"id":"f85fe5e4.a5b63","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]