SteppIR/SteppIR/SteppIR Moving.json
[{"id":"cb8d3269.bf8868","type":"tab","label":"SteppIR Moving","disabled":false,"info":""},{"id":"8d0114a2.6e64a","type":"debug","z":"cb8d3269.bf8868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":789.5,"y":175,"wires":[]},{"id":"b35a3c70.72e3f","type":"mqtt in","z":"cb8d3269.bf8868","name":"","topic":"SteppIR_Moving","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":400,"y":240,"wires":[["8d0114a2.6e64a","a045abce.40939"]]},{"id":"d0643c7c.f60ee","type":"comment","z":"cb8d3269.bf8868","name":"From Cabinent 2 Board GPIO Pin In","info":"","x":182,"y":189,"wires":[]},{"id":"1bcae307.d7c3fd","type":"ui_led","z":"cb8d3269.bf8868","group":"7010f600.55de9c","order":4,"width":2,"height":1,"label":"SteppIR Moving","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Stepp IR Moving LED","x":871.5,"y":291.99999237060547,"wires":[]},{"id":"ce20a805.0fc4b8","type":"link in","z":"cb8d3269.bf8868","name":"Stepp IR LED Inhibit","links":["529d9939.6de3a8"],"x":213,"y":433.13043212890625,"wires":[["213a2f3c.e34cc","d6c58f09.9bd21"]]},{"id":"a045abce.40939","type":"BooleanLogicUltimate","z":"cb8d3269.bf8868","name":"","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":644.2608642578125,"y":310.32611083984375,"wires":[["1bcae307.d7c3fd","2817fb97.0a015c"],[],[]]},{"id":"2817fb97.0a015c","type":"debug","z":"cb8d3269.bf8868","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":869.2608642578125,"y":419.70653533935547,"wires":[]},{"id":"d86dc8eb.4e56a8","type":"comment","z":"cb8d3269.bf8868","name":"","info":"Keeps LED off when Master Poer is off and the interposing relay is de-energized.","x":117.26359558105469,"y":489.07611083984375,"wires":[]},{"id":"213a2f3c.e34cc","type":"debug","z":"cb8d3269.bf8868","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":336.2608642578125,"y":577.7011108398438,"wires":[]},{"id":"d6c58f09.9bd21","type":"change","z":"cb8d3269.bf8868","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":351.2581787109375,"y":386.0951232910156,"wires":[["a045abce.40939"]]},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"7010f600.55de9c","type":"ui_group","z":"","name":"HF Amp","tab":"60c7eab7.e319e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false}]