SteppIR/SteppIR/SteppIR Control.json
[{"id":"e664b13b.a9021","type":"tab","label":"SteppIR Control","disabled":false,"info":""},{"id":"69dba14b.17c1","type":"rpi-gpio in","z":"e664b13b.a9021","name":"SteppIR Moving Status","pin":"21","intype":"tri","debounce":"25","read":false,"x":260,"y":160,"wires":[["dbd8d6d1.1b16b8","15968571.f19ffb"]]},{"id":"dbd8d6d1.1b16b8","type":"debug","z":"e664b13b.a9021","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":781.5,"y":147,"wires":[]},{"id":"15968571.f19ffb","type":"mqtt out","z":"e664b13b.a9021","name":"","topic":"SteppIR_Moving","qos":"","retain":"","broker":"f9f32335.1170b8","x":690,"y":380,"wires":[]},{"id":"d239f09c.4fdd2","type":"inject","z":"e664b13b.a9021","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":276.5,"y":435,"wires":[["15968571.f19ffb"]]},{"id":"a59f2e6b.d74988","type":"inject","z":"e664b13b.a9021","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":278.5,"y":494,"wires":[["15968571.f19ffb"]]},{"id":"40421976.b4c94","type":"comment","z":"e664b13b.a9021","name":"To Server Board - LED Status","info":"","x":932,"y":363,"wires":[]},{"id":"1ae77204.86358e","type":"comment","z":"e664b13b.a9021","name":"To Relay board for TX Req RCA Jack on Flex 6600","info":"To Relay #5 on Cabinent 1 Board","x":1005,"y":415,"wires":[]},{"id":"e6301c8b.261c3","type":"comment","z":"e664b13b.a9021","name":"SteppIR Moving Relay Logic","info":"the relay in the SDA100 is open circuit when tuning, closed circuit when not tuning.","x":760,"y":260,"wires":[]},{"id":"3d8d421e.737176","type":"comment","z":"e664b13b.a9021","name":"From SDA100 Tuning Board","info":"From SDA100 Tuning Board with Interposig Relay","x":160,"y":100,"wires":[]},{"id":"f9f32335.1170b8","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"MQTT_Message","birthQos":"0","birthRetain":"false","birthPayload":"Cabinent 2 Board MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"MQTT_Message","willQos":"0","willRetain":"false","willPayload":"Cabinent 2 Board MQTT Failed"}]