SteppIR/SteppIR/WA9WUD SteppIR GUI.json
[{"id":"6bc6eb7a.b0696c","type":"tab","label":"WA9WUD SteppIR GUI","disabled":false,"info":""},{"id":"50f8bcc1.3ffc9c","type":"ui_text","z":"6bc6eb7a.b0696c","group":"1ac04171.b2777f","order":9,"width":"0","height":"0","name":"","label":"SteppIR","format":"{{msg.payload.SteppirFrom}}","layout":"row-spread","x":933,"y":325,"wires":[]},{"id":"1a6252ab.9b4885","type":"mqtt in","z":"6bc6eb7a.b0696c","name":"SteppIR Status","topic":"SteppIRStatus","qos":"2","datatype":"auto","broker":"978205b3.5bae1","x":93,"y":265,"wires":[["ea68c3ff.3b485"]]},{"id":"ea68c3ff.3b485","type":"function","z":"6bc6eb7a.b0696c","name":"blank","func":"\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":265,"wires":[["39a6626a.302db6"]]},{"id":"39a6626a.302db6","type":"csv","z":"6bc6eb7a.b0696c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"SteppirFrom,MotorFlag,Direction,MotorBits","skip":0,"strings":true,"x":443,"y":265,"wires":[["50f8bcc1.3ffc9c","4e0df212.90f32c","e73637ac.73c64","78784f4d.641818","342012b7.61f916","24e28f2c.4dae5","4bfd3189.a7b77","d41a466a.fc561"]]},{"id":"4e0df212.90f32c","type":"ui_text","z":"6bc6eb7a.b0696c","group":"1ac04171.b2777f","order":2,"width":"0","height":"0","name":"","label":"Motor","format":"{{msg.payload.MotorFlag}}","layout":"row-spread","x":923,"y":365,"wires":[]},{"id":"e73637ac.73c64","type":"ui_text","z":"6bc6eb7a.b0696c","group":"1ac04171.b2777f","order":3,"width":"0","height":"0","name":"","label":"Direction","format":"{{msg.payload.Direction}}","layout":"row-spread","x":933,"y":405,"wires":[]},{"id":"c0c8472d.e4aaf8","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"1ac04171.b2777f","order":4,"width":"2","height":"1","passthru":false,"label":"Normal","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"normal","payloadType":"str","topic":"Steppir1cmd","x":933,"y":565,"wires":[["783cb4f6.b8de9c"]]},{"id":"e0c06eee.be7c2","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"1ac04171.b2777f","order":5,"width":"2","height":"1","passthru":false,"label":"180","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"180","payloadType":"str","topic":"Steppir1cmd","x":923,"y":605,"wires":[["783cb4f6.b8de9c"]]},{"id":"783cb4f6.b8de9c","type":"mqtt out","z":"6bc6eb7a.b0696c","name":"Steppir1cmd","topic":"Steppir1cmd","qos":"2","retain":"","broker":"978205b3.5bae1","x":1182,"y":590,"wires":[]},{"id":"72e9332a.213984","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"1ac04171.b2777f","order":6,"width":"1","height":"1","passthru":false,"label":"DIR","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":923,"y":445,"wires":[[]]},{"id":"76766126.11a4c8","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"1ac04171.b2777f","order":7,"width":"1","height":"1","passthru":false,"label":"DRV","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":920.5,"y":486,"wires":[[]]},{"id":"59a0d840.eaa568","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"1ac04171.b2777f","order":8,"width":"1","height":"1","passthru":false,"label":"REF","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":920.5,"y":526,"wires":[[]]},{"id":"78784f4d.641818","type":"function","z":"6bc6eb7a.b0696c","name":"","func":"var Bits = msg.payload.MotorBits;\n\n\nif ( (Bits & 0b00000100) == \"4\" ) msg.payload=\"red\";\nelse msg.payload=\"green\";\n\nreturn msg;","outputs":"1","noerr":0,"x":581,"y":443,"wires":[["da012258.d1a54"]]},{"id":"da012258.d1a54","type":"change","z":"6bc6eb7a.b0696c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":741,"y":443,"wires":[["72e9332a.213984"]]},{"id":"b9006574.c71e38","type":"change","z":"6bc6eb7a.b0696c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":741,"y":483,"wires":[["76766126.11a4c8","b99bd1d8.175de8","378e1a1b.0b627e"]]},{"id":"a9fbb831.099388","type":"change","z":"6bc6eb7a.b0696c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":741,"y":523,"wires":[["59a0d840.eaa568"]]},{"id":"342012b7.61f916","type":"function","z":"6bc6eb7a.b0696c","name":"","func":"var Bits = msg.payload.MotorBits;\n\n\nif ( (Bits & 0b00000001) == \"1\" ) msg.payload=\"red\";\nelse msg.payload=\"green\";\n\nreturn msg;","outputs":"1","noerr":0,"x":581,"y":483,"wires":[["b9006574.c71e38"]]},{"id":"24e28f2c.4dae5","type":"function","z":"6bc6eb7a.b0696c","name":"","func":"var Bits = msg.payload.MotorBits;\n\n\nif ( (Bits & 0b00000010) == \"2\" ) msg.payload=\"red\";\nelse msg.payload=\"green\";\n\nreturn msg;","outputs":"1","noerr":0,"x":581,"y":523,"wires":[["a9fbb831.099388"]]},{"id":"4bfd3189.a7b77","type":"function","z":"6bc6eb7a.b0696c","name":"","func":"var Direction = msg.payload.Direction;\n\nif (Direction == \"Norm\")\n    \n    msg.payload=\"orange\";\n\nelse\n    msg.payload=\"#3FADB5\";\n\n//msg.payload=Direction;\n\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":565,"wires":[["b9faa574.f327"]]},{"id":"b9faa574.f327","type":"change","z":"6bc6eb7a.b0696c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":743,"y":565,"wires":[["c0c8472d.e4aaf8"]]},{"id":"d41a466a.fc561","type":"function","z":"6bc6eb7a.b0696c","name":"","func":"var Direction = msg.payload.Direction;\n\nif (Direction == \"180\")\n    \n    msg.payload=\"red\";\n\nelse\n    msg.payload=\"#3FADB5\";\n    // msg.payload=\"#C0DEED\";\n\n\n//msg.payload=Direction;\n\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":605,"wires":[["b75a0e2c.7941f"]]},{"id":"b75a0e2c.7941f","type":"change","z":"6bc6eb7a.b0696c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"background","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":743,"y":605,"wires":[["e0c06eee.be7c2"]]},{"id":"3ff1e983.c0e53e","type":"comment","z":"6bc6eb7a.b0696c","name":"Authored by N6NU  ***Read Me**","info":"The Steppir Flow has 2 parts.  \n\nThere is the part that communicates with the antenna\ncontroller and the GUI part that is for the Display\n\nVA3MW added a gating function that communicates with \nThe Flex radio send RX/TX status so that tuning commandsare not sent to the antenna while the radio\nis in Transmit.  You may have to remove or bypass\nthis code although I think it should work if you \nignore it.\n\nTCP Port 4002 is from PSTRotator AZ so it can be\nused to for additional functions.\n\nMQTT is used to communicate for the TX/RX status\nand to communicate to the GUI part","x":797,"y":198,"wires":[]},{"id":"7345096e.5f5b48","type":"debug","z":"6bc6eb7a.b0696c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1166.5000381469727,"y":800.9999847412109,"wires":[]},{"id":"378e1a1b.0b627e","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"82aa1a4b.5ac2d","order":5,"width":"3","height":"1","passthru":false,"label":"Calibrate","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"CALIBRATE","payloadType":"str","topic":"Steppir1cmd","x":937,"y":783,"wires":[["ec674261.dc4ce"]]},{"id":"b99bd1d8.175de8","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"82aa1a4b.5ac2d","order":5,"width":"3","height":"1","passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"HOME","payloadType":"str","topic":"Steppir1cmd","x":943,"y":853,"wires":[["ec674261.dc4ce"]]},{"id":"3dd17818.fb5838","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"82aa1a4b.5ac2d","order":5,"width":"3","height":"1","passthru":false,"label":"Track","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"TRACK","payloadType":"str","topic":"Steppir1cmd","x":946,"y":931,"wires":[["ec674261.dc4ce"]]},{"id":"f62f4891.682cc8","type":"ui_button","z":"6bc6eb7a.b0696c","name":"","group":"82aa1a4b.5ac2d","order":5,"width":"3","height":"1","passthru":false,"label":"No-Track","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"NOTRACK","payloadType":"str","topic":"Steppir1cmd","x":960,"y":1012,"wires":[["ec674261.dc4ce"]]},{"id":"6b06ac4f.857154","type":"trigger","z":"6bc6eb7a.b0696c","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","name":"","x":347,"y":143,"wires":[[]]},{"id":"8d74131b.c578b","type":"debug","z":"6bc6eb7a.b0696c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":664,"y":809,"wires":[]},{"id":"395944bb.427154","type":"debug","z":"6bc6eb7a.b0696c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":606,"y":943,"wires":[]},{"id":"75ce53bf.7e3a9c","type":"debug","z":"6bc6eb7a.b0696c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":397,"y":678,"wires":[]},{"id":"60f16d6c.507c9c","type":"change","z":"6bc6eb7a.b0696c","name":"Master 12DC Off/On","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"HOME","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"TRACK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":426.99998474121094,"y":787.0000305175781,"wires":[["8d74131b.c578b","ec674261.dc4ce"]]},{"id":"e94adbee.93e138","type":"link in","z":"6bc6eb7a.b0696c","name":"SteppIR Home Button","links":["a3a86cd9.2b83f"],"x":245.26629638671875,"y":785.6141357421875,"wires":[["60f16d6c.507c9c"]]},{"id":"ec674261.dc4ce","type":"msg-resend","z":"6bc6eb7a.b0696c","interval":"0.25","intervalUnit":"secs","maximum":"15","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"","x":1119.2554931640625,"y":698.8478393554688,"wires":[["783cb4f6.b8de9c","7345096e.5f5b48"]]},{"id":"1ac04171.b2777f","type":"ui_group","z":"","name":"SteppIR","tab":"b8c9da70.0e0a2","order":1,"disp":true,"width":"6","collapse":false},{"id":"978205b3.5bae1","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"82aa1a4b.5ac2d","type":"ui_group","z":"","name":"Stepp IR Controls","tab":"60c7eab7.e319e4","order":4,"disp":true,"width":"6","collapse":false},{"id":"b8c9da70.0e0a2","type":"ui_tab","z":"","name":"SteppIR","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false}]