Master Flows/1260 MHZ Power.json
[{"id":"a41b5389.f6c448","type":"tab","label":"1260 MHZ Power","disabled":false,"info":""},{"id":"9652f7e5.af9578","type":"debug","z":"a41b5389.f6c448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":525.5,"y":149,"wires":[]},{"id":"58d28206.4fa164","type":"smooth","z":"a41b5389.f6c448","name":"","property":"payload","action":"max","count":"3","round":"1","mult":"single","reduce":false,"x":752,"y":206,"wires":[["d9576117.4047e","1131c056.5557e"]]},{"id":"d9576117.4047e","type":"ui_level","z":"a41b5389.f6c448","group":"3341334f.168d2c","order":1,"width":6,"height":1,"name":"1296 Watts","label":"Power Out","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"15","segWarn":"","segHigh":"","unit":"Watts","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"reactive","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":1158.4722290039062,"y":165.08319091796875,"wires":[]},{"id":"34bd5278.af1dde","type":"function","z":"a41b5389.f6c448","name":"1260 Power function","func":"\n\n    //Take msg.payload of the voltge and save it to a var\n    var volts = msg.payload;\n\n    //Convert voltage to power\n    var power = (volts - 1.04) * 3.4;\n\n\n    //set msg.payload to power\n    msg.payload = power;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":524,"y":213,"wires":[["58d28206.4fa164","76c27091.31097"]]},{"id":"76c27091.31097","type":"debug","z":"a41b5389.f6c448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":752.5,"y":305,"wires":[]},{"id":"1131c056.5557e","type":"debug","z":"a41b5389.f6c448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1176.5,"y":369,"wires":[]},{"id":"6c9d999f.708908","type":"mqtt in","z":"a41b5389.f6c448","name":"","topic":"1296_Power","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":283,"y":208,"wires":[["34bd5278.af1dde","9652f7e5.af9578"]]},{"id":"3341334f.168d2c","type":"ui_group","z":"","name":"1260 MHZ","tab":"82ec68b7.8e8778","order":10,"disp":true,"width":"6","collapse":false},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"82ec68b7.8e8778","type":"ui_tab","z":"","name":"Satellites","icon":"dashboard","order":2,"disabled":false,"hidden":false}]