Master Flows/12VDC Control.json
[{"id":"55de1d07.95802c","type":"tab","label":"12 VDC Control","disabled":false,"info":""},{"id":"bad2c24c.c38be8","type":"function","z":"55de1d07.95802c","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":298.1358642578125,"y":1452.8053760528564,"wires":[["817c0778.985f5","c015e496.733e28"]]},{"id":"817c0778.985f5","type":"ui_button","z":"55de1d07.95802c","name":"SMORF  on/off","group":"fad4ed94.c508d","order":4,"width":3,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":130.13584899902344,"y":1619.8053760528564,"wires":[["bad2c24c.c38be8"]]},{"id":"e8cf1255.5deca","type":"inject","z":"55de1d07.95802c","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":119.69141387939453,"y":1368.8053712844849,"wires":[["11bd5221.68a26e"]]},{"id":"11c61c5b.62c04c","type":"comment","z":"55de1d07.95802c","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":130.13584899902344,"y":1274.8053760528564,"wires":[]},{"id":"11bd5221.68a26e","type":"function","z":"55de1d07.95802c","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"SMORF - Off\",\n    \"txtB\": \"SMORF - On\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"Power\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":110.13584899902344,"y":1491.8053760528564,"wires":[["bad2c24c.c38be8"]]},{"id":"4e983de5.44316c","type":"comment","z":"55de1d07.95802c","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":180.35806274414062,"y":107,"wires":[]},{"id":"f5652ceb.e7d128","type":"function","z":"55de1d07.95802c","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":398.1080627441406,"y":278.84783935546875,"wires":[["b3bb7508.8d7c18","22580b2.d0eca74"]]},{"id":"b3bb7508.8d7c18","type":"ui_button","z":"55de1d07.95802c","name":"Master on/off","group":"fad4ed94.c508d","order":1,"width":6,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":160.10807418823242,"y":404.8478479385376,"wires":[["f5652ceb.e7d128"]]},{"id":"50da3b63.23686c","type":"inject","z":"55de1d07.95802c","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":159.10807418823242,"y":189.8478479385376,"wires":[["a2566a90.266408"]]},{"id":"a2566a90.266408","type":"function","z":"55de1d07.95802c","name":"Setup","func":"msg = {\n    \"colourA\": \"green\",\n    \"colourB\": \"red\",\n    \"txtA\": \"Master On\",\n    \"txtB\": \"Master Off\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": true,\n    \"payloadB\": false,\n    \"topicSET\": \"Flex On/Off\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":145.10807418823242,"y":307.8478479385376,"wires":[["f5652ceb.e7d128"]]},{"id":"c015e496.733e28","type":"mqtt out","z":"55de1d07.95802c","name":"SMORF On/Off","topic":"Cabinet_2-1","qos":"","retain":"","broker":"fc9768bd.165278","x":683.1358642578125,"y":1450.8053760528564,"wires":[]},{"id":"fb365d8.d37912","type":"mqtt out","z":"55de1d07.95802c","name":"Cabinet 1 Board Power","topic":"Cabinet_1-8","qos":"","retain":"","broker":"fc9768bd.165278","x":1146.1357879638672,"y":446.388916015625,"wires":[]},{"id":"457ec7c8.c9905","type":"mqtt out","z":"55de1d07.95802c","name":"Cabinet 2 Board Power","topic":"Cabinet_2-8","qos":"","retain":"","broker":"fc9768bd.165278","x":1151.3580780029297,"y":506.83334159851074,"wires":[]},{"id":"20515e57.d3d762","type":"mqtt out","z":"55de1d07.95802c","name":"Satellite Board Power","topic":"SAT_Relay_8","qos":"","retain":"","broker":"fc9768bd.165278","x":1152.580337524414,"y":386.8333339691162,"wires":[]},{"id":"282d38d8.eba94","type":"mqtt out","z":"55de1d07.95802c","name":"Master Switched 12 VDC Bus on/off","topic":"SAT_Relay_3","qos":"","retain":"","broker":"fc9768bd.165278","x":1158.9136657714844,"y":304.6111183166504,"wires":[]},{"id":"fd51a680.2789a8","type":"function","z":"55de1d07.95802c","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":340.13585662841797,"y":2658.805362701416,"wires":[["68b7668f.d53f2","b33ca2ee.353698"]]},{"id":"68b7668f.d53f2","type":"ui_button","z":"55de1d07.95802c","name":"SteppIR On/Off","group":"fad4ed94.c508d","order":7,"width":3,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":172.1358413696289,"y":2825.805362701416,"wires":[["fd51a680.2789a8"]]},{"id":"1c9bdbe7.a7437c","type":"inject","z":"55de1d07.95802c","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":160.1358413696289,"y":2592.805362701416,"wires":[["eb60bba7.06d81"]]},{"id":"ba56dee9.ebbde","type":"comment","z":"55de1d07.95802c","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":158.1358413696289,"y":2518.805362701416,"wires":[]},{"id":"eb60bba7.06d81","type":"function","z":"55de1d07.95802c","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"Stepp IR - Off\",\n    \"txtB\": \"Stepp IR - On\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"Power\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":152.1358413696289,"y":2697.805362701416,"wires":[["fd51a680.2789a8"]]},{"id":"b33ca2ee.353698","type":"mqtt out","z":"55de1d07.95802c","name":"SteppIR On/Off","topic":"Cabinet_2-5","qos":"","retain":"","broker":"fc9768bd.165278","x":725.135856628418,"y":2656.805362701416,"wires":[]},{"id":"b79d2f5e.16e598","type":"comment","z":"55de1d07.95802c","name":"Satellite Board, 12VDC on/off, Relay 1,Pin #3","info":"","x":1096.8580627441406,"y":124.5,"wires":[]},{"id":"d0da374e.e23c08","type":"function","z":"55de1d07.95802c","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":315.1358871459961,"y":1851.805362701416,"wires":[["7c2a6bf7.0bb884","4137c846.7547e8"]]},{"id":"7c2a6bf7.0bb884","type":"ui_button","z":"55de1d07.95802c","name":"W2 On/Off","group":"fad4ed94.c508d","order":6,"width":3,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":137.13587188720703,"y":2018.805362701416,"wires":[["d0da374e.e23c08"]]},{"id":"52461017.f423e","type":"inject","z":"55de1d07.95802c","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":135.13587188720703,"y":1785.805362701416,"wires":[["ce0f2edc.98a36"]]},{"id":"1c007b55.3efead","type":"comment","z":"55de1d07.95802c","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":133.13587188720703,"y":1711.805362701416,"wires":[]},{"id":"ce0f2edc.98a36","type":"function","z":"55de1d07.95802c","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"W2 - Off\",\n    \"txtB\": \"W2 - On\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"Power\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":127.13587188720703,"y":1890.805362701416,"wires":[["d0da374e.e23c08"]]},{"id":"4137c846.7547e8","type":"mqtt out","z":"55de1d07.95802c","name":"W2 On/Off","topic":"Cabinet_2-2","qos":"","retain":"","broker":"fc9768bd.165278","x":690.1358871459961,"y":1849.805362701416,"wires":[]},{"id":"27bc983b.266888","type":"function","z":"55de1d07.95802c","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":319.13585662841797,"y":2249.805362701416,"wires":[["ba60f314.34cbe","f5309667.d4901"]]},{"id":"ba60f314.34cbe","type":"ui_button","z":"55de1d07.95802c","name":"DX Engineering On/Off","group":"fad4ed94.c508d","order":5,"width":3,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":171.1358413696289,"y":2416.805362701416,"wires":[["27bc983b.266888"]]},{"id":"30fddb38.c1d65c","type":"inject","z":"55de1d07.95802c","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":139.1358413696289,"y":2183.805362701416,"wires":[["d1081fda.d134c"]]},{"id":"2518a2eb.687d26","type":"comment","z":"55de1d07.95802c","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":137.1358413696289,"y":2109.805362701416,"wires":[]},{"id":"d1081fda.d134c","type":"function","z":"55de1d07.95802c","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"RXB - Off\",\n    \"txtB\": \"RXB - On\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"Power\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":131.1358413696289,"y":2288.805362701416,"wires":[["27bc983b.266888"]]},{"id":"f5309667.d4901","type":"mqtt out","z":"55de1d07.95802c","name":"DX Engineering On/Off","topic":"Cabinet_2-3","qos":"","retain":"","broker":"fc9768bd.165278","x":724.135856628418,"y":2247.805362701416,"wires":[]},{"id":"1d8cc94e.cd490f","type":"inject","z":"55de1d07.95802c","name":"","topic":"control","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420.5802993774414,"y":536.8381500244141,"wires":[["22580b2.d0eca74"]]},{"id":"9e095465.a93d7","type":"inject","z":"55de1d07.95802c","name":"","topic":"control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":432.46915435791016,"y":418.0603485107422,"wires":[["22580b2.d0eca74"]]},{"id":"16b52a05.711876","type":"switch","z":"55de1d07.95802c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"12.0","vt":"num"},{"t":"lt","v":"12.0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":547.0247383117676,"y":800.9878377914429,"wires":[["d2dd8bcb.b5c558","53100a9b.bd5804"],["ade22732.e80ff"]]},{"id":"d2dd8bcb.b5c558","type":"change","z":"55de1d07.95802c","name":">=12.5VDC, Open","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":644.7747764587402,"y":691.4878673553467,"wires":[["22580b2.d0eca74","af8af7ee.17f17"]]},{"id":"ade22732.e80ff","type":"change","z":"55de1d07.95802c","name":"<12.5 VDC, Close","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620.0803833007812,"y":984.2932844161987,"wires":[["22580b2.d0eca74","af8af7ee.17f17","5a50518f.c8d1"]]},{"id":"af8af7ee.17f17","type":"ui_led","z":"55de1d07.95802c","group":"fad4ed94.c508d","order":2,"width":3,"height":1,"label":"12VDC Gate","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"close","valueType":"str"},{"color":"green","value":"open","valueType":"str"}],"allowColorForValueInMessage":false,"name":"12 VDC","x":929.2746772766113,"y":851.4878396987915,"wires":[]},{"id":"22580b2.d0eca74","type":"gate","z":"55de1d07.95802c","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":701.5802841186523,"y":256.88646125793457,"wires":[["529d9939.6de3a8"]]},{"id":"5a50518f.c8d1","type":"change","z":"55de1d07.95802c","name":"Close","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900.2191886901855,"y":669.3766574859619,"wires":[["cee2cd97.8b4e4"]]},{"id":"529d9939.6de3a8","type":"link out","z":"55de1d07.95802c","name":"Master 12VDC on/off","links":["182567f2.3a991","ce20a805.0fc4b8"],"x":842.9137115478516,"y":425.64601039886475,"wires":[]},{"id":"463fd10e.50e7d","type":"link in","z":"55de1d07.95802c","name":"DC Master Power Gate Input","links":["a240b700.9cb1a"],"x":327.0247383117676,"y":808.9878377914429,"wires":[["16b52a05.711876"]]},{"id":"182567f2.3a991","type":"link in","z":"55de1d07.95802c","name":"Master VDC Relays","links":["529d9939.6de3a8"],"x":949.3206939697266,"y":467.62683868408203,"wires":[["457ec7c8.c9905","fb365d8.d37912","20515e57.d3d762","282d38d8.eba94"]]},{"id":"53100a9b.bd5804","type":"change","z":"55de1d07.95802c","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":901.1773529052734,"y":744.7527389526367,"wires":[["cee2cd97.8b4e4"]]},{"id":"43978e89.322288","type":"inject","z":"55de1d07.95802c","name":"","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":414.9307670593262,"y":695.8464965820312,"wires":[["16b52a05.711876"]]},{"id":"5ca70511.12f51c","type":"inject","z":"55de1d07.95802c","name":"","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":388.69093322753906,"y":927.0897245407104,"wires":[["16b52a05.711876"]]},{"id":"cee2cd97.8b4e4","type":"stoptimer2","z":"55de1d07.95802c","duration":"60","durationType":"num","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":1126.1842880249023,"y":705.4186058044434,"wires":[["529d9939.6de3a8","fd9a3e6a.4afa38"],[]]},{"id":"fd9a3e6a.4afa38","type":"change","z":"55de1d07.95802c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Radio 12VDC Bus","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Radio DC Bus Low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1047.5496520996094,"y":1009.5760498046875,"wires":[["fa6f2225.a711"]]},{"id":"fa6f2225.a711","type":"link out","z":"55de1d07.95802c","name":"Sat  RPi Board Fail","links":["efe17435.004f7","85516fcd.2213"],"x":1218.0496520996094,"y":1003.5760498046875,"wires":[]},{"id":"1177c059.5dc808","type":"inject","z":"55de1d07.95802c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":779.4409484863281,"y":1117.676513671875,"wires":[["fd9a3e6a.4afa38"]]},{"id":"fad4ed94.c508d","type":"ui_group","z":"","name":"Radio Info","tab":"60c7eab7.e319e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false}]