Master Flows/12VDC Meters.json
[{"id":"f0eb82c8.28d038","type":"tab","label":"12 VDC Bus Meters","disabled":false,"info":""},{"id":"799978f3.e83ba8","type":"debug","z":"f0eb82c8.28d038","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":692.5,"y":465,"wires":[]},{"id":"1ade4052.bf1f88","type":"ui_level","z":"f0eb82c8.28d038","group":"22a9854c.2d4b3a","order":2,"width":6,"height":1,"name":"Bus Volts","label":"Bus Volts","colorHi":"#00fa00","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"13","max":"14","segWarn":"14","segHigh":"","unit":"V","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":1100,"y":305.9999942779541,"wires":[]},{"id":"73eb1db3.c0ba34","type":"smooth","z":"f0eb82c8.28d038","name":"","property":"payload","action":"max","count":"4","round":"1","mult":"single","reduce":true,"x":632,"y":303.9999942779541,"wires":[["1ade4052.bf1f88"]]},{"id":"3e9d12a2.346476","type":"ui_level","z":"f0eb82c8.28d038","group":"22a9854c.2d4b3a","order":1,"width":6,"height":1,"name":"Flex Amps","label":"Flex Amps","colorHi":"#00fa00","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"25","segWarn":"20","segHigh":"23","unit":"A","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":986,"y":708,"wires":[]},{"id":"229652e6.1b1786","type":"mqtt in","z":"f0eb82c8.28d038","name":"","topic":"Flex_Amps","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":380,"y":705,"wires":[["7fcef1a2.ff1dd","9b5d4014.0e902"]]},{"id":"7fcef1a2.ff1dd","type":"smooth","z":"f0eb82c8.28d038","name":"","property":"payload","action":"mean","count":"3","round":"2","mult":"single","reduce":true,"x":729,"y":707,"wires":[["3e9d12a2.346476"]]},{"id":"e78c13e5.6ebf6","type":"ui_level","z":"f0eb82c8.28d038","group":"8af53c9a.1543f","order":1,"width":6,"height":1,"name":"XVTR Amps","label":"XVTR Amps","colorHi":"#00fa00","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"10","segWarn":"","segHigh":"","unit":"A","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":927,"y":990,"wires":[]},{"id":"4fd6f6c1.1d49d","type":"mqtt in","z":"f0eb82c8.28d038","name":"","topic":"XVTA_Amps","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":375,"y":1000,"wires":[["1f366c2a.6ece24","b1cd7387.c85148"]]},{"id":"1f366c2a.6ece24","type":"smooth","z":"f0eb82c8.28d038","name":"","property":"payload","action":"mean","count":"3","round":"2","mult":"single","reduce":true,"x":656,"y":993,"wires":[["e78c13e5.6ebf6"]]},{"id":"3baa8921.ef5f6e","type":"function","z":"f0eb82c8.28d038","name":"Volts Corretion function","func":"\n    //Take msg.payload of the volts\n    var volts = msg.payload;\n\n    //Correct Curve for volts\n    var voltsc = (volts * 1) + 0.32;\n\n \n\n    //set msg.payload to voltsc\n    msg.payload = voltsc;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":880.1358642578125,"y":371.8260746002197,"wires":[[]]},{"id":"b827acbf.5ac97","type":"mqtt in","z":"f0eb82c8.28d038","name":"","topic":"Bus_Volts","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":377,"y":306,"wires":[["73eb1db3.c0ba34","799978f3.e83ba8","a240b700.9cb1a"]]},{"id":"b1cd7387.c85148","type":"debug","z":"f0eb82c8.28d038","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":616,"y":1115,"wires":[]},{"id":"9b5d4014.0e902","type":"debug","z":"f0eb82c8.28d038","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":587,"y":824,"wires":[]},{"id":"a240b700.9cb1a","type":"link out","z":"f0eb82c8.28d038","name":"12VDC Bus Voltage","links":["eaaf69ea.a3696","463fd10e.50e7d"],"x":620.286865234375,"y":201.488528781467,"wires":[]},{"id":"22a9854c.2d4b3a","type":"ui_group","z":"","name":"Flex 12 VDC","tab":"60c7eab7.e319e4","order":3,"disp":true,"width":"6","collapse":false},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"8af53c9a.1543f","type":"ui_group","z":"","name":"XVTR Amps","tab":"82ec68b7.8e8778","order":8,"disp":true,"width":"6","collapse":false},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"82ec68b7.8e8778","type":"ui_tab","z":"","name":"Satellites","icon":"dashboard","order":2,"disabled":false,"hidden":false}]