Master Flows/DLI Switch.json
[{"id":"f8348e1f.8ef5b","type":"tab","label":"DLI Switch","disabled":false,"info":""},{"id":"699024ce.76085c","type":"mqtt out","z":"f8348e1f.8ef5b","name":"Cabinent One Board Power","topic":"DLIswitch01/outlets/0/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":940,"y":110,"wires":[]},{"id":"1a9a8705.cea7a9","type":"comment","z":"f8348e1f.8ef5b","name":"Push Button Flow - Outlet 6","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":264,"y":1494,"wires":[]},{"id":"887dff4b.db38","type":"inject","z":"f8348e1f.8ef5b","name":"Setup - Inject","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":234,"y":1564,"wires":[["f9821d9d.4f8b68"]]},{"id":"f9821d9d.4f8b68","type":"function","z":"f8348e1f.8ef5b","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"blue\",\n    \"txtA\": \"AUX FAN ON\",\n    \"txtB\": \"AUX FAN OFF\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": \"1\",\n    \"payloadB\": \"0\",\n    \"topicSET\": \"DLIswitch01/outlets/6/set\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":204,"y":1664,"wires":[["1ef3ff7c.34bc69"]]},{"id":"1ef3ff7c.34bc69","type":"function","z":"f8348e1f.8ef5b","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":384,"y":1664,"wires":[["cc9226aa.2f575","f3eea812.65e018"]]},{"id":"cc9226aa.2f575","type":"ui_button","z":"f8348e1f.8ef5b","d":true,"name":"Spare Button 6","group":"6a9ec52a.a86664","order":9,"width":0,"height":0,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":474,"y":1544,"wires":[["1ef3ff7c.34bc69"]]},{"id":"f3eea812.65e018","type":"mqtt out","z":"f8348e1f.8ef5b","d":true,"name":"MQTT: DLI Outlet 6","topic":"DLIswitch01/outlets/6/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":857,"y":1590,"wires":[]},{"id":"601a45a.8136f3c","type":"comment","z":"f8348e1f.8ef5b","name":"Push Button Flow - outlet 7","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":254,"y":1754,"wires":[]},{"id":"d136d17b.5173d","type":"inject","z":"f8348e1f.8ef5b","name":"Setup-Inject","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":234,"y":1814,"wires":[["9dd79914.603908"]]},{"id":"9dd79914.603908","type":"function","z":"f8348e1f.8ef5b","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"blue\",\n    \"txtA\": \"GPS-DO ON\",\n    \"txtB\": \"GPS-DO OFF\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": \"1\",\n    \"payloadB\": \"0\",\n    \"topicSET\": \"DLIswitch01/outlets/7/set\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":1894,"wires":[["8c224450.14ad68"]]},{"id":"8c224450.14ad68","type":"function","z":"f8348e1f.8ef5b","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":434,"y":1894,"wires":[["78e39c75.0de624","44cc4e3f.687c48"]]},{"id":"78e39c75.0de624","type":"ui_button","z":"f8348e1f.8ef5b","d":true,"name":"Spare Button 7","group":"6a9ec52a.a86664","order":10,"width":0,"height":0,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":484,"y":1794,"wires":[["8c224450.14ad68"]]},{"id":"44cc4e3f.687c48","type":"mqtt out","z":"f8348e1f.8ef5b","d":true,"name":"MQTT: DLI outlet 7","topic":"DLIswitch01/outlets/7/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":857,"y":1815,"wires":[]},{"id":"f64a8141.a05e38","type":"ui_switch","z":"f8348e1f.8ef5b","name":"","label":"Cabinent One","tooltip":"","group":"6a9ec52a.a86664","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DLIswitch01/outlets/0/set","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":257,"y":128,"wires":[["699024ce.76085c"]]},{"id":"e532ead1.630f9","type":"ui_switch","z":"f8348e1f.8ef5b","name":"","label":"Satellite","tooltip":"","group":"6a9ec52a.a86664","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DLIswitch01/outlets/1/set","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":239,"y":264,"wires":[["20a84c1e.339f54"]]},{"id":"921af162.a35678","type":"mqtt out","z":"f8348e1f.8ef5b","name":"Cabinent Two Board Power","topic":"DLIswitch01/outlets/2/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":828,"y":385,"wires":[]},{"id":"3f9a4346.fe8694","type":"ui_switch","z":"f8348e1f.8ef5b","name":"","label":"Fan","tooltip":"","group":"6a9ec52a.a86664","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DLIswitch01/outlets/2/set","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":213,"y":383,"wires":[["921af162.a35678"]]},{"id":"fffc0d1f.1ba688","type":"mqtt out","z":"f8348e1f.8ef5b","name":"Fan Board Power","topic":"DLIswitch01/outlets/3/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":798,"y":527,"wires":[]},{"id":"1244c188.0fc156","type":"ui_switch","z":"f8348e1f.8ef5b","name":"","label":"Cabinent Two","tooltip":"","group":"6a9ec52a.a86664","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DLIswitch01/outlets/3/set","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":243,"y":525,"wires":[["fffc0d1f.1ba688"]]},{"id":"b36883d.94698","type":"mqtt out","z":"f8348e1f.8ef5b","name":"Sensor Board Power","topic":"DLIswitch01/outlets/4/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":788,"y":675,"wires":[]},{"id":"f4253ac3.477e7","type":"ui_switch","z":"f8348e1f.8ef5b","name":"","label":"Sensor","tooltip":"","group":"6a9ec52a.a86664","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DLIswitch01/outlets/4/set","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":203,"y":673,"wires":[["b36883d.94698"]]},{"id":"20a84c1e.339f54","type":"mqtt out","z":"f8348e1f.8ef5b","name":"Satellite Board Power","topic":"DLIswitch01/outlets/1/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":920,"y":260,"wires":[]},{"id":"b6f1bb21.b12aa","type":"mqtt out","z":"f8348e1f.8ef5b","name":"Sensor Board Power","topic":"DLIswitch01/outlets/5/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":797,"y":836,"wires":[]},{"id":"e796bc1.c508cc","type":"ui_switch","z":"f8348e1f.8ef5b","name":"","label":"server","tooltip":"","group":"6a9ec52a.a86664","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DLIswitch01/outlets/5/set","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":202,"y":834,"wires":[["b6f1bb21.b12aa"]]},{"id":"76011b08.397c44","type":"mqtt out","z":"f8348e1f.8ef5b","name":"Sensor Board Power","topic":"DLIswitch01/outlets/6/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":820,"y":959,"wires":[]},{"id":"de8a792a.414f9","type":"ui_switch","z":"f8348e1f.8ef5b","name":"","label":"Windows","tooltip":"","group":"6a9ec52a.a86664","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DLIswitch01/outlets/6/set","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":235,"y":957,"wires":[["76011b08.397c44"]]},{"id":"33a908aa.9bea9","type":"mqtt out","z":"f8348e1f.8ef5b","name":"Sensor Board Power","topic":"DLIswitch01/outlets/7/set","qos":"1","retain":"","broker":"fc9768bd.165278","x":792,"y":1077,"wires":[]},{"id":"ab022805.0a34c","type":"ui_switch","z":"f8348e1f.8ef5b","name":"","label":"Router","tooltip":"","group":"6a9ec52a.a86664","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DLIswitch01/outlets/7/set","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":197,"y":1075,"wires":[["33a908aa.9bea9"]]},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"6a9ec52a.a86664","type":"ui_group","z":"","name":"RPi Power","tab":"9eea655f.d6a268","order":7,"disp":true,"width":3,"collapse":false},{"id":"9eea655f.d6a268","type":"ui_tab","z":"","name":"RPi Info","icon":"dashboard","order":6,"disabled":false,"hidden":false}]