Master Flows/E-Mail.json
[{"id":"c26a64fa.a3d2e8","type":"tab","label":"E-Mail","disabled":false,"info":""},{"id":"c8aeddcc.178688","type":"e-mail","z":"c26a64fa.a3d2e8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"a.alan.blind@gmail.com","dname":"","x":902,"y":263,"wires":[]},{"id":"85516fcd.2213","type":"link in","z":"c26a64fa.a3d2e8","name":"Send Mail","links":["554c02c4.707c8c","8fab9a8.abaf5e8","a96043db.4a2f1","a9d873cc.0d28f","abbfd9ec.b8de38","b5a0bb4.d6f4948","b58a5176.c542b8","e6ac3351.dbf9d8","2544238e.007a1c","9376df8.88f90a","ba99755d.e5ce38","a810c258.2f5618","19ad57b2.9a2ea","207e21d0.9baad6","d1272db7.b5df5","b701f288.6ea85","f10b5d7d.43ed58","64faefd3.bc77f8","979836a1.b24ba","2db52403.4dbe8c","66007b48.0639a4","e9097dd1.935d6","b69b019b.c4ab48","8572fcec.dd82a8","28e333d7.5c517c","a367b237.ca60f8","3812c8f5.8bfaf8","2655d.441a5aa3c","fcc02979.5a2ad8","81397f5c.8867e","629eb4b7.279c34","97f408b4.3e7d28","79c7a660.b292a8","fa6f2225.a711"],"x":333,"y":263,"wires":[["c8aeddcc.178688"]]},{"id":"52144796.135408","type":"inject","z":"c26a64fa.a3d2e8","name":"Test Message","topic":"","payload":"This is a test message from Node-Red","payloadType":"str","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":370,"y":388,"wires":[["c8aeddcc.178688"]]},{"id":"9b89ae5c.4c2e88","type":"mqtt in","z":"c26a64fa.a3d2e8","name":"","topic":"MQTT_Message","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":364,"y":173,"wires":[["c8aeddcc.178688"]]},{"id":"77d02d9a.a2bad4","type":"e-mail","z":"c26a64fa.a3d2e8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"a.alan.blind@gmail.com, fmslake@gmail.com","dname":"","x":972.7445678710938,"y":613.2608642578125,"wires":[]},{"id":"cadd08c3.be43d","type":"link in","z":"c26a64fa.a3d2e8","name":"Alan and Gaye E-Mail","links":["b4d4b7c0.b22c8"],"x":428.26087951660156,"y":615.6168632507324,"wires":[["77d02d9a.a2bad4"]]},{"id":"f8f3e9c4.23d0e8","type":"inject","z":"c26a64fa.a3d2e8","name":"Test Message","topic":"","payload":"This is a test message from Node-Red","payloadType":"str","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":348.7445831298828,"y":715.0434379577637,"wires":[["77d02d9a.a2bad4"]]},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"}]