Master Flows/Fan Countdown.json
[{"id":"3e0c4b6c.376dac","type":"tab","label":"Fan Countdown","disabled":false,"info":""},{"id":"2411fcbc.6e64ac","type":"ui_template","z":"3e0c4b6c.376dac","group":"2acbd6a6.07755a","name":"Flex PTT","order":2,"width":6,"height":1,"format":"<script>\n(function($scope) {\n    \nlet amount = 10 //amount of LEDs\nlet label = \"Flex PTT\"\n \nlet on1 = \"#00FF00\"\nlet off1 = \"#ff000d\"\nlet on2 = \"#00FF00\"\nlet off2 = \"#ff000d\"\nlet on3 = \"#00FF00\"\nlet off3 = \"#ff000d\"\n\nlet threshold1 = 1/2 // the limit between color 1 and color 2\nlet threshold2 = 4/5 //  the limit between color 2 and color 3\n\nvar bargraph = new Array(amount).fill(\"#000000\")\n\n$scope.$watch('msg', function() {\n    \nif ($scope.msg){\n    if ($scope.msg.hasOwnProperty('payload') && typeof $scope.msg.payload == \"number\"){\n        $scope.msg.label = label\n        $scope.msg.payload = parseInt($scope.msg.payload)\n    \n        if ($scope.msg.payload > amount){\n            $scope.msg.payload = amount\n        }\n        for (var i = 0; i < $scope.msg.payload; i++){\n            if (i < amount*threshold1){\n                bargraph[i] = on1\n            }else if (i < amount*threshold2){\n                bargraph[i] = on2\n            }else{\n                bargraph[i] = on3\n            }\n        }\n        for (var i = $scope.msg.payload; i < amount; i++){\n            if (i < amount*threshold1){\n                bargraph[i] = off1\n            }else if (i < amount*threshold2){\n                bargraph[i] = off2\n            }else{\n                bargraph[i] = off3\n            }\n        }\n        $scope.msg.bargraph = bargraph.reverse()\n    }else if (typeof $scope.msg.payload !== \"number\"){\n        $scope.msg = {\"bargraph\":[...bargraph], \"payload\": 0, \"label\":\"Led Bar Graph\"}\n    }   \n}else{\n    $scope.msg = {\"bargraph\":[...bargraph], \"payload\": 0, \"label\":\"Led Bar Graph\"}\n}\n    });\n})(scope);\n</script>\n\n<style>\n.bargraph {\n    float: right;\n    padding: 3px;\n    width: 15px;\n    height: 20px;\n    margin: 4px 2px 8px 0px;\n    border-radius: 0%;\n}\n</style>\n\n<div>{{msg.label}}\n<span ng-repeat=\"led in msg.bargraph track by $index\">\n    <span class=\"bargraph\" style=\"background-color: {{led}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{led}} 0 3px 15px;\"></span>\n</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1045.6666526794434,"y":205.55556392669678,"wires":[[]]},{"id":"5de8f5dc.e9a264","type":"mytimeout","z":"3e0c4b6c.376dac","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"0","timer":"330","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":652.6666564941406,"y":350.2222194671631,"wires":[[],["3628c3b5.17b2b4","901a805a.7e4ac8","3de43bee.73db0c"]]},{"id":"c26c8e2.0fccdf","type":"inject","z":"3e0c4b6c.376dac","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":348.2222137451172,"y":475.00000953674316,"wires":[["5de8f5dc.e9a264"]]},{"id":"5cfcb0a3.23076","type":"calculator","z":"3e0c4b6c.376dac","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"30","x":930.5555992126465,"y":786.0000152587891,"wires":[["f7648f8c.3d16f8"]]},{"id":"3628c3b5.17b2b4","type":"ui_text","z":"3e0c4b6c.376dac","d":true,"group":"18595923.fb8687","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1040.3333358764648,"y":429.4444332122803,"wires":[]},{"id":"4a17ed2e.f4e5b4","type":"inject","z":"3e0c4b6c.376dac","name":"","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":366.222225189209,"y":583.5556106567383,"wires":[["5de8f5dc.e9a264"]]},{"id":"f7648f8c.3d16f8","type":"ui_template","z":"3e0c4b6c.376dac","group":"2acbd6a6.07755a","name":"Amp PTT","order":1,"width":6,"height":1,"format":"<script>\n(function($scope) {\n    \nlet amount = 10 //amount of LEDs\nlet label = \"Amp PTT\"\n \nlet on1 = \"#00FF00\"\nlet off1 = \"#ff000d\"\nlet on2 = \"#00FF00\"\nlet off2 = \"#ff000d\"\nlet on3 = \"#00FF00\"\nlet off3 = \"#ff000d\"\n\nlet threshold1 = 1/2 // the limit between color 1 and color 2\nlet threshold2 = 4/5 //  the limit between color 2 and color 3\n\nvar bargraph = new Array(amount).fill(\"#000000\")\n\n$scope.$watch('msg', function() {\n    \nif ($scope.msg){\n    if ($scope.msg.hasOwnProperty('payload') && typeof $scope.msg.payload == \"number\"){\n        $scope.msg.label = label\n        $scope.msg.payload = parseInt($scope.msg.payload)\n    \n        if ($scope.msg.payload > amount){\n            $scope.msg.payload = amount\n        }\n        for (var i = 0; i < $scope.msg.payload; i++){\n            if (i < amount*threshold1){\n                bargraph[i] = on1\n            }else if (i < amount*threshold2){\n                bargraph[i] = on2\n            }else{\n                bargraph[i] = on3\n            }\n        }\n        for (var i = $scope.msg.payload; i < amount; i++){\n            if (i < amount*threshold1){\n                bargraph[i] = off1\n            }else if (i < amount*threshold2){\n                bargraph[i] = off2\n            }else{\n                bargraph[i] = off3\n            }\n        }\n        $scope.msg.bargraph = bargraph.reverse()\n    }else if (typeof $scope.msg.payload !== \"number\"){\n        $scope.msg = {\"bargraph\":[...bargraph], \"payload\": 0, \"label\":\"Led Bar Graph\"}\n    }   \n}else{\n    $scope.msg = {\"bargraph\":[...bargraph], \"payload\": 0, \"label\":\"Led Bar Graph\"}\n}\n    });\n})(scope);\n</script>\n\n<style>\n.bargraph {\n    float: right;\n    padding: 3px;\n    width: 15px;\n    height: 20px;\n    margin: 4px 2px 8px 0px;\n    border-radius: 0%;\n}\n</style>\n\n<div>{{msg.label}}\n<span ng-repeat=\"led in msg.bargraph track by $index\">\n    <span class=\"bargraph\" style=\"background-color: {{led}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{led}} 0 3px 15px;\"></span>\n</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1125.1110572814941,"y":673.0000677108765,"wires":[[]]},{"id":"43ba67ae.811f68","type":"mytimeout","z":"3e0c4b6c.376dac","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"0","timer":"330","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":699.8888893127441,"y":909.888934135437,"wires":[[],["b12edb85.02ec98","5cfcb0a3.23076"]]},{"id":"9192a14c.e46858","type":"inject","z":"3e0c4b6c.376dac","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":469.88888931274414,"y":986.888934135437,"wires":[["43ba67ae.811f68"]]},{"id":"3de43bee.73db0c","type":"calculator","z":"3e0c4b6c.376dac","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"30","x":870.0000267028809,"y":266.77784538269043,"wires":[["2411fcbc.6e64ac"]]},{"id":"b12edb85.02ec98","type":"ui_text","z":"3e0c4b6c.376dac","d":true,"group":"18595923.fb8687","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1121.9999618530273,"y":880.2222938537598,"wires":[]},{"id":"eceaaec6.038f7","type":"inject","z":"3e0c4b6c.376dac","name":"","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":487.88888931274414,"y":1099.888934135437,"wires":[["43ba67ae.811f68"]]},{"id":"409d0e5.9bfc8f","type":"link in","z":"3e0c4b6c.376dac","name":"Flex PTT Coutdown","links":["84534ae3.f1e12"],"x":212.8888840675354,"y":315.3333463668823,"wires":[["f2c751ee.5f7f68","516e4e28.c5eb58"]]},{"id":"a48fded6.334698","type":"link in","z":"3e0c4b6c.376dac","name":"Amp PTT Coutdown","links":["1495bc7f.f2a47c"],"x":264.88888931274414,"y":874.888934135437,"wires":[["adb88d2b.07e99","7866a6ca.c1b18"]]},{"id":"f11638dd.2de1f8","type":"ui_template","z":"3e0c4b6c.376dac","group":"2acbd6a6.07755a","name":"XVTR PTT","order":3,"width":6,"height":1,"format":"<script>\n(function($scope) {\n    \nlet amount = 10 //amount of LEDs\nlet label = \"XVTR PTT\"\n \nlet on1 = \"#00FF00\"\nlet off1 = \"#ff000d\"\nlet on2 = \"#00FF00\"\nlet off2 = \"#ff000d\"\nlet on3 = \"#00FF00\"\nlet off3 = \"#ff000d\"\n\nlet threshold1 = 1/2 // the limit between color 1 and color 2\nlet threshold2 = 4/5 //  the limit between color 2 and color 3\n\nvar bargraph = new Array(amount).fill(\"#000000\")\n\n$scope.$watch('msg', function() {\n    \nif ($scope.msg){\n    if ($scope.msg.hasOwnProperty('payload') && typeof $scope.msg.payload == \"number\"){\n        $scope.msg.label = label\n        $scope.msg.payload = parseInt($scope.msg.payload)\n    \n        if ($scope.msg.payload > amount){\n            $scope.msg.payload = amount\n        }\n        for (var i = 0; i < $scope.msg.payload; i++){\n            if (i < amount*threshold1){\n                bargraph[i] = on1\n            }else if (i < amount*threshold2){\n                bargraph[i] = on2\n            }else{\n                bargraph[i] = on3\n            }\n        }\n        for (var i = $scope.msg.payload; i < amount; i++){\n            if (i < amount*threshold1){\n                bargraph[i] = off1\n            }else if (i < amount*threshold2){\n                bargraph[i] = off2\n            }else{\n                bargraph[i] = off3\n            }\n        }\n        $scope.msg.bargraph = bargraph.reverse()\n    }else if (typeof $scope.msg.payload !== \"number\"){\n        $scope.msg = {\"bargraph\":[...bargraph], \"payload\": 0, \"label\":\"Led Bar Graph\"}\n    }   \n}else{\n    $scope.msg = {\"bargraph\":[...bargraph], \"payload\": 0, \"label\":\"Led Bar Graph\"}\n}\n    });\n})(scope);\n</script>\n\n<style>\n.bargraph {\n    float: right;\n    padding: 3px;\n    width: 15px;\n    height: 20px;\n    margin: 4px 2px 8px 0px;\n    border-radius: 0%;\n}\n</style>\n\n<div>{{msg.label}}\n<span ng-repeat=\"led in msg.bargraph track by $index\">\n    <span class=\"bargraph\" style=\"background-color: {{led}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{led}} 0 3px 15px;\"></span>\n</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1194.1110877990723,"y":1295.555549621582,"wires":[[]]},{"id":"3d4d45fb.e0253a","type":"mytimeout","z":"3e0c4b6c.376dac","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"0","timer":"330","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":728.8889198303223,"y":1521.333348274231,"wires":[[],["fc400929.a4fc4","b7be91cd.8875c8"]]},{"id":"cd45cc7b.9c68","type":"inject","z":"3e0c4b6c.376dac","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":498.88891983032227,"y":1598.333348274231,"wires":[["3d4d45fb.e0253a"]]},{"id":"b7be91cd.8875c8","type":"calculator","z":"3e0c4b6c.376dac","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"30","x":897.8889198303223,"y":1309.333348274231,"wires":[["f11638dd.2de1f8"]]},{"id":"fc400929.a4fc4","type":"ui_text","z":"3e0c4b6c.376dac","d":true,"group":"18595923.fb8687","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1179.8888893127441,"y":1498.3333730697632,"wires":[]},{"id":"2629e4c0.c325c4","type":"inject","z":"3e0c4b6c.376dac","name":"","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":516.8889198303223,"y":1711.333348274231,"wires":[["3d4d45fb.e0253a"]]},{"id":"de99ed3c.8c1f18","type":"link in","z":"3e0c4b6c.376dac","name":"XVTR PTT Coutdown","links":["236400ab.3faa4","d25c6bc8.415258","e7e0979c.ed10e","5b7695ee.257364","9975ef08.947348","81e3b57.6733b48"],"x":293.88891983032227,"y":1486.333348274231,"wires":[["59a41a9d.20ec44"]]},{"id":"adb88d2b.07e99","type":"debug","z":"3e0c4b6c.376dac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":761,"wires":[]},{"id":"901a805a.7e4ac8","type":"debug","z":"3e0c4b6c.376dac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1045.5555725097656,"y":315.5555667877197,"wires":[]},{"id":"f2c751ee.5f7f68","type":"debug","z":"3e0c4b6c.376dac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":495.55555555555554,"y":218.88888888888889,"wires":[]},{"id":"516e4e28.c5eb58","type":"switch","z":"3e0c4b6c.376dac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":396.66666666666663,"y":337.77777777777777,"wires":[["5de8f5dc.e9a264"]]},{"id":"7866a6ca.c1b18","type":"switch","z":"3e0c4b6c.376dac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":451.11109161376953,"y":896.6666812896729,"wires":[["43ba67ae.811f68"]]},{"id":"59a41a9d.20ec44","type":"switch","z":"3e0c4b6c.376dac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1504,"wires":[["3d4d45fb.e0253a"]]},{"id":"2acbd6a6.07755a","type":"ui_group","z":"","name":"Timers","tab":"7f44402.9c4c9c","order":2,"disp":true,"width":"6","collapse":false},{"id":"18595923.fb8687","type":"ui_group","z":"","name":"Meters","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f44402.9c4c9c","type":"ui_tab","z":"","name":"Fan Control","icon":"dashboard","order":3,"disabled":false,"hidden":false}]