Master Flows/Flex Tune Button.json
[{"id":"f907fff9.344c8","type":"tab","label":"Flex Tune Button","disabled":false,"info":""},{"id":"596cfa5c.348804","type":"function","z":"f907fff9.344c8","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":465,"y":318,"wires":[["d2b019a5.24c77","4c49e4e4.22251c","cdb40a4c.6659f8"]]},{"id":"d2b019a5.24c77","type":"ui_button","z":"f907fff9.344c8","name":"Tune - on/off","group":"7010f600.55de9c","order":7,"width":6,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":208.99998474121094,"y":491,"wires":[["596cfa5c.348804"]]},{"id":"c3c925af.d246f","type":"inject","z":"f907fff9.344c8","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":212.99998474121094,"y":250,"wires":[["18866488.703773"]]},{"id":"2e2b6738.aca3f8","type":"comment","z":"f907fff9.344c8","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":218.99998474121094,"y":146,"wires":[]},{"id":"18866488.703773","type":"function","z":"f907fff9.344c8","name":"Setup","func":"msg = {\n    \"colourA\": \"blue\",\n    \"colourB\": \"red\",\n    \"txtA\": \"Tune - off\",\n    \"txtB\": \"Tune - on\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"black\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":198.99998474121094,"y":363,"wires":[["596cfa5c.348804"]]},{"id":"cdf47d4e.a5e58","type":"http request","z":"f907fff9.344c8","name":"Tune On","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.50.150:13522/api/radio/tune?param=1","tls":"","persist":false,"proxy":"","authType":"","x":1134,"y":249,"wires":[[]]},{"id":"4c49e4e4.22251c","type":"link out","z":"f907fff9.344c8","name":"Tune on/off","links":["7b5e8d71.12c8ac"],"x":695,"y":227,"wires":[]},{"id":"cdb40a4c.6659f8","type":"switch","z":"f907fff9.344c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"true","vt":"str","case":false},{"t":"regex","v":"false","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":695,"y":318,"wires":[["cdf47d4e.a5e58","1457435c.3080dd"],["e6f016b1.4fe098","7fdc0d90.7b304c"]]},{"id":"7fdc0d90.7b304c","type":"debug","z":"f907fff9.344c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1038,"y":500,"wires":[]},{"id":"1457435c.3080dd","type":"debug","z":"f907fff9.344c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1056,"y":144,"wires":[]},{"id":"e6f016b1.4fe098","type":"http request","z":"f907fff9.344c8","name":"Tune Off","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.50.150:13522/api/radio/tune?param=0","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":387,"wires":[[]]},{"id":"7010f600.55de9c","type":"ui_group","z":"","name":"HF Amp","tab":"60c7eab7.e319e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false}]