Master Flows/Flex Info.json
[{"id":"c26a61a3.b4997","type":"tab","label":"Flex Info","disabled":false,"info":""},{"id":"b32b7267.192208","type":"comment","z":"c26a61a3.b4997","name":"","info":" state=TRANSMITTING\n  state=READY","x":1620,"y":200,"wires":[]},{"id":"e6fa4644.dade78","type":"switch","z":"c26a61a3.b4997","name":"TX/RX State","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"state","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210.0000457763672,"y":771.0000610351562,"wires":[["163dc3c.15bbe3c"]]},{"id":"163dc3c.15bbe3c","type":"split","z":"c26a61a3.b4997","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":374.0000305175781,"y":772.0000610351562,"wires":[["faf51f0c.fea5c8"]]},{"id":"faf51f0c.fea5c8","type":"switch","z":"c26a61a3.b4997","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"TRANSMITTING","vt":"str"},{"t":"cont","v":"READY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":494.0000305175781,"y":772.0000610351562,"wires":[["99c0dd99.3d6238"],["87732ca2.101cb8"]],"inputLabels":["i/p"],"outputLabels":["PTT Requested","UnKey"]},{"id":"99c0dd99.3d6238","type":"change","z":"c26a61a3.b4997","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Transmitting","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":672.0000305175781,"y":737.0000610351562,"wires":[["6e5e083e.19e898","fbd79261.236e58"]],"info":"The msg.payload is set to open or closed and\nsent to MQTT so that the Steppir controller\nwill know to open or close the gate.\n\nWhen Closed, the Steppir code will not send commands\nto the controller and hopefully not cause the \nSteppir to actually move while in TX"},{"id":"87732ca2.101cb8","type":"change","z":"c26a61a3.b4997","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Ready","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":674.0000305175781,"y":827.0000610351562,"wires":[["6e5e083e.19e898","fbd79261.236e58"]],"info":"The msg.payload is set to open or closed and\nsent to MQTT so that the Steppir controller\nwill know to open or close the gate.\n\nWhen Closed, the Steppir code will not send commands\nto the controller and hopefully not cause the \nSteppir to actually move while in TX"},{"id":"6e5e083e.19e898","type":"ui_led","z":"c26a61a3.b4997","group":"7010f600.55de9c","order":5,"width":2,"height":1,"label":"Flex TX","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Flex TX LED","x":976.0000762939453,"y":812.0000305175781,"wires":[]},{"id":"ee608296.ef248","type":"link out","z":"c26a61a3.b4997","name":"Flex RF Power Setpoint","links":["9b1aad9e.4460b8"],"x":906.9999732971191,"y":432.00000762939453,"wires":[]},{"id":"fbd79261.236e58","type":"link out","z":"c26a61a3.b4997","name":"Flex PTT","links":["9e22aa70.a1717"],"x":954.0000305175781,"y":711.0000610351562,"wires":[]},{"id":"976be990.4e629","type":"ui_level","z":"c26a61a3.b4997","group":"7010f600.55de9c","order":8,"width":6,"height":1,"name":"Flex Power Out","label":"Power Setpoint","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"40","segHigh":"50","unit":"W","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":1002.7500991821289,"y":501.50000762939453,"wires":[]},{"id":"3733020f.4c4406","type":"split","z":"c26a61a3.b4997","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":721.2662963867188,"y":356,"wires":[["43910f9f.11377"]]},{"id":"5583cfaa.cbe32","type":"tcp request","z":"c26a61a3.b4997","server":"192.168.50.80","port":"4992","out":"sit","splitc":" ","name":"","x":290.2663116455078,"y":265.99998474121094,"wires":[["ae44359f.c0a5b","e6fa4644.dade78"]]},{"id":"e075599.0bcf028","type":"inject","z":"c26a61a3.b4997","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":369.2663116455078,"y":156,"wires":[["33a82c52.322104"]]},{"id":"33a82c52.322104","type":"function","z":"c26a61a3.b4997","name":"C173|sub tx all","func":"msg.payload = \"C173|sub tx all\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":591.2662963867188,"y":156,"wires":[["5583cfaa.cbe32"]]},{"id":"ae44359f.c0a5b","type":"function","z":"c26a61a3.b4997","name":"Hex to String","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":701.2662963867188,"y":256,"wires":[["63e4492c.af52e"]]},{"id":"43910f9f.11377","type":"switch","z":"c26a61a3.b4997","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"rfpower=","vt":"str"},{"t":"cont","v":"freq=","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":401.26629638671875,"y":456,"wires":[["1d2fb704.7a6de9"],["ecc78870.7ac7c8"]]},{"id":"63e4492c.af52e","type":"change","z":"c26a61a3.b4997","name":"Change cal_freq to cal_f","rules":[{"t":"change","p":"payload","pt":"msg","from":"cal_freq","fromt":"str","to":"cal_f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":461.26629638671875,"y":356,"wires":[["3733020f.4c4406"]]},{"id":"ecc78870.7ac7c8","type":"function","z":"c26a61a3.b4997","name":"Parse TX VFO","func":"msg.payload = parseFloat(msg.payload.substr(5,7));\nmsg.payload = msg.payload.toFixed(6);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":691.2662963867188,"y":496,"wires":[["78cc7a47.1b1f1c","9693c53f.c3789"]]},{"id":"1d2fb704.7a6de9","type":"function","z":"c26a61a3.b4997","name":"Parse TX Power","func":"msg.payload = parseInt(msg.payload.substr(8,3));\n\nreturn msg;","outputs":1,"noerr":0,"x":691.2662963867188,"y":436,"wires":[["9f5c777.e0ba308","ee608296.ef248","976be990.4e629"]]},{"id":"78cc7a47.1b1f1c","type":"change","z":"c26a61a3.b4997","name":"","rules":[{"t":"set","p":"TXFreq","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":701.2662963867188,"y":576,"wires":[[]]},{"id":"9693c53f.c3789","type":"debug","z":"c26a61a3.b4997","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":964.2662887573242,"y":583.0000295639038,"wires":[]},{"id":"9f5c777.e0ba308","type":"debug","z":"c26a61a3.b4997","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":968.2662887573242,"y":351,"wires":[]},{"id":"7010f600.55de9c","type":"ui_group","z":"","name":"HF Amp","tab":"60c7eab7.e319e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false}]