Master Flows/FR Stack.json
[{"id":"7cf56596.540224","type":"tab","label":"FR STack UDP Data","disabled":false,"info":""},{"id":"47098c7f.114ed4","type":"udp in","z":"7cf56596.540224","name":"FRStack Radio Data","iface":"","port":"12073","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":115,"y":298,"wires":[["c0e936fe.74dc4","526fbdb5.a75c0c"]]},{"id":"c0e936fe.74dc4","type":"xml","z":"7cf56596.540224","name":"","property":"payload","attr":"","chr":"","x":324,"y":98,"wires":[["b9f95115.ed5ee","e50742f8.d0d32"]]},{"id":"b9f95115.ed5ee","type":"debug","z":"7cf56596.540224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":560,"y":40,"wires":[]},{"id":"794a795f.72bcb","type":"udp in","z":"7cf56596.540224","name":"FRStack Meter Data","iface":"","port":"13000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":123,"y":410,"wires":[["e03b27b0.d71c58","b0c6f93f.c6ef58"]]},{"id":"526fbdb5.a75c0c","type":"debug","z":"7cf56596.540224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":368,"y":297,"wires":[]},{"id":"e03b27b0.d71c58","type":"json","z":"7cf56596.540224","name":"","property":"payload","action":"","pretty":false,"x":221,"y":1069,"wires":[["ae5e5fea.b394c8","95db3416.74f16","27d6bbe0.34f9ec","4df00454.654584","a6106296.2b9f5","87a8e360.e130f"]]},{"id":"ae5e5fea.b394c8","type":"debug","z":"7cf56596.540224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":535,"y":495,"wires":[]},{"id":"95db3416.74f16","type":"change","z":"7cf56596.540224","name":"PA Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.meters.PATEMPC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":496,"y":711,"wires":[["82fc3049.cd1d9"]]},{"id":"27d6bbe0.34f9ec","type":"change","z":"7cf56596.540224","name":"Flex PA Voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.meters[\"+13.8A\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":467,"y":1150,"wires":[["f7c1bb83.0ccb58","59c1276.22d0f58","eca89e22.2787c8"]]},{"id":"b4d7cf18.536ec8","type":"influxdb out","z":"7cf56596.540224","influxdb":"60c2492b.300b3","name":"","measurement":"Flex_PA_Volts","precision":"","retentionPolicy":"","x":1097,"y":1323,"wires":[]},{"id":"f7c1bb83.0ccb58","type":"function","z":"7cf56596.540224","name":"String to Number","func":"var c = msg.payload;\nvar f;\nf = (c*1);\nmsg.payload = f;\nreturn msg;","outputs":1,"noerr":0,"x":707,"y":1243,"wires":[["b4d7cf18.536ec8","c441918b.af477"]]},{"id":"8010f372.7cf69","type":"influxdb out","z":"7cf56596.540224","influxdb":"60c2492b.300b3","name":"","measurement":"Flex_PA_Temp","precision":"","retentionPolicy":"","x":1184,"y":979,"wires":[]},{"id":"ba212be0.c2d96","type":"function","z":"7cf56596.540224","name":"String to Number","func":"var c = msg.payload;\nvar f;\nf = (c*1);\nmsg.payload = f;\nreturn msg;","outputs":1,"noerr":0,"x":687,"y":871,"wires":[["8010f372.7cf69"]]},{"id":"82fc3049.cd1d9","type":"function","z":"7cf56596.540224","name":"function","func":"\n\n    //Take msg.payload of the temp celcus and save it to a var\n    var tempc = msg.payload;\n\n    //Convert temp celcus to Fahrenheit\n    var tempf = tempc * 9/5 + 32;\n\n    //round the number to get rid of all them decimals\n    tempf = Math.round(tempf * 10000) / 10000;\n\n    //set msg.payload to Fahrenheit\n    msg.payload = tempf;\n\n    //send it!!!!!!!\n    return msg;\n","outputs":1,"noerr":0,"x":808,"y":697,"wires":[["ba212be0.c2d96","e3b14d06.300398"]]},{"id":"4df00454.654584","type":"change","z":"7cf56596.540224","name":"Flex FWD Power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.meters.FWDPWR","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":473,"y":1456,"wires":[["9337b861.7f5ec"]]},{"id":"a6106296.2b9f5","type":"change","z":"7cf56596.540224","name":"Flex REV Power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.meters.REVPWR","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":472,"y":1586,"wires":[["e471020e.7a9aa8"]]},{"id":"87a8e360.e130f","type":"change","z":"7cf56596.540224","name":"Flex SWR","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.meters.SWR","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":444,"y":1718,"wires":[["efaa4f05.ac89b"]]},{"id":"b0c6f93f.c6ef58","type":"debug","z":"7cf56596.540224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":368,"y":407,"wires":[]},{"id":"e50742f8.d0d32","type":"change","z":"7cf56596.540224","name":"Frequency","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.RadioInfo.RadioNr[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["eb048223.5f8b08"]]},{"id":"eb048223.5f8b08","type":"debug","z":"7cf56596.540224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":120,"wires":[]},{"id":"e3b14d06.300398","type":"ui_level","z":"7cf56596.540224","group":"2d9dd02c.d66178","order":1,"width":0,"height":0,"name":"Flex PA Temp","label":"Flex PA","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"50","max":"125","segWarn":"80","segHigh":"120","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":1084,"y":696,"wires":[]},{"id":"59c1276.22d0f58","type":"ui_level","z":"7cf56596.540224","group":"22a9854c.2d4b3a","order":3,"width":6,"height":1,"name":"Flex PA Volts","label":"PA Volts","colorHi":"#00fa00","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"13","max":"14","segWarn":"","segHigh":"","unit":"V","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":1150,"y":1136,"wires":[]},{"id":"9337b861.7f5ec","type":"ui_level","z":"7cf56596.540224","group":"fad4ed94.c508d","order":8,"width":6,"height":1,"name":"Flex Power","label":"FWD Power","colorHi":"#00fa00","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"100","segWarn":"","segHigh":"","unit":"W","layout":"sh","channelA":"","channelB":"","decimals":"","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":861,"y":1447,"wires":[]},{"id":"e471020e.7a9aa8","type":"ui_level","z":"7cf56596.540224","group":"fad4ed94.c508d","order":9,"width":6,"height":1,"name":"Flex Reverse Power","label":"REV Power","colorHi":"#00fa00","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"20","segWarn":"5","segHigh":"20","unit":"W","layout":"sh","channelA":"","channelB":"","decimals":"","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":888,"y":1589,"wires":[]},{"id":"efaa4f05.ac89b","type":"ui_level","z":"7cf56596.540224","group":"fad4ed94.c508d","order":10,"width":6,"height":1,"name":"Flex SWR","label":"SWR","colorHi":"#00fa00","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"10","segWarn":"1.5","segHigh":"3","unit":"","layout":"sh","channelA":"","channelB":"","decimals":"","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":867,"y":1722,"wires":[]},{"id":"eca89e22.2787c8","type":"debug","z":"7cf56596.540224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":722,"y":1183,"wires":[]},{"id":"c441918b.af477","type":"debug","z":"7cf56596.540224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":976,"y":1228,"wires":[]},{"id":"60c2492b.300b3","type":"influxdb","z":"","hostname":"192.168.50.143","port":"8086","protocol":"http","database":"alan","name":"","usetls":false,"tls":"f387269f.0d2388"},{"id":"2d9dd02c.d66178","type":"ui_group","z":"","name":"Cabinet Info","tab":"6f95f9c2.a102","order":5,"disp":true,"width":"6","collapse":false},{"id":"22a9854c.2d4b3a","type":"ui_group","z":"","name":"Flex 12 VDC","tab":"60c7eab7.e319e4","order":3,"disp":true,"width":"6","collapse":false},{"id":"fad4ed94.c508d","type":"ui_group","z":"","name":"Radio Info","tab":"60c7eab7.e319e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"f387269f.0d2388","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"6f95f9c2.a102","type":"ui_tab","z":"","name":"Cabinet","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false}]