Master Flows/HF Auto.json
[{"id":"692c43f4.e061cc","type":"tab","label":"HF Auto","disabled":false,"info":""},{"id":"76e11f40.71836","type":"change","z":"692c43f4.e061cc","name":"Change global TX Freq to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"TXFreq","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":317,"y":190,"wires":[["fab4251c.9a27b8"]]},{"id":"14728302.289b9d","type":"inject","z":"692c43f4.e061cc","name":"Send Freq to HF Auto every 2 seconds","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":357,"y":130,"wires":[["76e11f40.71836"]]},{"id":"549ff0e6.4a3ba","type":"udp out","z":"692c43f4.e061cc","name":"MacBook Pro","addr":"192.168.50.150","iface":"","port":"12070","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":345,"y":405,"wires":[]},{"id":"90e91c6e.3ed888","type":"function","z":"692c43f4.e061cc","name":"Format XML Document packet for HF Auto","func":"msg.payload = '<?xml version=\"1.0\" encoding=\"utf-8\"?><NODERED><FREQ>' + msg.payload + \"</FREQ></NODERED>\";\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":310,"wires":[["549ff0e6.4a3ba"]]},{"id":"fab4251c.9a27b8","type":"function","z":"692c43f4.e061cc","name":"Multiply Freq x 1000000","func":"msg.payload = msg.payload*1000000;\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":250,"wires":[["90e91c6e.3ed888","e8b52d86.95eb08"]]},{"id":"e8b52d86.95eb08","type":"debug","z":"692c43f4.e061cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":744,"y":242,"wires":[]}]