Master Flows/HF Fan Control.json
[{"id":"436d9a38.46d874","type":"tab","label":"HF Fans","disabled":false,"info":""},{"id":"4b31cc94.84052c","type":"switch","z":"436d9a38.46d874","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"true","vt":"str","case":false},{"t":"regex","v":"false","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":403.44444274902344,"y":256.444580078125,"wires":[["84534ae3.f1e12","5b764667.1ac8d"],["2d108771.84f6a","d3f19df9.ad6f88"]]},{"id":"84534ae3.f1e12","type":"link out","z":"436d9a38.46d874","name":"Flex PTT","links":["409d0e5.9bfc8f","a8299a18.c261f"],"x":1075.444580078125,"y":216.888916015625,"wires":[]},{"id":"1495bc7f.f2a47c","type":"link out","z":"436d9a38.46d874","name":"Amp PTT","links":["a48fded6.334698","e97f3b96.aa78c8"],"x":1092.0001258850098,"y":729.555736541748,"wires":[]},{"id":"300252c2.9d2fee","type":"switch","z":"436d9a38.46d874","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570.4445495605469,"y":754.1114387512207,"wires":[["1495bc7f.f2a47c"],["f953772d.38e6e"]]},{"id":"2d108771.84f6a","type":"trigger","z":"436d9a38.46d874","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":705.6666870117188,"y":352.222412109375,"wires":[["84534ae3.f1e12"]]},{"id":"f953772d.38e6e","type":"trigger","z":"436d9a38.46d874","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":850.7778091430664,"y":848.111421585083,"wires":[["1495bc7f.f2a47c"]]},{"id":"76ff235f.21872c","type":"BooleanLogicUltimate","z":"436d9a38.46d874","name":"","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":385.4444885253906,"y":751.6114387512207,"wires":[["300252c2.9d2fee","75c8c459.4ffa64"],[],[]]},{"id":"9e22aa70.a1717","type":"link in","z":"436d9a38.46d874","name":"Flex TX","links":["fbd79261.236e58","eca1c21b.e56bd"],"x":202,"y":254,"wires":[["76ff235f.21872c","4b31cc94.84052c","ef16dbca.75823"]]},{"id":"ea307cd2.bfedc","type":"link in","z":"436d9a38.46d874","name":"HF Amp Inline","links":["ae3ae8c9.8868d"],"x":215.77781677246094,"y":749.5555305480957,"wires":[["76ff235f.21872c","9fcf16a1.508c"]]},{"id":"9fcf16a1.508c","type":"debug","z":"436d9a38.46d874","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":388.77781677246094,"y":884.5555305480957,"wires":[]},{"id":"ef16dbca.75823","type":"debug","z":"436d9a38.46d874","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":364,"y":139,"wires":[]},{"id":"75c8c459.4ffa64","type":"debug","z":"436d9a38.46d874","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":625.7778167724609,"y":590.5555305480957,"wires":[]},{"id":"5b764667.1ac8d","type":"debug","z":"436d9a38.46d874","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":917,"y":131,"wires":[]},{"id":"d3f19df9.ad6f88","type":"debug","z":"436d9a38.46d874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":702,"y":286,"wires":[]}]