Master Flows/Pings.json
[{"id":"dfd69853.2c6458","type":"tab","label":"Pings","disabled":false,"info":""},{"id":"da02df45.3a56c","type":"ping","z":"dfd69853.2c6458","name":"Flex","host":"192.168.50.80","timer":"1","x":162.99998474121094,"y":3270,"wires":[["9a05008f.eb6fe"]]},{"id":"bdbf9284.9b0338","type":"ping","z":"dfd69853.2c6458","name":"SMORF Ping","host":"192.168.50.168","timer":"30","x":171.99998474121094,"y":3387,"wires":[[]]},{"id":"390c4ef2.7a235a","type":"ping","z":"dfd69853.2c6458","name":"Satellite Board RPi","host":"192.168.50.192","timer":"5","x":96,"y":804,"wires":[["b1703ff7.a9ef7"]]},{"id":"b1703ff7.a9ef7","type":"switch","z":"dfd69853.2c6458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":364,"y":818,"wires":[["3423e754.b44ec8"],["51af8a1b.c941fc"]]},{"id":"3423e754.b44ec8","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":583,"y":782,"wires":[["cec41006.1b3918"]]},{"id":"51af8a1b.c941fc","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":577,"y":872,"wires":[["cec41006.1b3918","935f69f9.a46fe"]]},{"id":"cec41006.1b3918","type":"ui_led","z":"dfd69853.2c6458","group":"8dc53cce.7e2b7","order":2,"width":3,"height":1,"label":"Satellite","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Satellite","x":875,"y":787,"wires":[]},{"id":"a9aa48f7.470a18","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"RPi Failure","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Satellite Board RPi Failure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":962,"y":869,"wires":[["a9d873cc.0d28f"]]},{"id":"a9d873cc.0d28f","type":"link out","z":"dfd69853.2c6458","name":"Sat  RPi Board Fail","links":["efe17435.004f7","85516fcd.2213"],"x":1097,"y":874,"wires":[]},{"id":"902c4b3f.768f28","type":"inject","z":"dfd69853.2c6458","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":666,"y":988,"wires":[["a9aa48f7.470a18"]]},{"id":"935f69f9.a46fe","type":"rbe","z":"dfd69853.2c6458","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":874,"wires":[["a9aa48f7.470a18"]]},{"id":"65db3aa7.5060f4","type":"ping","z":"dfd69853.2c6458","name":"Cabinent 1 Board RPi","host":"192.168.50.188","timer":"5","x":121,"y":430,"wires":[["9dcc866c.59da6"]]},{"id":"9dcc866c.59da6","type":"switch","z":"dfd69853.2c6458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":379,"y":444,"wires":[["f3a58c2c.688a3"],["2da2b201.36e9fe"]]},{"id":"f3a58c2c.688a3","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":598,"y":408,"wires":[["28c4e0f5.c0b3e"]]},{"id":"2da2b201.36e9fe","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":592,"y":498,"wires":[["28c4e0f5.c0b3e","156389d7.017fde"]]},{"id":"28c4e0f5.c0b3e","type":"ui_led","z":"dfd69853.2c6458","group":"8dc53cce.7e2b7","order":1,"width":3,"height":1,"label":"Cabinent One","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Cabinent 1","x":900,"y":413,"wires":[]},{"id":"2a52eb91.2e3334","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"RPi Failure","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Cabinent 1 Board RPi Failure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":977,"y":495,"wires":[["a96043db.4a2f1"]]},{"id":"a96043db.4a2f1","type":"link out","z":"dfd69853.2c6458","name":"Sat  RPi Board Fail","links":["efe17435.004f7","85516fcd.2213"],"x":1112,"y":500,"wires":[]},{"id":"6c620569.2bcce4","type":"inject","z":"dfd69853.2c6458","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":747,"y":616,"wires":[["2a52eb91.2e3334"]]},{"id":"156389d7.017fde","type":"rbe","z":"dfd69853.2c6458","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":756,"y":500,"wires":[["2a52eb91.2e3334"]]},{"id":"91f3ccf8.c40db","type":"ping","z":"dfd69853.2c6458","name":"Fan Board RPi","host":"192.168.50.185","timer":"5","x":130,"y":1127,"wires":[["f01f4311.36f538"]]},{"id":"f01f4311.36f538","type":"switch","z":"dfd69853.2c6458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":408,"y":1141,"wires":[["db471735.77a068"],["dfd06e28.c96b6"]]},{"id":"db471735.77a068","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":627,"y":1105,"wires":[["ac31037b.735a5"]]},{"id":"dfd06e28.c96b6","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":621,"y":1195,"wires":[["ac31037b.735a5","c2ed9494.3e659"]]},{"id":"ac31037b.735a5","type":"ui_led","z":"dfd69853.2c6458","group":"8dc53cce.7e2b7","order":3,"width":3,"height":1,"label":"Fan","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Fan","x":909,"y":1110,"wires":[]},{"id":"b7c734a.7669b48","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"RPi Failure","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Fan Board RPi Failure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1006,"y":1192,"wires":[["b5a0bb4.d6f4948"]]},{"id":"b5a0bb4.d6f4948","type":"link out","z":"dfd69853.2c6458","name":"Sat  RPi Board Fail","links":["efe17435.004f7","85516fcd.2213"],"x":1141,"y":1197,"wires":[]},{"id":"85945e09.70d8e8","type":"inject","z":"dfd69853.2c6458","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1311,"wires":[["b7c734a.7669b48"]]},{"id":"c2ed9494.3e659","type":"rbe","z":"dfd69853.2c6458","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":814,"y":1197,"wires":[["b7c734a.7669b48"]]},{"id":"2adc6e2a.8b8a7a","type":"ping","z":"dfd69853.2c6458","name":"Cabinent 2 Board RPi","host":"192.168.50.174","timer":"5","x":148,"y":1501,"wires":[["5cf5d34b.358dcc"]]},{"id":"5cf5d34b.358dcc","type":"switch","z":"dfd69853.2c6458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":1515,"wires":[["1720d1a4.523946"],["63ba2333.c3b7cc"]]},{"id":"1720d1a4.523946","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":625,"y":1479,"wires":[["bc8f0635.cfd358"]]},{"id":"63ba2333.c3b7cc","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":619,"y":1569,"wires":[["bc8f0635.cfd358","647013d0.37d6f4"]]},{"id":"bc8f0635.cfd358","type":"ui_led","z":"dfd69853.2c6458","group":"8dc53cce.7e2b7","order":4,"width":3,"height":1,"label":"Cabinent Two","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Cabinent 2","x":927,"y":1484,"wires":[]},{"id":"fb18195a.a0b76","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"RPi Failure","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Cabinent 2 Board RPi Failure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1004,"y":1566,"wires":[["8fab9a8.abaf5e8"]]},{"id":"8fab9a8.abaf5e8","type":"link out","z":"dfd69853.2c6458","name":"Sat  RPi Board Fail","links":["efe17435.004f7","85516fcd.2213"],"x":1139,"y":1571,"wires":[]},{"id":"401955a0.54e4d4","type":"inject","z":"dfd69853.2c6458","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":708,"y":1685,"wires":[["fb18195a.a0b76"]]},{"id":"647013d0.37d6f4","type":"rbe","z":"dfd69853.2c6458","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":812,"y":1571,"wires":[["fb18195a.a0b76"]]},{"id":"b02f19e7.88fd3","type":"ui_led","z":"dfd69853.2c6458","group":"8dc53cce.7e2b7","order":6,"width":3,"height":1,"label":"Server","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Server","x":627,"y":158,"wires":[]},{"id":"5e511438.9d717c","type":"mqtt in","z":"dfd69853.2c6458","name":"","topic":"Server_Ping_LED","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":412,"y":214,"wires":[["b02f19e7.88fd3"]]},{"id":"9d953c19.a99f58","type":"comment","z":"dfd69853.2c6458","name":"From Fan Board RPi","info":"","x":213,"y":215,"wires":[]},{"id":"d39019a6.9bdde8","type":"ping","z":"dfd69853.2c6458","name":"DLI Switch","host":"192.168.50.191","timer":"5","x":119,"y":2226,"wires":[["575a5a6.7fd3a24"]]},{"id":"575a5a6.7fd3a24","type":"switch","z":"dfd69853.2c6458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":417,"y":2240,"wires":[["5da0c36a.2ea5a4"],["a6c579a7.4cc46"]]},{"id":"5da0c36a.2ea5a4","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":636,"y":2204,"wires":[["2c6b1d22.57e962"]]},{"id":"a6c579a7.4cc46","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2294,"wires":[["2c6b1d22.57e962","81ca86f6.c61fd8"]]},{"id":"2c6b1d22.57e962","type":"ui_led","z":"dfd69853.2c6458","group":"8dc53cce.7e2b7","order":8,"width":3,"height":1,"label":"DLI Switch","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"DLI Switch","x":938,"y":2209,"wires":[]},{"id":"407908ba.454088","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"DLI Switch","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"DLI Switch Failure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1015,"y":2291,"wires":[["a367b237.ca60f8"]]},{"id":"a367b237.ca60f8","type":"link out","z":"dfd69853.2c6458","name":"Sat  RPi Board Fail","links":["efe17435.004f7","85516fcd.2213"],"x":1150,"y":2296,"wires":[]},{"id":"f80c3607.d7a3d8","type":"inject","z":"dfd69853.2c6458","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":719,"y":2410,"wires":[["407908ba.454088"]]},{"id":"81ca86f6.c61fd8","type":"rbe","z":"dfd69853.2c6458","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":823,"y":2296,"wires":[["407908ba.454088"]]},{"id":"45ebf1fb.ab18b","type":"ping","z":"dfd69853.2c6458","name":"Sensor Board","host":"192.168.50.118","timer":"5","x":115,"y":1820,"wires":[["960d7da7.8c3378"]]},{"id":"960d7da7.8c3378","type":"switch","z":"dfd69853.2c6458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":403,"y":1834,"wires":[["2db81d83.4c41ba"],["7a6bec96.fa4044"]]},{"id":"2db81d83.4c41ba","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":622,"y":1798,"wires":[["8e7c3313.5fe898"]]},{"id":"7a6bec96.fa4044","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":616,"y":1888,"wires":[["8e7c3313.5fe898","f6096d5a.55cbc"]]},{"id":"8e7c3313.5fe898","type":"ui_led","z":"dfd69853.2c6458","group":"8dc53cce.7e2b7","order":5,"width":3,"height":1,"label":"Sensor Board","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Sensor Board","x":934,"y":1803,"wires":[]},{"id":"707645e2.5f4bf4","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor Board","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Sensor Board Failure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1001,"y":1885,"wires":[["3812c8f5.8bfaf8"]]},{"id":"3812c8f5.8bfaf8","type":"link out","z":"dfd69853.2c6458","name":"Sat  RPi Board Fail","links":["efe17435.004f7","85516fcd.2213"],"x":1136,"y":1890,"wires":[]},{"id":"b8e33b2c.6c36","type":"inject","z":"dfd69853.2c6458","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":705,"y":2004,"wires":[["707645e2.5f4bf4"]]},{"id":"f6096d5a.55cbc","type":"rbe","z":"dfd69853.2c6458","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":809,"y":1890,"wires":[["707645e2.5f4bf4"]]},{"id":"9a05008f.eb6fe","type":"debug","z":"dfd69853.2c6458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":715.4999847412109,"y":3258,"wires":[]},{"id":"3f0d6f9d.f0db58","type":"ping","z":"dfd69853.2c6458","name":"Windows","host":"192.168.50.142","timer":"5","x":161,"y":2582,"wires":[["83220b79.6604c"]]},{"id":"83220b79.6604c","type":"switch","z":"dfd69853.2c6458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":459,"y":2596,"wires":[["172ce7b3.7d2da8"],["d6561260.3dd0f"]]},{"id":"172ce7b3.7d2da8","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":678,"y":2560,"wires":[["266fb55e.4d55ea"]]},{"id":"d6561260.3dd0f","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":672,"y":2650,"wires":[["266fb55e.4d55ea","e584aaac.dba46"]]},{"id":"266fb55e.4d55ea","type":"ui_led","z":"dfd69853.2c6458","group":"8dc53cce.7e2b7","order":7,"width":3,"height":1,"label":"Windows","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Windows","x":970,"y":2565,"wires":[]},{"id":"40159861.7e8cf8","type":"change","z":"dfd69853.2c6458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Windows Computer","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Windows Computer Failure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1057,"y":2647,"wires":[["97f408b4.3e7d28"]]},{"id":"97f408b4.3e7d28","type":"link out","z":"dfd69853.2c6458","name":"Sat  RPi Board Fail","links":["efe17435.004f7","85516fcd.2213"],"x":1192,"y":2652,"wires":[]},{"id":"e825b4d6.1b7628","type":"inject","z":"dfd69853.2c6458","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":761,"y":2766,"wires":[["40159861.7e8cf8"]]},{"id":"e584aaac.dba46","type":"rbe","z":"dfd69853.2c6458","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":865,"y":2652,"wires":[["40159861.7e8cf8"]]},{"id":"8dc53cce.7e2b7","type":"ui_group","z":"","name":"Pi Ping","tab":"9eea655f.d6a268","order":5,"disp":true,"width":3,"collapse":false},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"9eea655f.d6a268","type":"ui_tab","z":"","name":"RPi Info","icon":"dashboard","order":6,"disabled":false,"hidden":false}]