Master Flows/PST Rotor.json
[{"id":"a2cd3d92.2d932","type":"tab","label":"PST Rotor","disabled":false,"info":""},{"id":"c24c0048.a2d8e","type":"udp in","z":"a2cd3d92.2d932","name":"","iface":"","port":"12001","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":289,"y":288,"wires":[["fbb7f76.65a9608","b6d45e0b.4394"]]},{"id":"fbb7f76.65a9608","type":"debug","z":"a2cd3d92.2d932","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":557,"y":451,"wires":[]},{"id":"c3a07c14.e3dac8","type":"udp out","z":"a2cd3d92.2d932","name":"MacPro PST Rotor UDP","addr":"192.168.50.130","iface":"","port":"12000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1269.250015258789,"y":1194.2500190734863,"wires":[]},{"id":"e7f00331.0a8ad","type":"ui_button","z":"a2cd3d92.2d932","name":"Track","group":"d0879c35.7e91b","order":3,"width":4,"height":1,"passthru":true,"label":"<font size = 6>Track","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><TRACK>1</TRACK></PST>","payloadType":"str","topic":"","x":433,"y":1054,"wires":[["ab491b3d.dedda8","a2e02d94.add2e"]]},{"id":"401179ad.4ea718","type":"ui_template","z":"a2cd3d92.2d932","group":"","name":"button template","order":1,"width":0,"height":0,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1065,"y":1523,"wires":[[]]},{"id":"c1c1797f.35831","type":"ui_button","z":"a2cd3d92.2d932","name":"Manual","group":"d0879c35.7e91b","order":2,"width":4,"height":1,"passthru":true,"label":"<font size = 6> Manual","tooltip":"","color":"Black","bgcolor":"Yellow","icon":"","payload":"<PST><TRACK>0</TRACK></PST>","payloadType":"str","topic":"","x":434,"y":1226,"wires":[["59c457cb.3daa1"]]},{"id":"ab491b3d.dedda8","type":"stoptimer2","z":"a2cd3d92.2d932","duration":"15","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":184,"y":1134,"wires":[["c1c1797f.35831","1e9c5b71.974b9d"],[]]},{"id":"28f316dc.cac4c2","type":"function","z":"a2cd3d92.2d932","name":"Azimuth","func":"// Convert Buffer to String:\nvar data = msg.payload.toString()\n// Split it using the `:` character\nvar parts = data.split(\":\");\n\n// parts is now a two-element array, containing \"AZ\" and \"129.9\"\n// use the second element:\nmsg.payload = parts[1];\n\nreturn msg","outputs":1,"noerr":0,"x":871,"y":183,"wires":[["dd562c2d.caa428","d40563fb.48b8d8","ae7a7374.cdcf8"]]},{"id":"dd562c2d.caa428","type":"debug","z":"a2cd3d92.2d932","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":132,"wires":[]},{"id":"b6d45e0b.4394","type":"switch","z":"a2cd3d92.2d932","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"AZ","vt":"str"},{"t":"cont","v":"EL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":587,"y":284,"wires":[["28f316dc.cac4c2"],["f4426fe3.fbc1d8"]]},{"id":"f4426fe3.fbc1d8","type":"function","z":"a2cd3d92.2d932","name":"Elevation","func":"// Convert Buffer to String:\nvar data = msg.payload.toString()\n// Split it using the `:` character\nvar parts = data.split(\":\");\n\n// parts is now a two-element array, containing \"AZ\" and \"129.9\"\n// use the second element:\nmsg.payload = parts[1];\n\nreturn msg","outputs":1,"noerr":0,"x":933,"y":422,"wires":[["46e2b025.cf0288","64bd4fde.69b06","53d20c7a.967ce4"]]},{"id":"46e2b025.cf0288","type":"debug","z":"a2cd3d92.2d932","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1127,"y":497,"wires":[]},{"id":"64bd4fde.69b06","type":"ui_text","z":"a2cd3d92.2d932","group":"aaff8a2e.779c08","order":1,"width":4,"height":2,"name":"","label":"Degrees","format":" <font size = 10px color = red> {{msg.payload}}","layout":"col-center","x":1141,"y":443,"wires":[]},{"id":"53d20c7a.967ce4","type":"ui_gauge","z":"a2cd3d92.2d932","name":"Elevation","group":"aaff8a2e.779c08","order":4,"width":4,"height":3,"gtype":"gage","title":"","label":"Degrees","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"179","seg2":"180","x":1141,"y":381,"wires":[]},{"id":"d40563fb.48b8d8","type":"ui_text","z":"a2cd3d92.2d932","group":"f39fa2d8.9797a8","order":1,"width":4,"height":2,"name":"Azimuth","label":"Degrees","format":" <font size = 10px color = red> {{msg.payload}}","layout":"col-center","x":1078,"y":197,"wires":[]},{"id":"ae7a7374.cdcf8","type":"ui_gauge","z":"a2cd3d92.2d932","name":"","group":"f39fa2d8.9797a8","order":4,"width":4,"height":3,"gtype":"compass","title":"","label":"Degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1096,"y":266,"wires":[]},{"id":"89d30dd3.bda118","type":"link in","z":"a2cd3d92.2d932","name":"UDP Broadcasts","links":["17bd3bb2.6c599c","2d1a767d.895752","2ea3c503.75221a","32af5ee2.247492","3a211570.7bc812","3afcf41c.1fcf5c","40ef0331.123704","59c457cb.3daa1","5d6e2657.b65a78","718284e3.ec2d6c","7eb16712.835fb","94ff634c.c71c68","9f397dc6.1a7a58","a2e02d94.add2e","a381cbf8.f0c83","adfafd1f.87fd58","b4d8b78a.eabe3","cfbc5606.85a7d8","dac7b7af.c40cb","f1fc3676.06a6e","f2bae758.51c4a","fe561119.21439"],"x":1023.5000133514404,"y":1169.0000171661377,"wires":[["c3a07c14.e3dac8","742051eb.727fd"]]},{"id":"a2e02d94.add2e","type":"link out","z":"a2cd3d92.2d932","name":"Track","links":["89d30dd3.bda118"],"x":572,"y":984,"wires":[]},{"id":"59c457cb.3daa1","type":"link out","z":"a2cd3d92.2d932","name":"Manual","links":["89d30dd3.bda118"],"x":599,"y":1172,"wires":[]},{"id":"17bd3bb2.6c599c","type":"link out","z":"a2cd3d92.2d932","name":"AZ 270","links":["89d30dd3.bda118"],"x":358,"y":1485,"wires":[]},{"id":"d49f54b5.05f12","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 270","group":"f39fa2d8.9797a8","order":6,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 270","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>270</AZIMUTH></PST>","payloadType":"str","topic":"","x":216,"y":1482,"wires":[["17bd3bb2.6c599c"]]},{"id":"2ea3c503.75221a","type":"link out","z":"a2cd3d92.2d932","name":"AZ 90","links":["89d30dd3.bda118"],"x":350,"y":1820,"wires":[]},{"id":"475d3f71.4821d8","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 90","group":"f39fa2d8.9797a8","order":17,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 90","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>90</AZIMUTH></PST>","payloadType":"str","topic":"","x":216,"y":1817,"wires":[["2ea3c503.75221a"]]},{"id":"2d1a767d.895752","type":"link out","z":"a2cd3d92.2d932","name":"AZ 360","links":["89d30dd3.bda118"],"x":363,"y":1337,"wires":[]},{"id":"8e0fff3a.7de108","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 360","group":"f39fa2d8.9797a8","order":2,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 360","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>3</AZIMUTH></PST>","payloadType":"str","topic":"","x":214,"y":1328,"wires":[["2d1a767d.895752"]]},{"id":"9f397dc6.1a7a58","type":"link out","z":"a2cd3d92.2d932","name":"AZ 180","links":["89d30dd3.bda118"],"x":329,"y":1638,"wires":[]},{"id":"60f0453.e292d3c","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 180","group":"f39fa2d8.9797a8","order":11,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 180","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>180</AZIMUTH></PST>","payloadType":"str","topic":"","x":205,"y":1638,"wires":[["9f397dc6.1a7a58"]]},{"id":"3afcf41c.1fcf5c","type":"link out","z":"a2cd3d92.2d932","name":"EL 90","links":["89d30dd3.bda118"],"x":784,"y":1358,"wires":[]},{"id":"487360c0.3c15b","type":"ui_button","z":"a2cd3d92.2d932","name":"EL 90","group":"aaff8a2e.779c08","order":2,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 90","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><ELEVATION>90</ELEVATION></PST>","payloadType":"str","topic":"","x":632,"y":1355,"wires":[["3afcf41c.1fcf5c"]]},{"id":"5d6e2657.b65a78","type":"link out","z":"a2cd3d92.2d932","name":"EL 45","links":["89d30dd3.bda118"],"x":783,"y":1506,"wires":[]},{"id":"b54ebc63.c8d058","type":"ui_button","z":"a2cd3d92.2d932","name":"EL 45","group":"aaff8a2e.779c08","order":6,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 45","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><ELEVATION>45</ELEVATION></PST>","payloadType":"str","topic":"","x":631,"y":1503,"wires":[["5d6e2657.b65a78"]]},{"id":"f1fc3676.06a6e","type":"link out","z":"a2cd3d92.2d932","name":"EL 0","links":["89d30dd3.bda118"],"x":781,"y":1667,"wires":[]},{"id":"d77979af.fc7268","type":"ui_button","z":"a2cd3d92.2d932","name":"EL 0","group":"aaff8a2e.779c08","order":11,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 0","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><ELEVATION>0</ELEVATION></PST>","payloadType":"str","topic":"","x":641,"y":1668,"wires":[["f1fc3676.06a6e"]]},{"id":"3a211570.7bc812","type":"link out","z":"a2cd3d92.2d932","name":"AZ 150","links":["89d30dd3.bda118"],"x":352,"y":1704,"wires":[]},{"id":"7aa20b5d.d830ec","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 150","group":"f39fa2d8.9797a8","order":13,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 150","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>150</AZIMUTH></PST>","payloadType":"str","topic":"","x":210,"y":1701,"wires":[["3a211570.7bc812"]]},{"id":"f2bae758.51c4a","type":"link out","z":"a2cd3d92.2d932","name":"AZ 120","links":["89d30dd3.bda118"],"x":354,"y":1768,"wires":[]},{"id":"b04e649f.38eb28","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 120","group":"f39fa2d8.9797a8","order":15,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 120","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>120</AZIMUTH></PST>","payloadType":"str","topic":"","x":212,"y":1765,"wires":[["f2bae758.51c4a"]]},{"id":"718284e3.ec2d6c","type":"link out","z":"a2cd3d92.2d932","name":"AZ 60","links":["89d30dd3.bda118"],"x":348,"y":1875,"wires":[]},{"id":"ec7da954.9f4458","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 60","group":"f39fa2d8.9797a8","order":19,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 60","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>60</AZIMUTH></PST>","payloadType":"str","topic":"","x":208,"y":1874,"wires":[["718284e3.ec2d6c"]]},{"id":"adfafd1f.87fd58","type":"link out","z":"a2cd3d92.2d932","name":"EL 75","links":["89d30dd3.bda118"],"x":784,"y":1412,"wires":[]},{"id":"bbd66429.4f422","type":"ui_button","z":"a2cd3d92.2d932","name":"EL 75","group":"aaff8a2e.779c08","order":3,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 75","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><ELEVATION>75</ELEVATION></PST>","payloadType":"str","topic":"","x":632,"y":1409,"wires":[["adfafd1f.87fd58"]]},{"id":"7eb16712.835fb","type":"link out","z":"a2cd3d92.2d932","name":"EL 60","links":["89d30dd3.bda118"],"x":782,"y":1458,"wires":[]},{"id":"a5a9f62b.3534d","type":"ui_button","z":"a2cd3d92.2d932","name":"EL 60","group":"aaff8a2e.779c08","order":5,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 60","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><ELEVATION>60</ELEVATION></PST>","payloadType":"str","topic":"","x":630,"y":1455,"wires":[["7eb16712.835fb"]]},{"id":"94ff634c.c71c68","type":"link out","z":"a2cd3d92.2d932","name":"EL 30","links":["89d30dd3.bda118"],"x":790,"y":1556,"wires":[]},{"id":"b92e08a2.596d18","type":"ui_button","z":"a2cd3d92.2d932","name":"EL 30","group":"aaff8a2e.779c08","order":7,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 30","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><ELEVATION>130</ELEVATION></PST>","payloadType":"str","topic":"","x":634,"y":1557,"wires":[["94ff634c.c71c68"]]},{"id":"cfbc5606.85a7d8","type":"link out","z":"a2cd3d92.2d932","name":"EL 15","links":["89d30dd3.bda118"],"x":790,"y":1615,"wires":[]},{"id":"2bca3f97.09b5d","type":"ui_button","z":"a2cd3d92.2d932","name":"EL 15","group":"aaff8a2e.779c08","order":9,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 15","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><ELEVATION>15</ELEVATION></PST>","payloadType":"str","topic":"","x":638,"y":1612,"wires":[["cfbc5606.85a7d8"]]},{"id":"fe561119.21439","type":"link out","z":"a2cd3d92.2d932","name":"AZ 330","links":["89d30dd3.bda118"],"x":359,"y":1391,"wires":[]},{"id":"ff0013d9.e14fd","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 330","group":"f39fa2d8.9797a8","order":3,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 330","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>330</AZIMUTH></PST>","payloadType":"str","topic":"","x":217,"y":1388,"wires":[["fe561119.21439"]]},{"id":"dac7b7af.c40cb","type":"link out","z":"a2cd3d92.2d932","name":"AZ 300","links":["89d30dd3.bda118"],"x":356,"y":1440,"wires":[]},{"id":"659fbba7.8904a4","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 300","group":"f39fa2d8.9797a8","order":5,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 300","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>300</AZIMUTH></PST>","payloadType":"str","topic":"","x":214,"y":1437,"wires":[["dac7b7af.c40cb"]]},{"id":"32af5ee2.247492","type":"link out","z":"a2cd3d92.2d932","name":"AZ 240","links":["89d30dd3.bda118"],"x":348,"y":1548,"wires":[]},{"id":"67341941.b86a78","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 240","group":"f39fa2d8.9797a8","order":7,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 240","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>240</AZIMUTH></PST>","payloadType":"str","topic":"","x":227,"y":1529,"wires":[["32af5ee2.247492"]]},{"id":"40ef0331.123704","type":"link out","z":"a2cd3d92.2d932","name":"AZ 210","links":["89d30dd3.bda118"],"x":346,"y":1594,"wires":[]},{"id":"84243871.60e15","type":"ui_button","z":"a2cd3d92.2d932","name":"AZ 210","group":"f39fa2d8.9797a8","order":9,"width":3,"height":1,"passthru":true,"label":"<font size = 6> 210","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><AZIMUTH>210</AZIMUTH></PST>","payloadType":"str","topic":"","x":204,"y":1591,"wires":[["40ef0331.123704"]]},{"id":"71c9d724.ea3068","type":"ui_button","z":"a2cd3d92.2d932","name":"Park","group":"d0879c35.7e91b","order":5,"width":4,"height":1,"passthru":true,"label":"<font size = 6> Park","tooltip":"","color":"Black","bgcolor":"Green","icon":"","payload":"<PST><PARK>1</PARK></PST>","payloadType":"str","topic":"","x":420,"y":869,"wires":[["b4d8b78a.eabe3"]]},{"id":"b4d8b78a.eabe3","type":"link out","z":"a2cd3d92.2d932","name":"Park","links":["89d30dd3.bda118"],"x":568,"y":871,"wires":[]},{"id":"113d4e20.49cc7a","type":"ui_button","z":"a2cd3d92.2d932","name":"Stop","group":"d0879c35.7e91b","order":4,"width":4,"height":1,"passthru":true,"label":"<font size = 6> Stop","tooltip":"","color":"Black","bgcolor":"Blue","icon":"","payload":"<PST><STOP>1</STOP></PST>","payloadType":"str","topic":"","x":416,"y":735,"wires":[["a381cbf8.f0c83"]]},{"id":"a381cbf8.f0c83","type":"link out","z":"a2cd3d92.2d932","name":"Stop","links":["89d30dd3.bda118"],"x":568,"y":762,"wires":[]},{"id":"742051eb.727fd","type":"udp out","z":"a2cd3d92.2d932","name":"MacBook PST Rotor UDP","addr":"192.168.50.150","iface":"","port":"12000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1236.500015258789,"y":1050.7500171661377,"wires":[]},{"id":"1e9c5b71.974b9d","type":"ui_button","z":"a2cd3d92.2d932","name":"Manual","group":"b4145d6c.26d288","order":1,"width":3,"height":1,"passthru":true,"label":"<font size = 6> Manual","tooltip":"","color":"Black","bgcolor":"Yellow","icon":"","payload":"<PST><TRACK>0</TRACK></PST>","payloadType":"str","topic":"","x":433,"y":1167,"wires":[["59c457cb.3daa1"]]},{"id":"932aac97.3a1da","type":"ui_button","z":"a2cd3d92.2d932","name":"Track","group":"b4145d6c.26d288","order":2,"width":3,"height":1,"passthru":true,"label":"<font size = 6>Track","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"<PST><TRACK>1</TRACK></PST>","payloadType":"str","topic":"","x":424,"y":965,"wires":[["a2e02d94.add2e","ab491b3d.dedda8"]]},{"id":"d92c6fa6.0055b","type":"function","z":"a2cd3d92.2d932","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":454,"y":2219,"wires":[["c3b330c6.acfce8","453185b5.9f8f04","9fee5f63.99f6c"]]},{"id":"c3b330c6.acfce8","type":"ui_button","z":"a2cd3d92.2d932","name":"GH Power On/Off","group":"d0879c35.7e91b","order":1,"width":6,"height":1,"passthru":false,"label":"<font size = 6>{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":242,"y":2379,"wires":[["d92c6fa6.0055b"]]},{"id":"f0c2ba65.5b482","type":"inject","z":"a2cd3d92.2d932","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":226,"y":2138,"wires":[["a4305129.24ee88"]]},{"id":"c7dcf729.226c98","type":"comment","z":"a2cd3d92.2d932","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":230,"y":2055,"wires":[]},{"id":"a4305129.24ee88","type":"function","z":"a2cd3d92.2d932","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"GH Power\",\n    \"txtB\": \"GH Power\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":2251,"wires":[["d92c6fa6.0055b"]]},{"id":"453185b5.9f8f04","type":"mqtt out","z":"a2cd3d92.2d932","name":"GH Power On/Off","topic":"Cabinet_2-6","qos":"","retain":"","broker":"fc9768bd.165278","x":824,"y":2213.88037109375,"wires":[]},{"id":"9fee5f63.99f6c","type":"ui_led","z":"a2cd3d92.2d932","group":"b4145d6c.26d288","order":3,"width":2,"height":1,"label":"GH Power","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":817,"y":2313,"wires":[]},{"id":"d0879c35.7e91b","type":"ui_group","z":"","name":"Control","tab":"fb0888e8.e3b7","order":4,"disp":true,"width":4,"collapse":false},{"id":"aaff8a2e.779c08","type":"ui_group","z":"","name":"Elevation","tab":"fb0888e8.e3b7","order":3,"disp":true,"width":7,"collapse":false},{"id":"f39fa2d8.9797a8","type":"ui_group","z":"","name":"Azimuth","tab":"fb0888e8.e3b7","order":1,"disp":true,"width":7,"collapse":false},{"id":"b4145d6c.26d288","type":"ui_group","z":"","name":"Rotor Mode","tab":"82ec68b7.8e8778","order":6,"disp":true,"width":8,"collapse":false},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"fb0888e8.e3b7","type":"ui_tab","z":"","name":"PST Rotor Control","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"82ec68b7.8e8778","type":"ui_tab","z":"","name":"Satellites","icon":"dashboard","order":2,"disabled":false,"hidden":false}]