Master Flows/Radio Control.json
[{"id":"84277ca1.a5d3e8","type":"tab","label":"Radio Control","disabled":false,"info":""},{"id":"f6322233.ecf6b","type":"mqtt out","z":"84277ca1.a5d3e8","name":"HF Amp Bypass","topic":"Cabinet_1-1","qos":"","retain":"","broker":"fc9768bd.165278","x":1204,"y":330,"wires":[]},{"id":"208a1176.8945c6","type":"comment","z":"84277ca1.a5d3e8","name":"","info":" state=TRANSMITTING\n  state=READY","x":1686.2500305175781,"y":123,"wires":[]},{"id":"ca23e2e9.fcf93","type":"function","z":"84277ca1.a5d3e8","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":425,"y":370.11956310272217,"wires":[["54c3bf34.9dfe4","3326bcba.20deec","ea452946.e863c"]]},{"id":"54c3bf34.9dfe4","type":"ui_button","z":"84277ca1.a5d3e8","name":"HF Amp Bypass","group":"7010f600.55de9c","order":1,"width":6,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":198,"y":504.11956310272217,"wires":[["ca23e2e9.fcf93"]]},{"id":"91db92c5.c2351","type":"inject","z":"84277ca1.a5d3e8","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":197,"y":289.11956310272217,"wires":[["5d8f4280.3859d4"]]},{"id":"914cbef1.6e4998","type":"comment","z":"84277ca1.a5d3e8","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":201,"y":206.11956310272217,"wires":[]},{"id":"5d8f4280.3859d4","type":"function","z":"84277ca1.a5d3e8","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"Bypass\",\n    \"txtB\": \"Inline\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"HF Tuner\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":183,"y":407.11956310272217,"wires":[["ca23e2e9.fcf93"]]},{"id":"83b8f45f.e75668","type":"inject","z":"84277ca1.a5d3e8","name":"","topic":"control","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":548,"y":266.11956310272217,"wires":[["3326bcba.20deec"]]},{"id":"6576af61.a3051","type":"inject","z":"84277ca1.a5d3e8","name":"","topic":"control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":531,"y":205.11956310272217,"wires":[["3326bcba.20deec"]]},{"id":"10fb1f80.a7d361","type":"switch","z":"84277ca1.a5d3e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"num"},{"t":"gt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":743.1195631027222,"wires":[["ab47b0d2.d8ae7"],["7e592c76.b45b14"]]},{"id":"fbfa545f.6e7248","type":"inject","z":"84277ca1.a5d3e8","name":"","topic":"control","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":416,"y":636.1195631027222,"wires":[["10fb1f80.a7d361"]]},{"id":"ab47b0d2.d8ae7","type":"change","z":"84277ca1.a5d3e8","name":"<=60, Open","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":734,"y":666.1195631027222,"wires":[["3326bcba.20deec","80987230.39ebf"]]},{"id":"7e592c76.b45b14","type":"change","z":"84277ca1.a5d3e8","name":">60, Close","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":822.1195631027222,"wires":[["3326bcba.20deec","80987230.39ebf","b0c8136c.e216b"]]},{"id":"3c95cb75.d2197c","type":"inject","z":"84277ca1.a5d3e8","name":"","topic":"control","payload":"70","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":411,"y":857.1195631027222,"wires":[["10fb1f80.a7d361"]]},{"id":"80987230.39ebf","type":"ui_led","z":"84277ca1.a5d3e8","group":"7010f600.55de9c","order":6,"width":2,"height":1,"label":"PTT Gate","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"close","valueType":"str"},{"color":"green","value":"open","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Amp PTT","x":1051,"y":721.1195678710938,"wires":[]},{"id":"9b1aad9e.4460b8","type":"link in","z":"84277ca1.a5d3e8","name":"HF Amp PTT Gate Power Input","links":["ee608296.ef248","1c6fa4e6.6537fb"],"x":340,"y":751.1195631027222,"wires":[["10fb1f80.a7d361"]]},{"id":"3326bcba.20deec","type":"gate","z":"84277ca1.a5d3e8","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":939,"y":396.11956310272217,"wires":[["f6322233.ecf6b","ae3ae8c9.8868d"]]},{"id":"a1a0b861.7a44d8","type":"function","z":"84277ca1.a5d3e8","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":491,"y":1614.1195068359375,"wires":[["8fb2d256.72054","b0d9d627.93b89"]]},{"id":"8fb2d256.72054","type":"ui_button","z":"84277ca1.a5d3e8","name":"HF Amp On/Off","group":"7010f600.55de9c","order":2,"width":6,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":269,"y":1774.1195068359375,"wires":[["a1a0b861.7a44d8"]]},{"id":"a64aff47.8f031","type":"inject","z":"84277ca1.a5d3e8","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":263,"y":1533.1195068359375,"wires":[["19508672.32160a"]]},{"id":"634e384d.1df228","type":"comment","z":"84277ca1.a5d3e8","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":267,"y":1450.1195068359375,"wires":[]},{"id":"19508672.32160a","type":"function","z":"84277ca1.a5d3e8","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"HF Amp: Off\",\n    \"txtB\": \"HF Amp: On\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"2M Antenna\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":1646.1195068359375,"wires":[["a1a0b861.7a44d8"]]},{"id":"c15ee2f5.f810d","type":"function","z":"84277ca1.a5d3e8","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":515,"y":2070.1195068359375,"wires":[["21d8a0d0.82205","85765aae.c8fad8"]]},{"id":"21d8a0d0.82205","type":"ui_button","z":"84277ca1.a5d3e8","name":"HF Tuner On/Off","group":"7010f600.55de9c","order":3,"width":6,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":293,"y":2230.1195068359375,"wires":[["c15ee2f5.f810d"]]},{"id":"ab3af833.78a22","type":"inject","z":"84277ca1.a5d3e8","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":287,"y":1989.1195068359375,"wires":[["f8394dc4.7cb1b8"]]},{"id":"ba8be7a3.04ba68","type":"comment","z":"84277ca1.a5d3e8","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":291,"y":1906.1195068359375,"wires":[]},{"id":"f8394dc4.7cb1b8","type":"function","z":"84277ca1.a5d3e8","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"HF Tuner: Off\",\n    \"txtB\": \"HF Tuner: On\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"2M Antenna\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":2102.1195068359375,"wires":[["c15ee2f5.f810d"]]},{"id":"b0c8136c.e216b","type":"change","z":"84277ca1.a5d3e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1033.75,"y":600.1195068359375,"wires":[["f6322233.ecf6b","ae3ae8c9.8868d"]]},{"id":"ea452946.e863c","type":"debug","z":"84277ca1.a5d3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":658.5,"y":455.11956310272217,"wires":[]},{"id":"103e2f90.27f9","type":"function","z":"84277ca1.a5d3e8","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":464.7500686645508,"y":2517.5326919555664,"wires":[["8d2fc0e4.cccbc","6209b177.c10498"]]},{"id":"8d2fc0e4.cccbc","type":"ui_button","z":"84277ca1.a5d3e8","name":"Flex Remote - on/off","group":"fad4ed94.c508d","order":3,"width":3,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":316.7500534057617,"y":2684.5326919555664,"wires":[["103e2f90.27f9"]]},{"id":"3552c812.140068","type":"inject","z":"84277ca1.a5d3e8","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":290.7500534057617,"y":2443.5326919555664,"wires":[["9486238c.3055b8"]]},{"id":"be836057.3e3488","type":"comment","z":"84277ca1.a5d3e8","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":296.7500534057617,"y":2339.5326919555664,"wires":[]},{"id":"9486238c.3055b8","type":"function","z":"84277ca1.a5d3e8","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"Flex - off\",\n    \"txtB\": \"Flex - on\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"Power\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":276.7500534057617,"y":2556.5326919555664,"wires":[["103e2f90.27f9"]]},{"id":"b0d9d627.93b89","type":"mqtt out","z":"84277ca1.a5d3e8","name":"HF Amp On/Off","topic":"Cabinet_1-2","qos":"","retain":"","broker":"fc9768bd.165278","x":936,"y":1670.9999437332153,"wires":[]},{"id":"6209b177.c10498","type":"mqtt out","z":"84277ca1.a5d3e8","name":"Flex Remote - on/off","topic":"Cabinet_1-4","qos":"","retain":"","broker":"fc9768bd.165278","x":1062,"y":2510.9999437332153,"wires":[]},{"id":"85765aae.c8fad8","type":"mqtt out","z":"84277ca1.a5d3e8","name":"HF Tuner On/Off","topic":"Cabinet_1-3","qos":"","retain":"","broker":"fc9768bd.165278","x":1008,"y":2063.9999437332153,"wires":[]},{"id":"ae3ae8c9.8868d","type":"link out","z":"84277ca1.a5d3e8","name":"HF PTT","links":["ea307cd2.bfedc"],"x":1249.2222414016724,"y":479.99999618530273,"wires":[]},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"7010f600.55de9c","type":"ui_group","z":"","name":"HF Amp","tab":"60c7eab7.e319e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"fad4ed94.c508d","type":"ui_group","z":"","name":"Radio Info","tab":"60c7eab7.e319e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false}]