Master Flows/RPI Control.json
[{"id":"4e8f9f2d.7d3e08","type":"tab","label":"RPI Control","disabled":false,"info":""},{"id":"2a9c96de.49022a","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"cbc919b4.0958b8","order":6,"width":3,"height":1,"passthru":false,"label":"Server","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Re-booted","payloadType":"str","topic":"","x":207,"y":190,"wires":[["1ac0ecea.a81083","d691c8d2.4b20c"]]},{"id":"668b87e7.d81148","type":"exec","z":"4e8f9f2d.7d3e08","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Reboot","x":804,"y":196,"wires":[[],[],[]]},{"id":"1ac0ecea.a81083","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":604,"y":196,"wires":[["668b87e7.d81148"]]},{"id":"d691c8d2.4b20c","type":"function","z":"4e8f9f2d.7d3e08","name":"Server Pi rebooted","func":"msg.payload = \"New Server Re-Booted\"\nmsg.topic = \"New Server RPi\"\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":136,"wires":[["207e21d0.9baad6"]]},{"id":"207e21d0.9baad6","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":786,"y":124,"wires":[]},{"id":"a33dd9ce.4c3ca8","type":"inject","z":"4e8f9f2d.7d3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":299,"y":267,"wires":[["1ac0ecea.a81083","d691c8d2.4b20c"]]},{"id":"197c5519.70b603","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"56890ff1.6e05f","order":6,"width":3,"height":1,"passthru":false,"label":"Server","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Shutdown","payloadType":"str","topic":"","x":210,"y":494,"wires":[["e112295c.0ac2e8","95896678.81c078"]]},{"id":"e112295c.0ac2e8","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":607,"y":500,"wires":[["c2b10233.b952f8"]]},{"id":"95896678.81c078","type":"function","z":"4e8f9f2d.7d3e08","name":" Server RPi Shutdown","func":"msg.payload = \"New Server RPi Shutdown\"\nmsg.topic = \"New Server RPi\"\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":417,"wires":[["d1272db7.b5df5"]]},{"id":"d1272db7.b5df5","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":789,"y":428,"wires":[]},{"id":"77db849a.406eb4","type":"bigtimer","z":"4e8f9f2d.7d3e08","d":true,"outtopic":"","outpayload1":"On","outpayload2":"Off","name":"Big Timer","comment":"","lat":"41.942","lon":"-086.478","starttime":"1335","endtime":"1320","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":231,"y":598.5,"wires":[["caec678e.24bb28"],[],[]]},{"id":"caec678e.24bb28","type":"switch","z":"4e8f9f2d.7d3e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Off","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":582,"wires":[["95896678.81c078","e112295c.0ac2e8"]]},{"id":"e047e289.cdf94","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"56890ff1.6e05f","order":1,"width":3,"height":1,"passthru":false,"label":" Cabinent One","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Shutdown","payloadType":"str","topic":"","x":221,"y":1510,"wires":[["cdb46639.a7cbf","2b61d9fc.2a7fb6"]]},{"id":"cdb46639.a7cbf","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":626,"y":1534,"wires":[["92a2eeca.b7c9e8"]]},{"id":"2b61d9fc.2a7fb6","type":"function","z":"4e8f9f2d.7d3e08","name":"Cabinent 1 Board RPi Shut Down","func":"msg.payload = \"Cabinent 1 Board RPi Shutdown\"\nmsg.topic = \"Cabinent 1 Board\"\nreturn msg;","outputs":1,"noerr":0,"x":618,"y":1451,"wires":[["b701f288.6ea85"]]},{"id":"b701f288.6ea85","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":808,"y":1462,"wires":[]},{"id":"92a2eeca.b7c9e8","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Cabinent1_Shut_Down","qos":"","retain":"","broker":"fc9768bd.165278","x":944,"y":1545,"wires":[]},{"id":"74eb3f58.9a4c98","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"cbc919b4.0958b8","order":1,"width":3,"height":1,"passthru":false,"label":"Cabinent One","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Re-booted","payloadType":"str","topic":"","x":284,"y":1228,"wires":[["88c966cc.069398","615c732f.fdc1bc"]]},{"id":"88c966cc.069398","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":651,"y":1234,"wires":[["6bd78c1a.0f134c"]]},{"id":"615c732f.fdc1bc","type":"function","z":"4e8f9f2d.7d3e08","name":"Cabinent 1 Board Pi Rebooted","func":"msg.payload = \"Cabinent 1 Board RPi\"\nmsg.topic = \"Cabinent 1 Board RPi Re-Booted\"\nreturn msg;","outputs":1,"noerr":0,"x":631,"y":1174,"wires":[["f10b5d7d.43ed58"]]},{"id":"f10b5d7d.43ed58","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":833,"y":1162,"wires":[]},{"id":"f6828136.006928","type":"inject","z":"4e8f9f2d.7d3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":346,"y":1305,"wires":[["88c966cc.069398","615c732f.fdc1bc"]]},{"id":"c2b10233.b952f8","type":"exec","z":"4e8f9f2d.7d3e08","command":"sudo shutdown -r -P now","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Shut Down","x":833,"y":500,"wires":[[],[],[]]},{"id":"6bd78c1a.0f134c","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Cabinent1_Reboot","qos":"","retain":"","broker":"fc9768bd.165278","x":948,"y":1233,"wires":[]},{"id":"8b1cc725.e81f4","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"56890ff1.6e05f","order":2,"width":3,"height":1,"passthru":false,"label":"Satellite","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Shutdown","payloadType":"str","topic":"","x":136,"y":2122,"wires":[["8532f93b.ca38b8","a8badbc5.57e5d8"]]},{"id":"8532f93b.ca38b8","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":561,"y":2146,"wires":[["dd43ae22.cea268"]]},{"id":"a8badbc5.57e5d8","type":"function","z":"4e8f9f2d.7d3e08","name":"Satellite Board RPi Shut Down","func":"msg.payload = \"Satellite Board RPi Shutdown\"\nmsg.topic = \"Satellite Board\"\nreturn msg;","outputs":1,"noerr":0,"x":543,"y":2063,"wires":[["2db52403.4dbe8c"]]},{"id":"2db52403.4dbe8c","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":743,"y":2074,"wires":[]},{"id":"dd43ae22.cea268","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Satellite_Shut_Down","qos":"","retain":"","broker":"fc9768bd.165278","x":869,"y":2157,"wires":[]},{"id":"44a8f3c0.3bfd3c","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"cbc919b4.0958b8","order":2,"width":3,"height":1,"passthru":false,"label":"Satellite","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Re-booted","payloadType":"str","topic":"","x":199,"y":1840,"wires":[["7a298ce5.8afd64","54ee526a.61ab74"]]},{"id":"7a298ce5.8afd64","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":586,"y":1846,"wires":[["2ee6c2f9.4f41f6"]]},{"id":"54ee526a.61ab74","type":"function","z":"4e8f9f2d.7d3e08","name":"Satellite Board Pi Rebooted","func":"msg.payload = \"Satellite Board RPi Robooted\"\nmsg.topic = \"Satellite Board\"\nreturn msg;","outputs":1,"noerr":0,"x":556,"y":1786,"wires":[["66007b48.0639a4"]]},{"id":"66007b48.0639a4","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":768,"y":1774,"wires":[]},{"id":"bb74969f.9380f8","type":"inject","z":"4e8f9f2d.7d3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":281,"y":1917,"wires":[["7a298ce5.8afd64","54ee526a.61ab74"]]},{"id":"2ee6c2f9.4f41f6","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Satellite_Reboot","qos":"","retain":"","broker":"fc9768bd.165278","x":839,"y":1845,"wires":[]},{"id":"44ab9522.59244c","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"56890ff1.6e05f","order":3,"width":3,"height":1,"passthru":false,"label":"Fan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Shutdown","payloadType":"str","topic":"","x":167,"y":2669,"wires":[["c4b01b39.6acd9","dbc94c8.226b6b"]]},{"id":"c4b01b39.6acd9","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":602,"y":2693,"wires":[["a263bad6.1f9ee8"]]},{"id":"dbc94c8.226b6b","type":"function","z":"4e8f9f2d.7d3e08","name":"Fan Board RPi Shut Down","func":"msg.payload = \"Fan Board RPi Shutdown\"\nmsg.topic = \"Fan Board\"\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":2610,"wires":[["e9097dd1.935d6"]]},{"id":"e9097dd1.935d6","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":784,"y":2621,"wires":[]},{"id":"a263bad6.1f9ee8","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Fan_Shut_Down","qos":"","retain":"","broker":"fc9768bd.165278","x":890,"y":2704,"wires":[]},{"id":"5adb4b0e.2a913c","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"cbc919b4.0958b8","order":3,"width":3,"height":1,"passthru":false,"label":"Fan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Re-booted","payloadType":"str","topic":"","x":230,"y":2387,"wires":[["2dc4b13e.7ca046","7a4f79f0.90734"]]},{"id":"2dc4b13e.7ca046","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":627,"y":2393,"wires":[["ff7b8e8.5ef00f"]]},{"id":"7a4f79f0.90734","type":"function","z":"4e8f9f2d.7d3e08","name":"Satellite Board Pi Rebooted","func":"msg.payload = \"Fan Board RPi Robooted\"\nmsg.topic = \"Fan Board\"\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":2333,"wires":[["b69b019b.c4ab48"]]},{"id":"b69b019b.c4ab48","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":809,"y":2321,"wires":[]},{"id":"f56c9abe.b99e4","type":"inject","z":"4e8f9f2d.7d3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":322,"y":2464,"wires":[["2dc4b13e.7ca046","7a4f79f0.90734"]]},{"id":"ff7b8e8.5ef00f","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Fan_Reboot","qos":"","retain":"","broker":"fc9768bd.165278","x":870,"y":2392,"wires":[]},{"id":"5cf3f3af.eead74","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"56890ff1.6e05f","order":4,"width":3,"height":1,"passthru":false,"label":" Cabinent Two","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Shutdown","payloadType":"str","topic":"","x":219,"y":3217,"wires":[["3dc8c421.cd002c","d30b7f24.37e1c"]]},{"id":"3dc8c421.cd002c","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":624,"y":3241,"wires":[["68ea36e9.ebd9a"]]},{"id":"d30b7f24.37e1c","type":"function","z":"4e8f9f2d.7d3e08","name":"Cabinent 1 Board RPi Shut Down","func":"msg.payload = \"Cabinent 2 Board RPi Shutdown\"\nmsg.topic = \"Cabinent 2 Board\"\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":3158,"wires":[["8572fcec.dd82a8"]]},{"id":"8572fcec.dd82a8","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":806,"y":3169,"wires":[]},{"id":"68ea36e9.ebd9a","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Cabinent2_Shut_Down","qos":"","retain":"","broker":"fc9768bd.165278","x":942,"y":3252,"wires":[]},{"id":"6a08c858.797268","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"cbc919b4.0958b8","order":4,"width":3,"height":1,"passthru":false,"label":"Cabinent Two","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Re-booted","payloadType":"str","topic":"","x":282,"y":2935,"wires":[["2dffb2ad.0e0536","1a048132.08fcff"]]},{"id":"2dffb2ad.0e0536","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":649,"y":2941,"wires":[["fe126d26.caf12"]]},{"id":"1a048132.08fcff","type":"function","z":"4e8f9f2d.7d3e08","name":"Cabinent 1 Board Pi Rebooted","func":"msg.payload = \"Cabinent 2 Board RPi\"\nmsg.topic = \"Cabinent 2 Board RPi Re-Booted\"\nreturn msg;","outputs":1,"noerr":0,"x":629,"y":2881,"wires":[["28e333d7.5c517c"]]},{"id":"28e333d7.5c517c","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":831,"y":2869,"wires":[]},{"id":"8f12631a.ab9d88","type":"inject","z":"4e8f9f2d.7d3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344,"y":3012,"wires":[["2dffb2ad.0e0536","1a048132.08fcff"]]},{"id":"fe126d26.caf12","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Cabinent2_Reboot","qos":"","retain":"","broker":"fc9768bd.165278","x":912,"y":2940,"wires":[]},{"id":"2b94721c.0a1e7e","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"56890ff1.6e05f","order":5,"width":3,"height":1,"passthru":false,"label":"Sensor Board","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Shutdown","payloadType":"str","topic":"","x":208,"y":4240,"wires":[["7e7fad97.97248c","65917729.a6a67"]]},{"id":"7e7fad97.97248c","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":613,"y":4264,"wires":[["3e568212.c3a1a6"]]},{"id":"65917729.a6a67","type":"function","z":"4e8f9f2d.7d3e08","name":"Cabinent 1 Board RPi Shut Down","func":"msg.payload = \"Cabinent 2 Board RPi Shutdown\"\nmsg.topic = \"Cabinent 2 Board\"\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":4181,"wires":[["2655d.441a5aa3c"]]},{"id":"2655d.441a5aa3c","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":795,"y":4192,"wires":[]},{"id":"3e568212.c3a1a6","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Sensor_Board_Shut_Down","qos":"","retain":"","broker":"fc9768bd.165278","x":941,"y":4275,"wires":[]},{"id":"cbc1a4c8.10fcb","type":"ui_button","z":"4e8f9f2d.7d3e08","name":"","group":"cbc919b4.0958b8","order":5,"width":3,"height":1,"passthru":false,"label":"Sensor Board","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Re-booted","payloadType":"str","topic":"","x":282,"y":3488,"wires":[["ea2c964a.3fb648","b35d06c1.231678"]]},{"id":"ea2c964a.3fb648","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":649,"y":3494,"wires":[["f99bd00.71754b"]]},{"id":"b35d06c1.231678","type":"function","z":"4e8f9f2d.7d3e08","name":"Sensor Board Pi Rebooted","func":"msg.payload = \"Sensor Board RPi\"\nmsg.topic = \"Sensor Board RPi Re-Booted\"\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":3434,"wires":[["fcc02979.5a2ad8"]]},{"id":"fcc02979.5a2ad8","type":"link out","z":"4e8f9f2d.7d3e08","name":"Reboot New Server PI","links":["85516fcd.2213"],"x":831,"y":3422,"wires":[]},{"id":"592f360d.7831e","type":"inject","z":"4e8f9f2d.7d3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344,"y":3565,"wires":[["ea2c964a.3fb648","b35d06c1.231678"]]},{"id":"f99bd00.71754b","type":"mqtt out","z":"4e8f9f2d.7d3e08","name":"","topic":"Sensor_Board_Reboot","qos":"","retain":"","broker":"fc9768bd.165278","x":922,"y":3493,"wires":[]},{"id":"c8fc12ee.059eb8","type":"delay","z":"4e8f9f2d.7d3e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":632,"y":857,"wires":[["5790d521.3f3bfc"]]},{"id":"6286dd9a.e4409c","type":"function","z":"4e8f9f2d.7d3e08","name":"Pi Boards RPi Nightly Reboot","func":"msg.payload = \"RPi Boards\"\nmsg.topic = \"RPi Boards Routine Re-Boot\"\nreturn msg;","outputs":1,"noerr":0,"x":614,"y":759,"wires":[["81397f5c.8867e"]]},{"id":"81397f5c.8867e","type":"link out","z":"4e8f9f2d.7d3e08","name":"Pi Boards RPi Nightly Reboot","links":["85516fcd.2213","f182fab1.4b8e68"],"x":814,"y":770,"wires":[]},{"id":"ed2a72dd.4ea0c8","type":"bigtimer","z":"4e8f9f2d.7d3e08","outtopic":"","outpayload1":"On","outpayload2":"Off","name":"Big Timer","comment":"","lat":"41.942","lon":"-086.478","starttime":"1335","endtime":"1290","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":198,"y":869.5,"wires":[["3b11df15.e95b58"],[],[]]},{"id":"3b11df15.e95b58","type":"switch","z":"4e8f9f2d.7d3e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Off","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":389,"y":851,"wires":[["6286dd9a.e4409c","c8fc12ee.059eb8"]]},{"id":"5790d521.3f3bfc","type":"link out","z":"4e8f9f2d.7d3e08","name":"","links":[],"x":934,"y":855,"wires":[]},{"id":"28d128d0.db6ba8","type":"link in","z":"4e8f9f2d.7d3e08","name":"Cabinent 1 Board Reboot","links":[],"x":754,"y":1315,"wires":[["6bd78c1a.0f134c"]]},{"id":"a57f7745.7ca36","type":"link in","z":"4e8f9f2d.7d3e08","name":"Satellite Board Reboot","links":[],"x":610,"y":1943,"wires":[["2ee6c2f9.4f41f6"]]},{"id":"174a40a7.ea0dcf","type":"link in","z":"4e8f9f2d.7d3e08","name":"Fan Board Reboot","links":[],"x":687,"y":2491,"wires":[["ff7b8e8.5ef00f"]]},{"id":"9e2be19d.551d28","type":"link in","z":"4e8f9f2d.7d3e08","name":"Cabinent 2 Board Reboot","links":[],"x":704,"y":3036,"wires":[["fe126d26.caf12"]]},{"id":"f182fab1.4b8e68","type":"link in","z":"4e8f9f2d.7d3e08","name":"Sensor Board Reboot","links":["81397f5c.8867e"],"x":686,"y":3586,"wires":[["f99bd00.71754b"]]},{"id":"a8b046af.89b6b8","type":"bigtimer","z":"4e8f9f2d.7d3e08","outtopic":"","outpayload1":"On","outpayload2":"Off","name":"Big Timer","comment":"","lat":"41.942","lon":"-086.478","starttime":"1335","endtime":"1290","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":231,"y":3700.5,"wires":[["95ee0f05.2eb498"],[],[]]},{"id":"95ee0f05.2eb498","type":"switch","z":"4e8f9f2d.7d3e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Off","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":401,"y":3682,"wires":[["ea2c964a.3fb648","b35d06c1.231678"]]},{"id":"cbc919b4.0958b8","type":"ui_group","z":"","name":"Re-Boot","tab":"9eea655f.d6a268","order":5,"disp":true,"width":"3","collapse":false},{"id":"56890ff1.6e05f","type":"ui_group","z":"","name":"Shutdown","tab":"9eea655f.d6a268","order":6,"disp":true,"width":3,"collapse":false},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"9eea655f.d6a268","type":"ui_tab","z":"","name":"RPi Info","icon":"dashboard","order":6,"disabled":false,"hidden":false}]