Master Flows/RPI Info.json
[{"id":"f94a438a.2517a8","type":"tab","label":"RPI Info","disabled":false,"info":""},{"id":"ee08a7be.01f6f8","type":"exec","z":"f94a438a.2517a8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":391,"y":238,"wires":[["b60cf451.f31e88","1af8cc67.f1dcf4"],[],[]]},{"id":"c1be1df8.23edc8","type":"inject","z":"f94a438a.2517a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":185.5,"y":246.25,"wires":[["ee08a7be.01f6f8","b3fdd91b.e19ff"]]},{"id":"b60cf451.f31e88","type":"function","z":"f94a438a.2517a8","name":"calc cpu temp","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":589,"y":220,"wires":[["748e1cee.9db82c","5825829f.60c1ec"]]},{"id":"b3fdd91b.e19ff","type":"exec","z":"f94a438a.2517a8","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":391,"y":318,"wires":[["16a91507.245d93"],[],[]]},{"id":"dac2f692.0f958","type":"exec","z":"f94a438a.2517a8","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":391,"y":478,"wires":[["576227af.05d71"],[],[]]},{"id":"576227af.05d71","type":"function","z":"f94a438a.2517a8","name":"Clac disk space","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":478,"wires":[["8865e506.a6cb88"]]},{"id":"b345c358.e996a","type":"inject","z":"f94a438a.2517a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":191,"y":478,"wires":[["dac2f692.0f958"]]},{"id":"748e1cee.9db82c","type":"debug","z":"f94a438a.2517a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1051,"y":113,"wires":[]},{"id":"1af8cc67.f1dcf4","type":"debug","z":"f94a438a.2517a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":153,"wires":[]},{"id":"5825829f.60c1ec","type":"unit-converter","z":"f94a438a.2517a8","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":820,"y":265,"wires":[["3035f77d.a78eb8"]]},{"id":"3035f77d.a78eb8","type":"ui_level","z":"f94a438a.2517a8","group":"f3d994d0.1ed8c","order":6,"width":6,"height":1,"name":"Server","label":"Server","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"200","segWarn":"100","segHigh":"25","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":1083,"y":194,"wires":[]},{"id":"8865e506.a6cb88","type":"ui_level","z":"f94a438a.2517a8","group":"57c5141b.1a833c","order":6,"width":6,"height":1,"name":"Server Usage","label":"Server","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":1079,"y":448,"wires":[]},{"id":"16a91507.245d93","type":"ui_level","z":"f94a438a.2517a8","group":"b3a94786.e24f58","order":6,"width":6,"height":1,"name":"Server","label":"Server","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"25","segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":1075,"y":340,"wires":[]},{"id":"6e460847.4c8198","type":"ui_level","z":"f94a438a.2517a8","group":"f3d994d0.1ed8c","order":1,"width":6,"height":1,"name":"Cabinent 1 RPI Temp","label":"Cabinent One","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"200","segWarn":"100","segHigh":"25","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":597,"y":667,"wires":[]},{"id":"4444bfea.616b58","type":"ui_level","z":"f94a438a.2517a8","group":"b3a94786.e24f58","order":1,"width":6,"height":1,"name":"Cabinent 1 CPU Level","label":"Cabinent One","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"25","segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":588,"y":787,"wires":[]},{"id":"fa269331.57c7","type":"ui_level","z":"f94a438a.2517a8","group":"57c5141b.1a833c","order":1,"width":6,"height":1,"name":"Cabinent 1 Disk Usage","label":"Cabinent One","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":593,"y":926,"wires":[]},{"id":"b1bdb9bb.9d0bb8","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Cabinent1_Temp","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":326,"y":666,"wires":[["6e460847.4c8198"]]},{"id":"ac091da4.265aa","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Cabinent1_CPU","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":318,"y":797,"wires":[["4444bfea.616b58"]]},{"id":"658490b5.74814","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Cabinent1_Disk","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":323,"y":943,"wires":[["fa269331.57c7"]]},{"id":"8e1b45ce.930a4","type":"ui_level","z":"f94a438a.2517a8","group":"f3d994d0.1ed8c","order":2,"width":6,"height":1,"name":"Satellite RPI Temp","label":"Satellite","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"200","segWarn":"100","segHigh":"25","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":577.9083862304688,"y":1046.8013916015625,"wires":[]},{"id":"bbe7df7a.d4a4a8","type":"ui_level","z":"f94a438a.2517a8","group":"b3a94786.e24f58","order":2,"width":6,"height":1,"name":"Satellite CPU Level","label":"Satellite","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"25","segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":568.9083862304688,"y":1166.8013916015625,"wires":[]},{"id":"724d2380.c9bfac","type":"ui_level","z":"f94a438a.2517a8","group":"57c5141b.1a833c","order":2,"width":6,"height":1,"name":"Sellite Disk Usage","label":"Satellite","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":563.9083862304688,"y":1305.8013916015625,"wires":[]},{"id":"78fa2bce.7ac244","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Satellite_Temp","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":316.90838623046875,"y":1045.8013916015625,"wires":[["8e1b45ce.930a4"]]},{"id":"c8359c1a.5a6af8","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Satellite_CPU","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":298.90838623046875,"y":1176.8013916015625,"wires":[["bbe7df7a.d4a4a8"]]},{"id":"476af84c.b51cd","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Satellite_Disk","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":303.90838623046875,"y":1322.8013916015625,"wires":[["724d2380.c9bfac"]]},{"id":"48300a53.25bffc","type":"ui_level","z":"f94a438a.2517a8","group":"f3d994d0.1ed8c","order":3,"width":6,"height":1,"name":"Fan RPI Temp","label":"Fan","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"200","segWarn":"100","segHigh":"25","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":570,"y":1466,"wires":[]},{"id":"7bcd0830.230ff","type":"ui_level","z":"f94a438a.2517a8","group":"b3a94786.e24f58","order":3,"width":6,"height":1,"name":"Fan CPU Level","label":"Fan","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"25","segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":561,"y":1586,"wires":[]},{"id":"7cf14bfa.2a4d6c","type":"ui_level","z":"f94a438a.2517a8","group":"57c5141b.1a833c","order":3,"width":6,"height":1,"name":"Fan Disk Usage","label":"Fan","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":556,"y":1725,"wires":[]},{"id":"465c5b69.95d144","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Fan_Temp","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":299,"y":1465,"wires":[["48300a53.25bffc"]]},{"id":"956e6636.5e97b8","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Fan_CPU","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":291,"y":1596,"wires":[["7bcd0830.230ff"]]},{"id":"91fd88a4.efbf08","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Fan_Disk","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":296,"y":1742,"wires":[["7cf14bfa.2a4d6c"]]},{"id":"c93884f9.834368","type":"ui_level","z":"f94a438a.2517a8","group":"f3d994d0.1ed8c","order":4,"width":6,"height":1,"name":"Cabinent Two RPI Temp","label":"Cabinent Two","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"200","segWarn":"100","segHigh":"25","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":593,"y":1892,"wires":[]},{"id":"e68deea.a802b1","type":"ui_level","z":"f94a438a.2517a8","group":"b3a94786.e24f58","order":4,"width":6,"height":1,"name":"Cabinent Two CPU Level","label":"Cabinent Two","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"25","segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":584,"y":2012,"wires":[]},{"id":"c97a3b1c.8c3b58","type":"ui_level","z":"f94a438a.2517a8","group":"57c5141b.1a833c","order":4,"width":6,"height":1,"name":"Cabinent Two Disk Usage","label":"Cabinent Two","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":579,"y":2151,"wires":[]},{"id":"3076f796.866618","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Cabinent2_Temp","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":312,"y":1891,"wires":[["c93884f9.834368"]]},{"id":"b8a494bd.988e48","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Cabinent2_CPU","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":304,"y":2022,"wires":[["e68deea.a802b1"]]},{"id":"fd8f81a7.60c998","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Cabinent2_Disk","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":309,"y":2168,"wires":[["c97a3b1c.8c3b58"]]},{"id":"7e2e008d.bdeb78","type":"ui_level","z":"f94a438a.2517a8","group":"f3d994d0.1ed8c","order":5,"width":6,"height":1,"name":"Sensor RPI Temp","label":"Sensor","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"200","segWarn":"100","segHigh":"25","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":569,"y":2331,"wires":[]},{"id":"92531578.84bed8","type":"ui_level","z":"f94a438a.2517a8","group":"b3a94786.e24f58","order":5,"width":6,"height":1,"name":"Sensor CPU Level","label":"Sensor","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"25","segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":560,"y":2451,"wires":[]},{"id":"c2db509a.29afb","type":"ui_level","z":"f94a438a.2517a8","group":"57c5141b.1a833c","order":5,"width":6,"height":1,"name":"Sensor Disk Usage","label":"Sensor","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":555,"y":2590,"wires":[]},{"id":"58997ee.f91658","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Sensor_Temp","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":298,"y":2330,"wires":[["7e2e008d.bdeb78"]]},{"id":"8d5c9eda.c1dc1","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Sensor_CPU","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":290,"y":2461,"wires":[["92531578.84bed8"]]},{"id":"992328ce.aab9a","type":"mqtt in","z":"f94a438a.2517a8","name":"","topic":"Sensor_Disk","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":295,"y":2607,"wires":[["c2db509a.29afb"]]},{"id":"f3d994d0.1ed8c","type":"ui_group","z":"","name":"CPU Temperature","tab":"9eea655f.d6a268","order":1,"disp":true,"width":"6","collapse":false},{"id":"57c5141b.1a833c","type":"ui_group","z":"","name":"Disk Usage","tab":"9eea655f.d6a268","order":3,"disp":true,"width":6,"collapse":false},{"id":"b3a94786.e24f58","type":"ui_group","z":"","name":"CPU Load","tab":"9eea655f.d6a268","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"9eea655f.d6a268","type":"ui_tab","z":"","name":"RPi Info","icon":"dashboard","order":6,"disabled":false,"hidden":false}]