Master Flows/Sat Antennas.json
[{"id":"a6a21600.c91048","type":"tab","label":"SAT Antenna","disabled":false,"info":""},{"id":"fe71fd7a.215e08","type":"function","z":"a6a21600.c91048","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":504,"y":316,"wires":[["1c83d878.07b828","49ca552e.e5012c","8eafe0d2.d8e3e8"]]},{"id":"1c83d878.07b828","type":"ui_button","z":"a6a21600.c91048","name":"Satellites - on/off","group":"1478ac37.d47ab4","order":1,"width":2,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":345.99998474121094,"y":483,"wires":[["fe71fd7a.215e08"]]},{"id":"e8d64a6f.464a58","type":"inject","z":"a6a21600.c91048","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":329.99998474121094,"y":242,"wires":[["a9c2692b.41bc38"]]},{"id":"4acfa0dd.9104a","type":"comment","z":"a6a21600.c91048","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":335.99998474121094,"y":138,"wires":[]},{"id":"a9c2692b.41bc38","type":"function","z":"a6a21600.c91048","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"Sats - off\",\n    \"txtB\": \"Sats - on\",\n    \"txtclrA\": \"black\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"Power\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":315.99998474121094,"y":355,"wires":[["fe71fd7a.215e08"]]},{"id":"1c9aee76.7007b2","type":"function","z":"a6a21600.c91048","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":550.8641204833984,"y":762.521728515625,"wires":[["89f79282.1154f8","48261b49.387edc"]]},{"id":"89f79282.1154f8","type":"ui_button","z":"a6a21600.c91048","name":"Polorization - RH/LH","group":"644bd536.b108fc","order":1,"width":2,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":348.86412048339844,"y":922.521728515625,"wires":[["1c9aee76.7007b2"]]},{"id":"325978aa.2a7b2","type":"inject","z":"a6a21600.c91048","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":322.86412048339844,"y":681.521728515625,"wires":[["20cfbfeb.4c11b8"]]},{"id":"e84c5099.e239d","type":"comment","z":"a6a21600.c91048","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":326.86412048339844,"y":598.521728515625,"wires":[]},{"id":"20cfbfeb.4c11b8","type":"function","z":"a6a21600.c91048","name":"Setup","func":"msg = {\n    \"colourA\": \"blue\",\n    \"colourB\": \"yellow\",\n    \"txtA\": \"Left\",\n    \"txtB\": \"Right\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"black\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"2M Antenna\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":308.86412048339844,"y":794.521728515625,"wires":[["1c9aee76.7007b2"]]},{"id":"ac14bc5c.a87478","type":"function","z":"a6a21600.c91048","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":542.1358489990234,"y":1198.04345703125,"wires":[["91a4897e.6a6088","3ead4dd2.25b802"]]},{"id":"91a4897e.6a6088","type":"ui_button","z":"a6a21600.c91048","name":"2M Antenna Selection","group":"9814785a.e5ed58","order":1,"width":2,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":340.13584899902344,"y":1358.04345703125,"wires":[["ac14bc5c.a87478"]]},{"id":"23e87ccb.5c226c","type":"inject","z":"a6a21600.c91048","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":314.13584899902344,"y":1117.04345703125,"wires":[["7c08345f.269984"]]},{"id":"f8786f33.4eaa08","type":"comment","z":"a6a21600.c91048","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":318.13584899902344,"y":1034.04345703125,"wires":[]},{"id":"7c08345f.269984","type":"function","z":"a6a21600.c91048","name":"Setup","func":"msg = {\n    \"colourA\": \"blue\",\n    \"colourB\": \"yellow\",\n    \"txtA\": \" Ant-Vert\",\n    \"txtB\": \"Ant-Yagi\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"black\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"2M Antenna\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":300.13584899902344,"y":1230.04345703125,"wires":[["ac14bc5c.a87478"]]},{"id":"f070d066.2e3bb","type":"function","z":"a6a21600.c91048","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":505.86412048339844,"y":1616.391357421875,"wires":[["631e1667.6e5838","1910490a.7e2a7f","92956776.41c638"]]},{"id":"631e1667.6e5838","type":"ui_button","z":"a6a21600.c91048","name":"2M Pre-Amp","group":"9814785a.e5ed58","order":2,"width":2,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":297.86412048339844,"y":1771.391357421875,"wires":[["f070d066.2e3bb"]]},{"id":"19d6ae8.c25bf52","type":"inject","z":"a6a21600.c91048","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":301.86412048339844,"y":1530.391357421875,"wires":[["9adaa71b.cf1658"]]},{"id":"f01e7d74.ef13d8","type":"comment","z":"a6a21600.c91048","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":305.86412048339844,"y":1447.391357421875,"wires":[]},{"id":"9adaa71b.cf1658","type":"function","z":"a6a21600.c91048","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"Pre-Amp: Off\",\n    \"txtB\": \"Pre-Amp: On\",\n    \"txtclrA\": \"black\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"2M Antenna\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":287.86412048339844,"y":1643.391357421875,"wires":[["f070d066.2e3bb"]]},{"id":"3364f55b.06a20a","type":"function","z":"a6a21600.c91048","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":563.8641204833984,"y":2219.347900390625,"wires":[["3c0ac6b1.481782","647a47ab.1da12","bf98bcf2.4a1648"]]},{"id":"3c0ac6b1.481782","type":"ui_button","z":"a6a21600.c91048","name":"70 CM Pre-Amap","group":"675578bc.bdcf38","order":1,"width":2,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":346.86412048339844,"y":2353.347900390625,"wires":[["3364f55b.06a20a"]]},{"id":"35743d96.1ac4ea","type":"inject","z":"a6a21600.c91048","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":335.86412048339844,"y":2138.347900390625,"wires":[["57cec7fd.48d45"]]},{"id":"a1dd2057.77dc9","type":"comment","z":"a6a21600.c91048","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":339.86412048339844,"y":2055.347900390625,"wires":[]},{"id":"57cec7fd.48d45","type":"function","z":"a6a21600.c91048","name":"Setup","func":"msg = {\n    \"colourA\": \"red\",\n    \"colourB\": \"green\",\n    \"txtA\": \"Pre-Amp: Off\",\n    \"txtB\": \"Pre-Amp: On\",\n    \"txtclrA\": \"black\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"2M PreAmp\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":321.86412048339844,"y":2251.347900390625,"wires":[["3364f55b.06a20a"]]},{"id":"bac1dc9e.b785b8","type":"mqtt in","z":"a6a21600.c91048","name":"","topic":"2M_TX_On","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":275.6418991088867,"y":1874.6445379257202,"wires":[["16155494.ae6e1b","9ece1e59.ba18f8"]]},{"id":"16155494.ae6e1b","type":"debug","z":"a6a21600.c91048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":548.2641143798828,"y":1742.5999755859375,"wires":[]},{"id":"d50def56.9c96c8","type":"mqtt in","z":"a6a21600.c91048","name":"","topic":"70CM_TX_On","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":315.6641082763672,"y":2558.800048828125,"wires":[["d99e08cd.8d1a68","638ff020.3d7598"]]},{"id":"638ff020.3d7598","type":"debug","z":"a6a21600.c91048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":457.4640808105469,"y":2444.5999755859375,"wires":[]},{"id":"d99e08cd.8d1a68","type":"switch","z":"a6a21600.c91048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":484.0640563964844,"y":2563.0001220703125,"wires":[["80d1065f.1ec93"],["4df25260.b8ac64"]]},{"id":"80d1065f.1ec93","type":"change","z":"a6a21600.c91048","name":"70CM TX On","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":624.0640563964844,"y":2494.0001220703125,"wires":[["edb8f995.c6b67","80b98b98.afae"]]},{"id":"4df25260.b8ac64","type":"change","z":"a6a21600.c91048","name":"70CM TX Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":652.0640563964844,"y":2617.0001220703125,"wires":[["edb8f995.c6b67"]]},{"id":"441594e1.36ea94","type":"ui_led","z":"a6a21600.c91048","group":"e43fb893.bdeb38","order":2,"width":2,"height":1,"label":"70CM","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"1","valueType":"num"},{"color":"red","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"70CM Pre-Amp Gate","x":1180.308578491211,"y":2326.3331270217896,"wires":[]},{"id":"80b98b98.afae","type":"change","z":"a6a21600.c91048","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":882.8640747070312,"y":2454,"wires":[["441594e1.36ea94","b1f892a9.329a78"]]},{"id":"edb8f995.c6b67","type":"gate","z":"a6a21600.c91048","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":822.0641326904297,"y":2225.2003173828125,"wires":[["441594e1.36ea94","b1f892a9.329a78"]]},{"id":"647a47ab.1da12","type":"switch","z":"a6a21600.c91048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":667.8641052246094,"y":2140.39990234375,"wires":[["441594e1.36ea94","b1f892a9.329a78"],["edb8f995.c6b67"]]},{"id":"48261b49.387edc","type":"mqtt out","z":"a6a21600.c91048","name":"Polorization 2M and 70CM","topic":"SAT_Relay_2","qos":"","retain":"","broker":"fc9768bd.165278","x":919,"y":767,"wires":[]},{"id":"3ead4dd2.25b802","type":"mqtt out","z":"a6a21600.c91048","name":"2M Antenna Select","topic":"SAT_Relay_4","qos":"","retain":"","broker":"fc9768bd.165278","x":845,"y":1196,"wires":[]},{"id":"b1f892a9.329a78","type":"mqtt out","z":"a6a21600.c91048","name":"70CM Pre-Amp","topic":"SAT_Relay_6","qos":"","retain":"","broker":"fc9768bd.165278","x":1137,"y":2191,"wires":[]},{"id":"1910490a.7e2a7f","type":"switch","z":"a6a21600.c91048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":698.8888549804688,"y":1462.22216796875,"wires":[["7b1789ee.a6cbf8","97330e4b.6edc3"],["f8dfbb5c.83c278"]]},{"id":"f8dfbb5c.83c278","type":"gate","z":"a6a21600.c91048","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":853.0888824462891,"y":1547.0225830078125,"wires":[["7b1789ee.a6cbf8","97330e4b.6edc3"]]},{"id":"97330e4b.6edc3","type":"mqtt out","z":"a6a21600.c91048","name":"2M Pre-Amp","topic":"SAT_Relay_5","qos":"","retain":"","broker":"fc9768bd.165278","x":1158.0247497558594,"y":1512.822265625,"wires":[]},{"id":"7b1789ee.a6cbf8","type":"ui_led","z":"a6a21600.c91048","group":"e43fb893.bdeb38","order":1,"width":2,"height":1,"label":"2M","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"1","valueType":"num"},{"color":"red","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"2M Pre-Amp Gate","x":1249.1110877990723,"y":1593.710828781128,"wires":[]},{"id":"7d074718.dde0d","type":"change","z":"a6a21600.c91048","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":913.8888244628906,"y":1775.822265625,"wires":[["7b1789ee.a6cbf8","97330e4b.6edc3"]]},{"id":"f7c248dd.4d3b88","type":"change","z":"a6a21600.c91048","name":"2M TX On","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645.0888061523438,"y":1815.8223876953125,"wires":[["f8dfbb5c.83c278","7d074718.dde0d"]]},{"id":"f6379c0.bba7c68","type":"change","z":"a6a21600.c91048","name":"2M TX Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":673.0888061523438,"y":1938.8223876953125,"wires":[["f8dfbb5c.83c278"]]},{"id":"9ece1e59.ba18f8","type":"switch","z":"a6a21600.c91048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":515.0888061523438,"y":1884.8223876953125,"wires":[["f7c248dd.4d3b88"],["f6379c0.bba7c68"]]},{"id":"92956776.41c638","type":"debug","z":"a6a21600.c91048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":673.3333333333334,"y":1394.4444444444443,"wires":[]},{"id":"bf98bcf2.4a1648","type":"debug","z":"a6a21600.c91048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":685.5555555555555,"y":2063.3333333333335,"wires":[]},{"id":"49ca552e.e5012c","type":"mqtt out","z":"a6a21600.c91048","name":"Satellites - on/off","topic":"SAT_Relay_1","qos":"","retain":"","broker":"fc9768bd.165278","x":872,"y":321,"wires":[]},{"id":"8eafe0d2.d8e3e8","type":"debug","z":"a6a21600.c91048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":788.5,"y":210,"wires":[]},{"id":"1478ac37.d47ab4","type":"ui_group","z":"","name":"On/Off","tab":"82ec68b7.8e8778","order":1,"disp":true,"width":2,"collapse":false},{"id":"644bd536.b108fc","type":"ui_group","z":"","name":"Rotation","tab":"82ec68b7.8e8778","order":4,"disp":true,"width":2,"collapse":false},{"id":"9814785a.e5ed58","type":"ui_group","z":"","name":"2M","tab":"82ec68b7.8e8778","order":2,"disp":true,"width":4,"collapse":false},{"id":"675578bc.bdcf38","type":"ui_group","z":"","name":"70 CM","tab":"82ec68b7.8e8778","order":3,"disp":true,"width":2,"collapse":false},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"e43fb893.bdeb38","type":"ui_group","z":"","name":"Pre-Amp Power","tab":"82ec68b7.8e8778","order":5,"disp":true,"width":"4","collapse":false},{"id":"82ec68b7.8e8778","type":"ui_tab","z":"","name":"Satellites","icon":"dashboard","order":2,"disabled":false,"hidden":false}]