Master Flows/Server Cabinent.json
[{"id":"df64365.df3f1c8","type":"tab","label":"Server Cabinet","disabled":false,"info":""},{"id":"a4393cc9.4eecf","type":"mqtt in","z":"df64365.df3f1c8","name":"","topic":"Garage_Temp","qos":"0","datatype":"auto","broker":"fc9768bd.165278","x":234,"y":1188,"wires":[["8e6852bb.890388","f78ddc40.df71f8","dcf02906.05a308"]]},{"id":"9fd185f4.2788f","type":"ui_level","z":"df64365.df3f1c8","group":"2d9dd02c.d66178","order":2,"width":0,"height":0,"name":"Top Temp","label":"Top","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"50","max":"125","segWarn":"80","segHigh":"100","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":830,"y":233,"wires":[]},{"id":"9fedc39d.9987f8","type":"ui_level","z":"df64365.df3f1c8","group":"2d9dd02c.d66178","order":3,"width":0,"height":0,"name":"Middle Temp","label":"Middle","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"50","max":"125","segWarn":"80","segHigh":"100","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":884,"y":556.0000305175781,"wires":[]},{"id":"dcf02906.05a308","type":"ui_level","z":"df64365.df3f1c8","group":"2d9dd02c.d66178","order":4,"width":0,"height":0,"name":"Garage Temp","label":"Garage","colorHi":"#e60000","colorWarn":"#00fa00","colorNormal":"#fffc00","colorOff":"#595959","min":"50","max":"125","segWarn":"60","segHigh":"90","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":914,"y":1233,"wires":[]},{"id":"edb65008.731c6","type":"switch","z":"df64365.df3f1c8","name":"Top High Temperature Setpoint","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":469,"y":1633,"wires":[["cfa73fd4.4b6b48"]]},{"id":"648d1d30.8b52cc","type":"change","z":"df64365.df3f1c8","name":"Top High Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"Top Cabinet Temperature High","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Top Cabinet Temperature High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":915,"y":1593,"wires":[["abbfd9ec.b8de38"]]},{"id":"9b01cefd.6360d8","type":"switch","z":"df64365.df3f1c8","name":"Bottom High Temperature Setpoint","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":463,"y":2023,"wires":[["73cf3f74.df882"]]},{"id":"84f3b9b5.84b82","type":"change","z":"df64365.df3f1c8","name":"Bottom High Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cabinet Bottom Temperature High","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Cabinet Bottom Temperature High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":879,"y":2014,"wires":[["abbfd9ec.b8de38"]]},{"id":"3ab1f738.1c4988","type":"link in","z":"df64365.df3f1c8","name":"","links":["28a4e983.c29f8e","3774b1b3.f4e23e"],"x":289,"y":1587,"wires":[["edb65008.731c6"]]},{"id":"fffccc6d.6ee7e","type":"link in","z":"df64365.df3f1c8","name":"","links":["10af960.ce937ea","c4e060b3.89be4"],"x":337,"y":1947,"wires":[["9b01cefd.6360d8"]]},{"id":"cfa73fd4.4b6b48","type":"rbe","z":"df64365.df3f1c8","name":"","func":"deadband","gap":"5%","start":"","inout":"in","property":"payload","x":691,"y":1678,"wires":[["648d1d30.8b52cc"]]},{"id":"73cf3f74.df882","type":"rbe","z":"df64365.df3f1c8","name":"","func":"deadbandEq","gap":"5%","start":"","inout":"in","property":"payload","x":693,"y":1970,"wires":[["84f3b9b5.84b82"]]},{"id":"3774b1b3.f4e23e","type":"link out","z":"df64365.df3f1c8","name":"Top Cabinent Temp","links":["3ab1f738.1c4988"],"x":969,"y":94,"wires":[]},{"id":"445e6a14.39eafc","type":"link out","z":"df64365.df3f1c8","name":"Midele Cabinent Temp","links":["91881b2e.3b7f7"],"x":837,"y":411,"wires":[]},{"id":"f78ddc40.df71f8","type":"link out","z":"df64365.df3f1c8","name":"Garage Temp","links":["8eda5e98.9e887"],"x":902,"y":1058,"wires":[]},{"id":"106e3cb4.456053","type":"switch","z":"df64365.df3f1c8","name":"Garage Low Temperature Setpoint","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":494,"y":2212,"wires":[["fef182f8.eb7088"]]},{"id":"f8dd2acd.ee631","type":"change","z":"df64365.df3f1c8","name":"Garage Low Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"Garage Low Temperature","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Garage Low Temperaure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2203,"wires":[["abbfd9ec.b8de38"]]},{"id":"8eda5e98.9e887","type":"link in","z":"df64365.df3f1c8","name":"","links":["10af960.ce937ea","f78ddc40.df71f8"],"x":368,"y":2136,"wires":[["106e3cb4.456053"]]},{"id":"fef182f8.eb7088","type":"rbe","z":"df64365.df3f1c8","name":"","func":"deadbandEq","gap":"5%","start":"","inout":"in","property":"payload","x":724,"y":2159,"wires":[["f8dd2acd.ee631"]]},{"id":"1bf46906.dbe397","type":"inject","z":"df64365.df3f1c8","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":182,"y":2206,"wires":[["106e3cb4.456053"]]},{"id":"2ec58d0f.7b7bb2","type":"inject","z":"df64365.df3f1c8","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":174,"y":2040,"wires":[["9b01cefd.6360d8"]]},{"id":"fd3f47ac.b57fc8","type":"inject","z":"df64365.df3f1c8","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":174,"y":1631,"wires":[["edb65008.731c6"]]},{"id":"20ae353b.7054ca","type":"mqtt in","z":"df64365.df3f1c8","name":"Flex PA Temp","topic":"Flex PA Temp","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":195,"y":2388,"wires":[["22f816c2.a3ba42"]]},{"id":"22f816c2.a3ba42","type":"switch","z":"df64365.df3f1c8","name":"Flex PA Temp Low Temperature Setpoint","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"130","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":492,"y":2389,"wires":[["89315354.3460c8"]]},{"id":"cbe93cb3.ca12d","type":"change","z":"df64365.df3f1c8","name":"Flex PA Temp High","rules":[{"t":"set","p":"payload","pt":"msg","to":"Flex PA Temp High","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Flex PA Temp High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":957,"y":2383,"wires":[["abbfd9ec.b8de38"]]},{"id":"89315354.3460c8","type":"rbe","z":"df64365.df3f1c8","name":"","func":"deadbandEq","gap":"5%","start":"","inout":"in","property":"payload","x":752,"y":2329,"wires":[["cbe93cb3.ca12d"]]},{"id":"6af43387.09569c","type":"ui_level","z":"df64365.df3f1c8","group":"2d9dd02c.d66178","order":3,"width":0,"height":0,"name":"Bottom Temp","label":"Bottom","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"50","max":"125","segWarn":"80","segHigh":"100","unit":"F","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":3000,"x":902.6666870117188,"y":889,"wires":[]},{"id":"c4e060b3.89be4","type":"link out","z":"df64365.df3f1c8","name":"Bottom Cabinent Temp","links":["fffccc6d.6ee7e"],"x":896.6666870117188,"y":716,"wires":[]},{"id":"7121e51.541789c","type":"switch","z":"df64365.df3f1c8","name":"Middle High Temperature Setpoint","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":484,"y":1824,"wires":[["7a02b3f4.2ef774"]]},{"id":"7a02b3f4.2ef774","type":"rbe","z":"df64365.df3f1c8","name":"","func":"deadband","gap":"5%","start":"","inout":"in","property":"payload","x":696,"y":1869,"wires":[["eaacf354.f54ea"]]},{"id":"f8ca0cbd.af2f6","type":"inject","z":"df64365.df3f1c8","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":179,"y":1822,"wires":[["7121e51.541789c"]]},{"id":"eaacf354.f54ea","type":"change","z":"df64365.df3f1c8","name":"Middle High Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"Middle Cabinet Temperature High","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Top Cabinet Temperature High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1822,"wires":[["abbfd9ec.b8de38"]]},{"id":"91881b2e.3b7f7","type":"link in","z":"df64365.df3f1c8","name":"","links":["28a4e983.c29f8e","445e6a14.39eafc"],"x":290,"y":1759,"wires":[["7121e51.541789c"]]},{"id":"abbfd9ec.b8de38","type":"link out","z":"df64365.df3f1c8","name":"High Cabinent Temperature Alarm","links":["efe17435.004f7","85516fcd.2213"],"x":1162,"y":1841,"wires":[]},{"id":"ac8d1530.98e9f8","type":"mqtt in","z":"df64365.df3f1c8","name":"","topic":"Top_Cabinent_Temp","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":239,"y":171,"wires":[["fd1db3e2.e130f8","3774b1b3.f4e23e","9fd185f4.2788f"]]},{"id":"e972cc0e.ac57b","type":"mqtt in","z":"df64365.df3f1c8","name":"","topic":"Middle_Cabinent_Temp","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":266,"y":537,"wires":[["7974fabb.58b8b4","445e6a14.39eafc","9fedc39d.9987f8"]]},{"id":"80d59270.73a988","type":"mqtt in","z":"df64365.df3f1c8","name":"","topic":"Bottom_Cabinent_Temp","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":295,"y":843,"wires":[["8417ad9c.af2788","6af43387.09569c","c4e060b3.89be4"]]},{"id":"fd1db3e2.e130f8","type":"debug","z":"df64365.df3f1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":444,"y":75,"wires":[]},{"id":"7974fabb.58b8b4","type":"debug","z":"df64365.df3f1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":478,"y":431,"wires":[]},{"id":"8417ad9c.af2788","type":"debug","z":"df64365.df3f1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":508,"y":743,"wires":[]},{"id":"8e6852bb.890388","type":"debug","z":"df64365.df3f1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":445,"y":1047,"wires":[]},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"},{"id":"2d9dd02c.d66178","type":"ui_group","z":"","name":"Cabinet Info","tab":"6f95f9c2.a102","order":5,"disp":true,"width":"6","collapse":false},{"id":"6f95f9c2.a102","type":"ui_tab","z":"","name":"Cabinet","icon":"dashboard","order":4,"disabled":false,"hidden":false}]