Master Flows/Tune Button Rev0.json
[{"id":"ecc1ed4a.454b4","type":"tab","label":"API Tune Button","disabled":false,"info":""},{"id":"f4bb2605.bf0d9","type":"change","z":"ecc1ed4a.454b4","name":"topic = \"Maestro\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Maestro","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510.8333282470703,"y":400.8333225250244,"wires":[["125ae9c9.5cf5be"]]},{"id":"6e021ffc.0bcdd","type":"change","z":"ecc1ed4a.454b4","name":"topic = \"MacPro\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MacPro","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510.8333282470703,"y":440.8333225250244,"wires":[["125ae9c9.5cf5be"]]},{"id":"9c330bf2.955ef8","type":"change","z":"ecc1ed4a.454b4","name":"topic = \"MacMini\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MacMini","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510.8333282470703,"y":480.8333225250244,"wires":[["125ae9c9.5cf5be"]]},{"id":"1a5341.58648cc","type":"ui_dropdown","z":"ecc1ed4a.454b4","name":"Client Drop-Down","label":"","tooltip":"","place":"Select option","group":"7010f600.55de9c","order":11,"width":3,"height":1,"passthru":true,"options":[{"label":"Maestro","value":"Maestro","type":"str"},{"label":"MacPro","value":"MacPro","type":"str"},{"label":"MacMini","value":"MacMini","type":"str"},{"label":"MacBookPro","value":"MacBookPro","type":"str"},{"label":"iPad","value":"iPad","type":"str"}],"payload":"","topic":"","x":146.3333282470703,"y":772.8333129882812,"wires":[["7378d1f4.9f8838"]]},{"id":"7378d1f4.9f8838","type":"change","z":"ecc1ed4a.454b4","name":"topic = msg.payload","rules":[{"t":"set","p":"device","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390.3333206176758,"y":771.8333053588867,"wires":[[]]},{"id":"125ae9c9.5cf5be","type":"switch","z":"ecc1ed4a.454b4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":778.8333740234375,"y":465.8333435058594,"wires":[["bea67751.d956f"]]},{"id":"be1463b6.6ef7d8","type":"inject","z":"ecc1ed4a.454b4","name":"initilize the flow variable \"device\"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":248.33334350585938,"y":253.33330917358398,"wires":[["d62746f2.f0bb7"]]},{"id":"d62746f2.f0bb7","type":"change","z":"ecc1ed4a.454b4","name":"topic = \"Maestro\"","rules":[{"t":"set","p":"device","pt":"flow","to":"Maestro","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.3333435058594,"y":253.33330917358398,"wires":[[]]},{"id":"2106f55.372ea8a","type":"comment","z":"ecc1ed4a.454b4","name":"initilize flow variable at deploy","info":"","x":208.33334350585938,"y":213.33330917358398,"wires":[]},{"id":"b4f505b4.64ab","type":"comment","z":"ecc1ed4a.454b4","name":"This section simulates data coming from three devices","info":"","x":280.8333282470703,"y":360.8333225250244,"wires":[]},{"id":"5375d2c5.12a394","type":"comment","z":"ecc1ed4a.454b4","name":"the switch determines which data goes to the gauge","info":"","x":830.8333282470703,"y":400.8333225250244,"wires":[]},{"id":"84ad5cc0.106ca8","type":"comment","z":"ecc1ed4a.454b4","name":"Dropdown to pick device to monitor","info":"","x":190.3333282470703,"y":730.8333129882812,"wires":[]},{"id":"8c02d29d.3a5fe","type":"function","z":"ecc1ed4a.454b4","name":"Tune Maestro","func":"msg.payload = \"C173|client bind client_id=CC9EB661-B18E-4CE8-A9A1-DAD17776F3CB\\r\\n\" + \"C173|transmit tune 1\\r\\n\"\n\nreturn msg;","outputs":1,"noerr":0,"x":291.66664123535156,"y":402.50000953674316,"wires":[["f4bb2605.bf0d9"]]},{"id":"a7d0d433.90d0d","type":"inject","z":"ecc1ed4a.454b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":97.49999491373694,"y":401.6666965484618,"wires":[["8c02d29d.3a5fe","8303797c.e1c648","f711a316.88a71"]]},{"id":"8303797c.e1c648","type":"function","z":"ecc1ed4a.454b4","name":"Tune MacPro","func":"msg.payload = \"C173|client bind client_id=9414D4BA-14E6-4D8E-BC70-3837DA7EB18D\\r\\n\" + \"C173|transmit tune 1\\r\\n\"\n\nreturn msg;","outputs":1,"noerr":0,"x":286.66664123535156,"y":444.16663551330566,"wires":[["6e021ffc.0bcdd"]]},{"id":"f711a316.88a71","type":"function","z":"ecc1ed4a.454b4","name":"Tune MacMini","func":"msg.payload = \"C173|client bind client_id=986AE412-1B04-451B-927B-04B152C830D1\\r\\n\" + \"C173|transmit tune 1\\r\\n\"\n\nreturn msg;","outputs":1,"noerr":0,"x":298.3333282470703,"y":484.16663551330566,"wires":[["9c330bf2.955ef8"]]},{"id":"2fa7dcc0.cd7e5c","type":"link in","z":"ecc1ed4a.454b4","name":"Tune","links":["ed6ec1b6.51f57"],"x":78.33333333333331,"y":464.1666634877522,"wires":[["8c02d29d.3a5fe","8303797c.e1c648","f711a316.88a71","adc93421.e13b98","28f342f5.73d1be"]]},{"id":"bea67751.d956f","type":"link out","z":"ecc1ed4a.454b4","name":"Tune Command","links":["9d6f4343.3a381"],"x":963.7500133514404,"y":458.7500114440918,"wires":[]},{"id":"ee7eb078.868968","type":"tcp request","z":"ecc1ed4a.454b4","server":"192.168.50.80","port":"4992","out":"sit","splitc":" ","name":"","x":540.3333511352539,"y":66.66665744781494,"wires":[["f6d4bada.02ed"]]},{"id":"f6d4bada.02ed","type":"debug","z":"ecc1ed4a.454b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":855.3333511352539,"y":61.66665744781494,"wires":[]},{"id":"9d6f4343.3a381","type":"link in","z":"ecc1ed4a.454b4","name":"TCP to Flex","links":["dfb90db4.7d638","d9e84f9a.2958f8","4d4269dd.0c7d98","9cd9485d.629e78","74271b67.d4c584","bea67751.d956f","8b1774ba.6ba5c"],"x":313.3333511352539,"y":68.66665744781494,"wires":[["ee7eb078.868968"]]},{"id":"fa8f1409.dfc23","type":"function","z":"ecc1ed4a.454b4","name":"Push Button","func":"var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":401.5000190734863,"y":1111.166591644287,"wires":[["df65d074.f80d68","ec79697a.ea4948","ed281e56.134bd8","7feec54f.c9ccfc"]]},{"id":"df65d074.f80d68","type":"ui_button","z":"ecc1ed4a.454b4","name":"Tune Test - on/off","group":"7010f600.55de9c","order":10,"width":3,"height":1,"passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"","x":502.16665267944336,"y":1274.166618347168,"wires":[["fa8f1409.dfc23"]]},{"id":"3a2e2937.b4c766","type":"inject","z":"ecc1ed4a.454b4","name":"Setup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":149.50000381469727,"y":1043.166591644287,"wires":[["7b6cf4b6.f9bdcc"]]},{"id":"a5f11589.f7196","type":"comment","z":"ecc1ed4a.454b4","name":"Push Button Flow","info":"This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n","x":155.50000381469727,"y":939.1665916442871,"wires":[]},{"id":"7b6cf4b6.f9bdcc","type":"function","z":"ecc1ed4a.454b4","name":"Setup","func":"msg = {\n    \"colourA\": \"blue\",\n    \"colourB\": \"red\",\n    \"txtA\": \"Tune - off\",\n    \"txtB\": \"Tune - on\",\n    \"txtclrA\": \"white\",\n    \"txtclrB\": \"black\",\n    \"payloadA\": false,\n    \"payloadB\": true,\n    \"topicSET\": \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":175.49999237060547,"y":1138.666612625122,"wires":[["fa8f1409.dfc23"]]},{"id":"ec79697a.ea4948","type":"switch","z":"ecc1ed4a.454b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"true","vt":"str","case":false},{"t":"regex","v":"false","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":458.00003814697266,"y":885.4166202545166,"wires":[["ed6ec1b6.51f57"],["bfa1a15e.d441"]]},{"id":"ed6ec1b6.51f57","type":"link out","z":"ecc1ed4a.454b4","name":"Tune-On Button","links":["2fa7dcc0.cd7e5c"],"x":687.1666049957275,"y":869.0833072662354,"wires":[]},{"id":"bfa1a15e.d441","type":"function","z":"ecc1ed4a.454b4","name":"Stop Tune","func":"msg.payload = \"C173|transmit tune 0\\r\\n\"\n\nreturn msg;","outputs":1,"noerr":0,"x":604.2499771118164,"y":1013.6666831970215,"wires":[["8b1774ba.6ba5c"]]},{"id":"8b1774ba.6ba5c","type":"link out","z":"ecc1ed4a.454b4","name":"Tune-Off  Button","links":["9d6f4343.3a381"],"x":958.8333263397217,"y":995.7499198913574,"wires":[]},{"id":"ed281e56.134bd8","type":"link out","z":"ecc1ed4a.454b4","name":"Tune Push Button","links":["a5586a52.b9ea18"],"x":784.5692901611328,"y":1116.174638748169,"wires":[]},{"id":"7feec54f.c9ccfc","type":"debug","z":"ecc1ed4a.454b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1037.826156616211,"y":963.3797454833984,"wires":[]},{"id":"adc93421.e13b98","type":"function","z":"ecc1ed4a.454b4","name":"Tune MacBookPro","func":"msg.payload = \"C173|client bind client_id=D2F5D0B7-3E7F-47DC-B654-D36AA6C1A213\\r\\n\" + \"C173|transmit tune 1\\r\\n\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":295.00543212890625,"y":535.8695678710938,"wires":[["5605eed0.f6b28"]]},{"id":"5605eed0.f6b28","type":"change","z":"ecc1ed4a.454b4","name":"topic = \"MacBookPro\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MacBookPro","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":526.5054321289062,"y":533.5362548828125,"wires":[["125ae9c9.5cf5be"]]},{"id":"28f342f5.73d1be","type":"function","z":"ecc1ed4a.454b4","name":"Tune iPad","func":"msg.payload = \"C173|client bind client_id=F2290415-6815-4078-8669-1FD7C39E0B7F\\r\\n\" + \"C173|transmit tune 1\\r\\n\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":271.1358642578125,"y":592.0869750976562,"wires":[["3fd49aac.f3e2c6"]]},{"id":"3fd49aac.f3e2c6","type":"change","z":"ecc1ed4a.454b4","name":"topic = \"iPad\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"iPad","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":549.6358642578125,"y":589.753662109375,"wires":[["125ae9c9.5cf5be"]]},{"id":"7010f600.55de9c","type":"ui_group","z":"","name":"HF Amp","tab":"60c7eab7.e319e4","order":1,"disp":true,"width":6,"collapse":false},{"id":"60c7eab7.e319e4","type":"ui_tab","z":"","name":"Flex 6600","icon":"dashboard","order":1,"disabled":false,"hidden":false}]