Master Flows/XVTA Fans.json
[{"id":"30b44888.e2d2f","type":"tab","label":"XVTR Fans","disabled":false,"info":""},{"id":"631925b4.87fa2c","type":"mqtt in","z":"30b44888.e2d2f","name":"","topic":"70CM_PTT","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":273.22221755981445,"y":842.1110992431641,"wires":[["b2061adb.6719a8","ed9f7b49.d1aa8"]]},{"id":"3cbe3f5c.aea978","type":"mqtt in","z":"30b44888.e2d2f","name":"","topic":"1296_PTT","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":219.0000228881836,"y":1287.9999885559082,"wires":[["5d658bd0.1188b4","8d3a9deb.c61d08"]]},{"id":"b2061adb.6719a8","type":"debug","z":"30b44888.e2d2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":429.27777099609375,"y":635.0000047683716,"wires":[]},{"id":"5d658bd0.1188b4","type":"debug","z":"30b44888.e2d2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":439.5000228881836,"y":1178.9999885559082,"wires":[]},{"id":"1aa0417f.104ae7","type":"mqtt in","z":"30b44888.e2d2f","name":"","topic":"2M_PTT","qos":"2","datatype":"auto","broker":"fc9768bd.165278","x":264,"y":268,"wires":[["a3fdc8e2.ee84e8","66a7a2fe.a6a664"]]},{"id":"a3fdc8e2.ee84e8","type":"debug","z":"30b44888.e2d2f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":519.5,"y":203,"wires":[]},{"id":"66a7a2fe.a6a664","type":"switch","z":"30b44888.e2d2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":513.4444580078125,"y":336.444580078125,"wires":[["4f932727.cac4f8"],["8d6f49c6.05f5f8","2b0a1273.e1abd6"]]},{"id":"e7e0979c.ed10e","type":"link out","z":"30b44888.e2d2f","name":"2M PTT","links":["a551f84e.ae4538","de99ed3c.8c1f18"],"x":1179.444580078125,"y":321.888916015625,"wires":[]},{"id":"fedb5100.789b08","type":"trigger","z":"30b44888.e2d2f","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":955.6666030883789,"y":467.66688203811646,"wires":[["e7e0979c.ed10e","327c67ad.c228a"]]},{"id":"ed9f7b49.d1aa8","type":"switch","z":"30b44888.e2d2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":473,"y":839,"wires":[["84337527.eb916"],["a57470be.92ae7"]]},{"id":"d25c6bc8.415258","type":"link out","z":"30b44888.e2d2f","name":"70M PTT","links":["6de7b84d.fec13","de99ed3c.8c1f18"],"x":1227.0001831054688,"y":826.4443359375,"wires":[]},{"id":"d2837f3e.72c868","type":"trigger","z":"30b44888.e2d2f","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":965.2221908569336,"y":930.2222595214844,"wires":[["d25c6bc8.415258"]]},{"id":"8d3a9deb.c61d08","type":"switch","z":"30b44888.e2d2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1292,"wires":[["5f967883.f2aca8"],["c4c4dd72.a5cb78"]]},{"id":"236400ab.3faa4","type":"link out","z":"30b44888.e2d2f","name":"1296 PTT","links":["a551f84e.ae4538","de99ed3c.8c1f18"],"x":1244.0001831054688,"y":1279.4443359375,"wires":[]},{"id":"7f761594.ce7c54","type":"trigger","z":"30b44888.e2d2f","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":966.6666564941406,"y":1406.555570602417,"wires":[["236400ab.3faa4"]]},{"id":"8d6f49c6.05f5f8","type":"change","z":"30b44888.e2d2f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":457.77777777777777,"wires":[["fedb5100.789b08","230eddaa.53d35a"]]},{"id":"4f932727.cac4f8","type":"change","z":"30b44888.e2d2f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":841.1111111111111,"y":316.6666666666667,"wires":[["e7e0979c.ed10e"]]},{"id":"5f967883.f2aca8","type":"change","z":"30b44888.e2d2f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":825.555549621582,"y":1269.9998445510864,"wires":[["236400ab.3faa4"]]},{"id":"c4c4dd72.a5cb78","type":"change","z":"30b44888.e2d2f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":733.3333129882812,"y":1403.333251953125,"wires":[["7f761594.ce7c54"]]},{"id":"84337527.eb916","type":"change","z":"30b44888.e2d2f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":831.111083984375,"wires":[["d25c6bc8.415258"]]},{"id":"a57470be.92ae7","type":"change","z":"30b44888.e2d2f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":701.111083984375,"y":926.6666259765625,"wires":[["d2837f3e.72c868"]]},{"id":"2b0a1273.e1abd6","type":"debug","z":"30b44888.e2d2f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":702,"y":392,"wires":[]},{"id":"230eddaa.53d35a","type":"debug","z":"30b44888.e2d2f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1002,"y":565,"wires":[]},{"id":"327c67ad.c228a","type":"debug","z":"30b44888.e2d2f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1226,"y":484,"wires":[]},{"id":"fc9768bd.165278","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Server RPI","birthQos":"0","birthRetain":"false","birthPayload":"Server MQTT Alive","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"Server RPI","willQos":"0","willRetain":"false","willPayload":"Server MQTT Failure"}]